/* General Style */
body {background:#000000;margin:0;padding:0;}
#contanier {background:url('http://img.blutbad.ru/i/main/t/4.jpg') top center repeat-x #000000; text-align:center;}
#centerBlock {background:url('http://img.blutbad.ru/i/main/t/5.jpg') top center no-repeat;width:1000px;margin-left:auto;margin-right:auto;}
.logoBlock {height:180px;padding-left:200px;}
.logoBlock h1 {color:#FFFFFF;font-family:'Times New Roman', sans-serif;font-weight:normal;font-size:25pt;font-style:oblique;text-align:left;}
.dataBar {height:35px;padding-right:300px;text-align:right;color:#FFFFFF;font-size:7pt;}
.leftBlock {text-align:right;padding:100px 0 10px 0;}
.textBlock {width:584px;background:url('http://img.blutbad.ru/i/main/t/6.jpg') no-repeat;padding:20px 24px 20px 20px;color:#000000;}
.rightColumn {width:216px;padding-top:30px;}
.boxTable {width:216px;background:url('http://img.blutbad.ru/i/main/t/7.jpg') bottom no-repeat #000000;margin-bottom:10px;}
.menuTitle {height:76px;background:url('http://img.blutbad.ru/i/main/t/8.jpg') no-repeat;color:#FFE581;
text-align:right;padding:30px;font-family: verdana,arial,helvetica;
font-size:12pt;
color: #FDCFA0;
font-size: 12px;
font-weight: bold;
 }
.boxTitle {height:76px;background:url('http://img.blutbad.ru/i/main/t/9.jpg') no-repeat;color:#FFE581;
text-align:right;padding:30px;
font-family: verdana,arial,helvetica;
font-size:12pt;

color: #FDCFA0;
font-size: 12px;
font-weight: bold;
}
.boxContent {padding: 0 10px 35px 10px;}
.footer {background:url('http://img.blutbad.ru/i/main/t/3.jpg') repeat-x;}

.textBlock a.catName:link, .textBlock a:link, .cBlock1 a:link, .cBlock2 a:link {color:#5E4600;}
.textBlock a.catName:active, .textBlock a:active, .cBlock1 a:active, .cBlock2 a:active { color:#5E4600;}
.textBlock a.catName:visited, .textBlock a:visited, .cBlock1 a:visited, .cBlock2 a:visited {text-decoration:underline; color:#5E4600;}
.textBlock a.catName:hover, .textBlock a:hover, .cBlock1 a:hover, .cBlock2 a:hover {text-decoration:none; color:#FF0000;}

a:link {text-decoration:underline; color:#FFEEB0;}
a:active {text-decoration:underline; color:#FFEEB0;}
a:visited {text-decoration:underline; color:#FFEEB0;}
a:hover {text-decoration:none; color:#FF0000;}

td, body {font-family:verdana,arial,helvetica; font-size:8pt;color:#726257;}
form {padding:0px;margin:0px;}
input,textarea,select {vertical-align:middle; font-size:8pt; font-family:verdana,arial,helvetica;}
.copy {font-size:7pt;}

a.noun:link {text-decoration:none; color:#B27D5D}
a.noun:active {text-decoration:none; color:#B27D5D}
a.noun:visited {text-decoration:none; color:#B27D5D}
a.noun:hover {text-decoration:none; color:#FAE8C0}

hr {color:#EBD98E;height:1px;border:none;background:#EBD98E;}
h1 {color:#5E4600;font-size:14pt;font-family:'Times New Roman', sans-serif;font-weight:bold;font-style:oblique;text-align:center;}
label {cursor:pointer;cursor:hand}

.blocktitle {font-family:Verdana,Sans-Serif;color:#D9B627;font-size:12px;}

a.menu1:link {text-decoration:underline; color:#FAFAFA}
a.menu1:active {text-decoration:underline; color:#FAFAFA}
a.menu1:visited {text-decoration:underline; color:#FAFAFA}
a.menu1:hover {text-decoration:underline; color:#EBD98E}
.menuTd {padding-left:12px;padding-right:10px; background: url('http://img.blutbad.ru/i/main/t/10.gif') no-repeat 0px 3px;}

.mframe {border-left:1px solid #E5E7EA; border-right:1px solid #E5E7EA;}
.colgray {border-right:1px solid #E5E7EA;}
.colwhite {border-right:1px solid #FAFAFA;}
.msep {border-top:1px solid #FAFAFA;}
/* ------------- */

/* Menus */
ul.uz, ul.uMenuRoot {list-style: none; margin: 0 0 0 0; padding-left: 0px;}
li.menus {margin: 0; padding: 0 0 0 13px; background: url('http://img.blutbad.ru/i/main/t/11.gif') no-repeat 0px 3px; margin-bottom: .6em;}
/* ----- */

/* Site Menus */
.uMenuH li {float:left;padding:0 5px;}


.uMenuV .uMenuItem {font-weight:normal;}
.uMenuV li a:link {text-decoration:none; color:#B27D5D}
.uMenuV li a:active {text-decoration:nonee; color:#B27D5D}
.uMenuV li a:visited {text-decoration:none; color:#B27D5D}
.uMenuV li a:hover {text-decoration:none; color:#FAE8C0}

.uMenuV a.uMenuItemA:link {text-decoration:none; color:#FAE8C0}
.uMenuV a.uMenuItemA:visited {text-decoration:none; color:#FAE8C0}
.uMenuV a.uMenuItemA:hover {text-decoration:underline; color:#FAE8C0}
.uMenuV .uMenuArrow {position:absolute;width:10px;height:10px;right:0;top:3px;background:url('/.s/img/wd/1/ar1.gif') no-repeat 0 0;}
.uMenuV li {margin: 0; padding: 0 0 0 13px; background: url('http://img.blutbad.ru/i/main/t/11.gif') no-repeat 0px 3px; margin-bottom: .6em;}
/* --------- */

/* Module Part Menu */
.catsTd {padding: 0 0 6px 13px; background: url('http://img.blutbad.ru/i/main/t/11.gif') no-repeat 0px 3px;}
.catName {font-family:Verdana,Tahoma,Arial,Sans-Serif;font-size:11px;}
.catNameActive {font-family:Verdana,Tahoma,Arial,Sans-Serif;font-size:11px;}
.catNumData {font-size:7pt;color:#948549;}
.catDescr {font-size:7pt; padding-left:10px;}
a.catName:link {text-decoration:none; color:#B27D5D;}
a.catName:visited {text-decoration:none; color:#B27D5D;}
a.catName:hover {text-decoration:none; color:#FAE8C0;}
a.catName:active {text-decoration:none; color:#B27D5D;}
a.catNameActive:link {text-decoration:none; color:#FAE8C0;}
a.catNameActive:visited {text-decoration:none; color:#FAE8C0;}
a.catNameActive:hover {text-decoration:underline; color:#FAE8C0;}
a.catNameActive:active {text-decoration:none; color:#FAE8C0}
/* ----------------- */

/* Entries Style */
.eBlock {}
.eTitle {font-family:Verdana,Arial,Sans-Serif;font-size:13px;font-weight:bold;color:#337E17; padding: 7px 7px 7px 37px; background: url('http://img.blutbad.ru/i/main/t/12.gif') left center no-repeat;}
.eTitle a:link {text-decoration:underline; color:#337E17;}
.eTitle a:visited {text-decoration:underline; color:#337E17;}
.eTitle a:hover {text-decoration:underline; color:#000000;}
.eTitle a:active {text-decoration:underline; color:#337E17;}

.eMessage {text-align:justify;padding:10px !important;color:#000000;}
.eText {text-align:justify;padding:10px !important;color:#000000;}
.eDetails {background:#E6D07B;font-family:Tahoma,Arial,Sans-Serif;color:#A88956;padding:5px; text-align:left;font-size:7pt;}
.eDetails1 {background:#E6D07B;font-family:Tahoma,Arial,Sans-Serif;color:#A88956;padding:5px; text-align:left;font-size:7pt;}
.eDetails2 {background:#E6D07B;font-family:Tahoma,Arial,Sans-Serif;color:#1A1A1A;padding:5px; text-align:left;font-size:7pt;}

.eRating {font-size:7pt;}

.eAttach {margin: 16px 0 0 0; padding: 0 0 0 15px; background: url('http://img.blutbad.ru/i/main/t/13.gif') no-repeat 0px 0px;}
/* ------------- */

/* Entry Manage Table */
.manTable {}
.manTdError {color:#FF0000;}
.manTd1 {}
.manTd2 {}
.manTd3 {}
.manTdSep {}
.manHr {}
.manTdBrief {}
.manTdText {}
.manTdFiles {}
.manFlFile {}
.manTdBut {}
.manFlSbm {}
.manFlRst {}
.manFlCnt {}
/* ------------------ */

/* Comments Style */
.cAnswer {padding-left:15px;padding-top:4px;font-style:italic;}

.cBlock1 {background:#E3CE77;border-top:3px double #CAAF44;color:#000000;}
.cBlock2 {background:#D4BF68;border-top:3px double #CAAF44;color:#000000;}
/* -------------- */

/* Comments Form Style */
.commTable {}
.commTd1 {color:#000000;}
.commTd2 {}
.commFl {color:#948549;width:100%;background:#FEFEFA;border:1px solid #EBD98E;}
.smiles {border:1px inset;background:#FFFFFF;}
.commReg {padding: 10 0 10 0px; text-align:center;}
.commError {color:#FF0000;}
.securityCode {color:#948549;background:#FEFEFA;border:1px solid #EBD98E;}
/* ------------------- */

/* Archive Menu */
.archUl {list-style: none; margin:0; padding-left:0;}
.archLi {padding: 0 0 3px 10px; background: url('http://img.blutbad.ru/i/main/t/14.gif') no-repeat 0px 4px; font-family:Tahoma,Arial,Sans-Serif;}
a.archLink:link {text-decoration:underline; color:#000000;}
a.archLink:visited {text-decoration:underline; color:#000000;}
a.archLink:hover {text-decoration:none; color:#000000;}
a.archLink:active {text-decoration:none; color:#000000;}
/* ------------ */

/* Archive Style */
.archiveCalendars {text-align:center;color:#0000FF;}
.archiveDateTitle {font-weight:bold;color:#B27D5D;padding-top:15px;}
.archEntryHr {width:250px;color:#DEC089;}
.archiveeTitle li {margin-left: 15px; padding: 0 0 0 15px; background: url('http://img.blutbad.ru/i/main/t/15.gif') no-repeat 0px 4px; margin-bottom: .6em;}
.archiveEntryTime {width:65px;font-style:italic;}
.archiveEntryComms {font-size:9px;color:#AE8741;}
a.archiveDateTitleLink:link {text-decoration:none; color:#000000}
a.archiveDateTitleLink:visited {text-decoration:none; color:#000000}
a.archiveDateTitleLink:hover {text-decoration:underline; color:#FF0000}
a.archiveDateTitleLink:active {text-decoration:underline; color:#000000}
.archiveNoEntry {text-align:center;color:#0000FF;}
/* ------------- */

/* Calendar Style */
.calMonth {}
.calWday {color:#FDEDCD; background:#894D27; width:18px;}
.calWdaySe {color:#FDEDCD; background:#604637; width:18px;}
.calWdaySu {color:#FDEDCD; background:#604637; width:18px; font-weight:bold;}
.calMday {}
.calMdayA {background:#B27D5D;font-weight:bold;color:#FDEDCD}
.calMdayIs {background:#FAE2B4;font-weight:bold;}
.calMdayIsA {border:1px solid #FF0000; background:#FAE2B4;font-weight:bold;}
a.calMonthLink:link,a.calMdayLink:link {text-decoration:none; color:#B27D5D;}
a.calMonthLink:visited,a.calMdayLink:visited {text-decoration:none; color:#B27D5D;}
a.calMonthLink:hover,a.calMdayLink:hover {text-decoration:underline; color:#FF000000;}
a.calMonthLink:active,a.calMdayLink:active {text-decoration:underline; color:#B27D5D;}
/* -------------- */

/* Poll styles */
.pollBut {width:110px;}

.pollBody {padding:7px; margin:0px; background:url('http://img.blutbad.ru/i/main/t/16.jpg') #000000;}
.textResults {background:#EBEAE0}
.textResultsTd {background:#E6DEBA}
.pollBodyTable {background:#F7F0BB;}

.pollNow {border-bottom:1px solid #EBEAE0; border-left:1px solid #EBEAE0; border-right:1px solid #EBEAE0;}
.pollNowTd {background:#E6DEBA}

.totalVotesTable {border-bottom:1px solid #EBEAE0; border-left:1px solid #EBEAE0; border-right:1px solid #EBEAE0;}
.totalVotesTd {background:#E6DEBA;}
/* ---------- */

/* User Group Marks */
a.groupModer:link,a.groupModer:visited,a.groupModer:hover {color:blue;}
a.groupAdmin:link,a.groupAdmin:visited,a.groupAdmin:hover {color:red;}
a.groupVerify:link,a.groupVerify:visited,a.groupVerify:hover {color:green;}
/* ---------------- */

/* Other Styles */
.replaceTable {background:#000000;height:100px;width:300px;}
.replaceBody {background:url('http://img.blutbad.ru/i/main/t/4.jpg') top center repeat-x #000000;}

.legendTd {font-size:7pt;color:#FED36F;}
.legendTable, .fFastSearchTd, .userRights {color:#FED36F;}
/* ------------ */

/* ===== forum Start ===== */

/* General forum Table View */
.gTable {background:#363636;}
.gTableTop {padding:2px;background:url('http://img.blutbad.ru/i/main/t/3.jpg') top center repeat-x #000000;color:#FFEEB0;font-weight:bold;height:30px;padding-left:17px;padding-top:3px;font-family:'Times New Roman', sans-serif;font-size:11pt;font-style:oblique;}
.gTableSubTop {padding:2px;background:url('http://img.blutbad.ru/i/main/t/17.gif') center #000000;color:#FDEDCD;height:20px;font-size:10px;}
.gTableBody {padding:2px;background:#2C2C27;}
.gTableBody1 {padding:2px;background:url('http://img.blutbad.ru/i/main/t/18.jpg') right bottom no-repeat #000000;padding:10px !important;}
.gTableBottom {padding:2px;background:#2C2C27;}
.gTableLeft {padding:2px;background:#2C2C27;font-weight:bold;color:#948549}
.gTableRight {padding:2px;background:#2C2C27;}
.gTableError {padding:2px;background:#2C2C27;color:#FF0000;}
/* ------------------------ */

/* Forums Styles */
.forumNameTd,.forumLastPostTd {padding:2px;background:url('http://img.blutbad.ru/i/main/t/18.jpg') right bottom no-repeat #000000;padding:10px !important;}
.forumIcoTd,.forumThreadTd,.forumPostTd {padding:2px;background:#2C2C27;}
.forumLastPostTd,.forumArchive {padding:2px;font-size:7pt;}

a.catLink:link {text-decoration:underline; color:#FFEEB0;}
a.catLink:visited {text-decoration:underline; color:#FFEEB0;}
a.catLink:hover {text-decoration:underline; color:#FF0000;}
a.catLink:active {text-decoration:underline; color:#FFEEB0;}

.lastPostGuest,.lastPostUser,.threadAuthor {font-weight:bold}
.archivedForum{font-size:7pt;color:#FF0000;font-weight:bold;}
/* ------------- */

/* forum Titles & other */
.forum {font-weight:bold;font-size:9pt;}
.forumDescr,.forumModer {color:#858585;font-size:7pt;}
.forumViewed {font-size:9px;}
a.forum:link, a.lastPostUserLink:link, a.forumLastPostLink:link, a.threadAuthorLink:link {text-decoration:none; color:#948549;}
a.forum:visited, a.lastPostUserLink:visited, a.forumLastPostLink:visited, a.threadAuthorLink:visited {text-decoration:none; color:#948549;}
a.forum:hover, a.lastPostUserLink:hover, a.forumLastPostLink:hover, a.threadAuthorLink:hover {text-decoration:underline; color:#BEA863;}
a.forum:active, a.lastPostUserLink:active, a.forumLastPostLink:active, a.threadAuthorLink:active {text-decoration:underline; color:#948549;}
/* -------------------- */

/* forum Navigation Bar */
.forumNamesBar {font-weight:bold;font-size:7pt;color:#D69D30;}
.forumBarKw {font-weight:normal;}
a.forumBarA:link {text-decoration:none; color:#FFFFFF;}
a.forumBarA:visited {text-decoration:none; color:#FFFFFF;}
a.forumBarA:hover {text-decoration:none; color:#FED36F;}
a.forumBarA:active {text-decoration:underline; color:#FFFFFF;}
/* -------------------- */

/* forum Fast Navigation Blocks */
.fastNav,.fastSearch,.fastLoginForm {font-size:7pt;}
/* ---------------------------- */

/* forum Fast Navigation Menu */
.fastNavMain {background:#F1EEC5;}
.fastNavCat {background:#F9F5E6;}
.fastNavCatA {background:#F9F5E6;color:#0000FF}
.fastNavForumA {color:#0000FF}
/* -------------------------- */

/* forum Page switches */
.switches {}
.pagesInfo {background:#2C2C27;padding-right:10px;font-size:7pt;}
.switch {background:#2C2C27;width:15px;font-size:7pt;}
.switchActive {background:#B27D5D;font-weight:bold;color:#FDEDCD;width:15px}
a.switchDigit:link,a.switchBack:link,a.switchNext:link {text-decoration:none; color:#FFFFFF;}
a.switchDigit:visited,a.switchBack:visited,a.switchNext:visited {text-decoration:none; color:#FFFFFF;}
a.switchDigit:hover,a.switchBack:hover,a.switchNext:hover {text-decoration:underline; color:#FF0000;}
a.switchDigit:active,a.switchBack:active,a.switchNext:active {text-decoration:underline; color:#FFFFFF;}
/* ------------------- */

/* forum Threads Style */
.threadNametd,.threadAuthTd,.threadLastPostTd {background:url('http://img.blutbad.ru/i/main/t/18.jpg') right bottom no-repeat #000000;padding:10px !important;}
.threadIcoTd,.threadPostTd,.threadViewTd {padding:2px;background:#2C2C27;}
.threadLastPostTd {padding:2px;font-size:7pt;}
.threadDescr {color:#858585;font-size:7pt;}
.threadNoticeLink {font-weight:bold;}
.threadsType {padding:2px;background:#000000;height:20px;font-weight:bold;font-size:7pt;color:#948549;padding-left:40px; }
.threadsDetails {padding:2px;background:#2C2C27;height:20px;color:#948549;}
.forumOnlineBar {padding:2px;background:url('http://img.blutbad.ru/i/main/t/17.gif') center #000000;color:#B27D5D;height:20px;}

a.threadPinnedLink:link {text-decoration:none; color:#0000FF;}
a.threadPinnedLink:visited {text-decoration:none; color:#0000FF;}
a.threadPinnedLink:hover {text-decoration:none; color:#FF0000;}
a.threadPinnedLink:active {text-decoration:underline; color:#FF0000;}

a.threadLink:link {text-decoration:none; color:#948549;}
a.threadLink:visited {text-decoration:none; color:#948549;}
a.threadLink:hover {text-decoration:underline; color:#FF0000;}
a.threadLink:active {text-decoration:underline; color:#000000;}

.postpSwithces {font-size:7pt;}
.thDescr {font-weight:normal;color:#FED36F;}
.threadFrmBlock {font-size:7pt;text-align:right;}
/* ------------------- */

/* forum Posts View */
.postTable {background:#363636;}
.postPoll {background:url('http://img.blutbad.ru/i/main/t/18.jpg') right bottom no-repeat #000000;padding:10px !important;text-align:center;}
.postFirst {background:#FDFCF4;border-bottom:3px solid #D9B627;}
.postRest1 {background:#FFF8EB;}
.postRest2 {background:#FDFCF4;}
.postSeparator {height:3px;background:#B5AF80;}

.postTdTop {background:url('http://img.blutbad.ru/i/main/t/17.gif') center #000000;color:#FDEDCD;height:20px;font-size:10px;}
.postBottom {background:url('http://img.blutbad.ru/i/main/t/17.gif') center #000000;color:#FDEDCD;height:20px;font-size:10px;}
.postUser {font-weight:bold;}
.postTdInfo {background:#2C2C27;text-align:center;padding:5px;}
.postRankName {margin-top:5px;}
.postRankIco {margin-bottom:5px;margin-bottom:5px;}
.reputation {margin-top:5px;}
.signatureHr {margin-top:20px;color:#D9B627;}
.posttdMessage {background:url('http://img.blutbad.ru/i/main/t/18.jpg') right bottom no-repeat #000000;padding:10px !important;}

.pollQuestion {text-align:center;font-weight:bold;} 
.pollButtons,.pollTotal {text-align:center;}
.pollSubmitBut,.pollreSultsBut {width:140px;font-size:7pt;}
.pollSubmit {font-weight:bold;}
.pollEnd {text-align:center;height:30px;}

.codeMessage {background:#202020;font-size:9px;}
.quoteMessage {background:#202020;font-size:9px;}

.signatureView {font-size:7pt;} 
.edited {padding-top:30px;font-size:7pt;text-align:right;color:gray;}
.editedBy {font-weight:bold;font-size:8pt;}

.statusBlock {padding-top:3px;}
.statusOnline {color:#0000FF;}
.statusOffline {color:#FF0000;}
/* ------------------ */

/* forum AllInOne Fast Add */
.newThreadBlock {background: #F9F9F9;border: 1px solid #B2B2B2;}
.newPollBlock {background: #F9F9F9;border: 1px solid #B2B2B2;}
.newThreadItem {padding: 0 0 0 8px; background: url('http://img.blutbad.ru/i/main/t/19.gif') no-repeat 0px 4px;}
.newPollItem {padding: 0 0 0 8px; background: url('http://img.blutbad.ru/i/main/t/19.gif') no-repeat 0px 4px;}
/* ----------------------- */

/* forum Post Form */
.pollBut, .loginButton, .searchSbmFl, .commSbmFl, .signButton {font-size:7pt;background: #726257;color:#FFE5B6;border:1px outset #726257;}

.codeButtons {font-size:7pt;background: #726257;color:#FFE5B6;border:1px outset #726257;}
.codeCloseAll {font-size:7pt;background: #726257;color:#FFE5B6;border:1px outset #726257;font-weight:bold;}
.postNameFl,.postDescrFl {background:#FEFEFA;border:1px solid #948549;width:400px}
.postPollFl,.postQuestionFl {background:#FEFEFA;border:1px solid #948549;width:400px}
.postResultFl {background:#FEFEFA;border:1px solid #948549;width:50px}
.postAnswerFl {background:#FEFEFA;border:1px solid #948549;width:300px}
.postTextFl {background:#FEFEFA;border:1px solid #948549;width:550px;height:150px}
.postUserFl {background:#FEFEFA;border:1px solid #948549;width:300px}

.pollHelp {font-weight:normal;font-size:7pt;padding-top:3px;}
.smilesPart {padding-top:5px;text-align:center}
/* ----------------- */

/* ====== forum End ====== */