@charset "windows-1251";
/* CSS Document */

.all{
	height: 100%;
	width: 1000px;
}

.head {
	height: 463px;
	width: 1000px;
}


.menu{
	text-align: center;
	position: absolute;
	width: 1000px;
	left: 0px;
	bottom: -50px;
}

.menu a{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #E7D6AB;
}

.menu span{
	margin: 0 45px;
}

.left_colomn{
	width: 193px;
	background-image: 
	background-repeat: no-repeat;
	background-position: center top;
}

.login{
	font-size: 14px;
	font-style: italic;
	color: #FFF;
	margin-top: 50px;
	margin-left: 60px;
	width: 115px;
}

.login input[type="text"]{
	width: 90px;
	margin-bottom: 10px;
}

.login input[type="button"]{
	font-size: 12px;
	margin-bottom: 15px;
}

.login a{
	width: 70px;
	color: #FFF;
	font-style: italic;
}

.right_colomn{
	width: 807px;
	background-image: 
	background-repeat: repeat-y;
}

.content_top{
	background-image: 
	background-repeat: no-repeat;
	height: 60px;
	width: 807px;
}

.content{
	margin-right: 80px;
	margin-left: 65px;
	min-height: 300px;
}

.podval{
	background-image:
	background-repeat: no-repeat;
	height: 286px;
	background-position: right;
	width: 1000px;
}

.podval, .podval a{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-style: italic;
	color: #e7d6ab;
}

.podval a.design{
	position: absolute;
	left: 740px;
	top: 200px;
}

p.podval2{
	position: absolute;
	left: 200px;
	top: 200px;
}
