.xbbutton {font-weight: bold; background: #6181A6 url("http://img.blutbad.ru/i/button/buttons_1.png") repeat-x scroll 0 -19px; color: #ECECEC; font-size: 11px; text-shadow: 0px 1px 0px #000; padding: 2px 10px 2px 10px; cursor: pointer; border: 1px solid #254D77; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px;}
.xbbutton:hover {background:url("http://img.blutbad.ru/i/button/buttons_1.png") repeat-x scroll 0 -12px;border: 1px solid #254D77;}
.xbbutton:active {outline:none;background:#6181A6;position:relative;border:1px solid #254D77;}
.xbbutton:focus {outline:none;background:#6181A6;position:relative;border:1px solid #254D77;}

.xbutton {font-weight: bold; background: #79A762 url("http://img.blutbad.ru/i/button/buttons_2.png") repeat-x scroll 0 -16px; color: #FFFFFF; font-size: 11px; text-shadow: 0px 1px 0px #000; padding: 2px 10px 2px 10px; cursor: pointer; border: 1px solid #3E7815; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px;}
.xbutton:hover {background:url("http://img.blutbad.ru/i/button/buttons_2.png") repeat-x scroll 0 -12px;border: 1px solid #3B7812;}
.xbutton:active {outline:none;background:#79A762;position:relative;border:1px solid #29550C;}
.xbutton:focus {outline:none;background:#79A762;position:relative;border:1px solid #29550C;

    -o-box-shadow: 0 0 1px 1px #5BD959;
    -moz-box-shadow: 0 0 1px 1px #5BD959;
    -khtml-box-shadow: 0 0 1px 1px #5BD959;
    -webkit-box-shadow: 0 0 1px 1px #5BD959;
    box-shadow: 0 0 1px 1px #5BD959;
}

.xgbutton {font-weight: bold; background: #A6A5A5 url("http://img.blutbad.ru/i/button/buttons_3.png") repeat-x scroll 0 -14px; color: #222; font-size: 11px; text-shadow: 0px 1px 0px #9B9797; padding: 2px 10px 2px 10px; cursor: pointer; border: 1px solid #2D2E2C; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px;}
.xgbutton:hover {background:url("http://img.blutbad.ru/i/button/buttons_3.png") repeat-x scroll 0 -12px;border: 1px solid #2D2E2C;}
.xgbutton:active {outline:none;background:#A6A5A5;position:relative;border:1px solid #2D2E2C;}
.xgbutton:focus {outline:none;background:#A6A5A5;position:relative;border:1px solid #2D2E2C;

    -o-box-shadow: 0 0 1px 1px #98A597;
    -moz-box-shadow: 0 0 1px 1px #98A597;
    -khtml-box-shadow: 0 0 1px 1px #98A597;
    -webkit-box-shadow: 0 0 1px 1px #98A597;
    box-shadow: 0 0 1px 1px #98A597;
}

.top-error fieldset {
    background-color: #DFDFDF;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}