.uinf {
	padding-top: 0;
	padding-right: 0;
	width: 350px;
}

.uinf table {
	background-color: #DEE2E7;
	width: 100%;
}

.uinf th {
	background-color: #92A2AF;
	color: #FFFFFF;
	font-size: 11px;
	padding: .3em;
}

.uinf td {
	padding: .1em .3em;
}

#characteristics td {
	/*border: 1px solid #B7C2C8;*/
	width: 50%;
}


#characteristics td.right {
	text-align: right;
    border-right: 1px solid #B7C2C8;
}



.top-row {
	background-color: #D9E4ED;
	width: 100%;
}

.top-row img {
	vertical-align: top;
}

.top-row .l-img {
	background: url('http://img.blutbad.ru/i/menu/3.gif') repeat-x;
	width: 100%;
}

#user-search-col {
	vertical-align: middle;
}

#user-search {
	background-color: #92A2AF;
	border: 1px solid #657583;
	height: 24px;
	*height: 26px;
	padding: 4px 1em 0;
	*padding-top: 2px;
	white-space: nowrap;
}

#user-search label,
#user-search input {
	vertical-align: middle;
}

#user-search label {
	color: #FFFFFF;
	font-weight: bold;
	margin-right: .5em;
}