.logtext {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Arial, Helvetica, Tahoma, sans-serif
}
td {
vertical-align: top;
}
/*OL {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Arial, Helvetica, Tahoma, sans-serif
}
UL {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Arial, Helvetica, Tahoma, sans-serif
}
LI {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Arial, Helvetica, Tahoma, sans-serif
}
P {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Arial, Helvetica, Tahoma, sans-serif
}*/
.text {
border: 1px solid #404040;
padding: 1px;
}
h1, h2, h3, h4 {
font-size: 12px;
font-weight: bold;
margin-bottom: 1em;
text-decoration: none;
}

.btn {
	border: 1px double #9a9996;
	font-size: 12px;
	color: #dfdfdf;
	background-color:#504F4C;
}
/*.date {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #007000; FONT-FAMILY: Courier; TEXT-DECORATION: none
}*/
.date2 {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #007000; FONT-FAMILY: Courier; background-color: #ADADAD; TEXT-DECORATION: none
}
.sysdate {
color: #000;
font-family: Courier, monospace;
font-size: 10pt;
font-weight: normal;
text-decoration: none;
background-color: #A5A5A5;
}

A.private {
	FONT-WEIGHT: bold; COLOR: red; BACKGROUND-COLOR: #fae0e0
}
A.private:hover {
	FONT-WEIGHT: bold; COLOR: red; BACKGROUND-COLOR: #fae0e0
}
A.private:visited {
	FONT-WEIGHT: bold; COLOR: red; BACKGROUND-COLOR: #fae0e0
}
A.private:active {
	FONT-WEIGHT: bold; COLOR: red; BACKGROUND-COLOR: #fae0e0
}

.dsc {
	FONT-WEIGHT: normal; COLOR: #606060
}
SELECT {
	BORDER-RIGHT: #b0b0b0 1pt solid; BORDER-TOP: #b0b0b0 1pt solid; MARGIN-TOP: 1px; FONT-SIZE: 10px; MARGIN-BOTTOM: 2px; BORDER-LEFT: #b0b0b0 1pt solid; COLOR: #191970; BORDER-BOTTOM: #b0b0b0 1pt solid; FONT-FAMILY: MS Sans Serif
}
TEXTAREA {
	BORDER-RIGHT: #b0b0b0 1pt solid; BORDER-TOP: #b0b0b0 1pt solid; MARGIN-TOP: 1px; FONT-SIZE: 10px; MARGIN-BOTTOM: 2px; BORDER-LEFT: #b0b0b0 1pt solid; COLOR: #191970; BORDER-BOTTOM: #b0b0b0 1pt solid; FONT-FAMILY: MS Sans Serif
}

input.button {

border: 1px solid #404040;
color: #333;
cursor: pointer;
font-weight: bold;
overflow: visible;
padding: 1px .5em;
font-size: 11px;
}
input, select, textarea {
font-size: 1em;
font-family: Verdana, sans-serif;
}
.ahint {
	FONT-SIZE: 10px; COLOR: #000080;  TEXT-DECORATION: none
}
#hint2 {
	VISIBILITY: hidden; WIDTH: 140px; POSITION: absolute; BACKGROUND-COLOR: #fff6dd; layer-background-color: #FFF6DD
}
#hint3 {
	VISIBILITY: hidden; WIDTH: 240px; POSITION: absolute; BACKGROUND-COLOR: #fff6dd; layer-background-color: #FFF6DD
}
.B1 {
	FONT-WEIGHT: bold; COLOR: #BB5500
}
.B2 {
	FONT-WEIGHT: bold; COLOR: #0055BB
}
.B {
	FONT-WEIGHT: bold;
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
table {
border-collapse: collapse;
border-spacing: 0;
}



.menu {
border: 1px solid;
background-color: #C4C4C4;
border-color: #FFF #6F6A6A #6F6A6A #FFF;
 /*  background-color: #858585;
 border-color: #ffffff #626060 #626060 #ffffff;
  border-style: solid;
  border-width: 1px;*/
  position: absolute;
  left: 0px;
  top: 0px;

}

.menuItem {
  border: 0px solid #000000;
  color: #830000;
  display: block;
  font-family: MS Sans Serif, Arial, Tahoma,sans-serif;
  font-size: 8pt;
  font-weight: bold;
  padding: 0px 12px 0px 8px;
  text-decoration: none;
  cursor:pointer;
}
.mItema{
  color: #830000;
}

.menuItem:hover {
  background-color: #DDDDDD;
  color: #830000;

  font-weight: bold;
}



.my_clip_button {   border: 0px solid #000000;
  color: #003388;
  display: block;
  font-family: MS Sans Serif, Arial, Tahoma,sans-serif;
  font-size: 8pt;
  font-weight: bold;
  padding: 2px 12px 2px 8px;
  text-decoration: none; }
.my_clip_button.hover { background-color: #a2a2a2; color: #0066FF; }
.actbt
{
	position: fixed; font-size: 10pt; color: #000; font-weight: bold;  height: 18px; text-align: center; font-family: Arial; top: 0px; width: 70px; background-image: url(test/active_bg.gif);
}
.nactbt
{
	position: fixed; font-size: 10pt; height: 18px; color: #fff; text-align: center; font-family: Arial; top: 0px; width: 70px; background-image: url(test/nonact_bg.gif);
}





#hint3  {
 z-index: 1000
}
#hint3 input{
border: 1px solid #404040;
padding: 1px;
}
#hint3 .mtabte{
     background-color: #92A2AF;
     border: 2px solid #92A2AF;
}

#hint3 .mtabte .hint3-title {
    height: 18px;
}

#hint3 .mtabte .hint3-titletext {
    vertical-align: middle;
    font-size: 11px;
    padding: 1px;
}

#hint3 .mtabte .hint3-close {
    text-align: center;
    vertical-align: middle;
}

#hint3 .mtabte .hint3-content {
    padding: 5px;
    background-color: #DEE2E7;
}
#hint3 .mtabte .hint3-content-body {
    text-align: center;
    vertical-align: middle;
}

#hint3 .mtabte .hint3-content-body .mtext {
    padding-bottom: 10px;
    padding-top: 5px;
    text-align: left;
}

#hint3 .mtabte .hint3-content-body .mitem {
vertical-align: middle;
padding: 3px;
}