.unequip {
	text-align: center;
}

.unequip a {
	font-weight: bold;
}

#use-dialog table label,
#use-dialog table input.text {
	margin: 0 .5em .5em 0;
}

.items-inventory .total-items {
	float: right;
	font-weight: bold;
	margin-bottom: .5em;
}

.items-inventory .stack-all a {
	/*margin-right: .5em;*/
}

.items-inventory .stack-all img {
	cursor: pointer;
	height: 16px;
	margin-right: .5em;
	width: 16px;
}

.items-inventory .stack-options {
	height: 16px;
}

.items-inventory .stack-options .number {
	float: left;
	font-weight: bold;
}

.items-inventory .stack-options .action {
	cursor: pointer;
	float: right;
}

.items-inventory td {
	border: 1px solid #696969;
	padding: 0.3em 0.5em;
}

.items-inventory tr.even td {
	/*background-color: #C5CED5;*/
}

.items-inventory .img {
	text-align: center;
	width: 120px;
}

.items-inventory .title-container img.indicator {
	vertical-align: middle;
}

table.inventory-table {
	width: 100%;
}

ul.inventory-table {
	clear: both;
}

ul.inventory-table table {
	width: 100%;
}

.properties-expander {
	cursor: pointer;
	height: 9px;
	width: 9px;
}

.action-highlight {
	background-color: #FFF0AA;
}

#block-loader {
	margin-top: 6px;
	text-align: center;
}

#block-loader img {
	height: 19px;
	width: 220px;
}

/*
 * Temp n_main.css
 */

#tooltip.properties ul {
	padding-left: 0;
}


.wgr {
cursor: pointer;
border: 1px solid #949494;
margin-bottom: 1px;
background: #CCD5DB;
font-weight: bold;
color: #4C3000;
background: -webkit-gradient(linear,0 0,0 100%,from(rgba(255, 255, 255, 0)),to(rgba(255, 255, 255, 0.25))),-webkit-gradient(linear,0 0,0 100%,from(#DEE2E7),to(#B7B8C2));
background: -webkit--webkit-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-webkit--webkit-linear-gradient(top,#DEE2E7,#B7B8C2));
background: -webkit--moz-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-webkit--moz-linear-gradient(top,#DEE2E7,#B7B8C2));
background: -webkit--o-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-webkit--o-linear-gradient(top,#DEE2E7,#B7B8C2));
background: -webkit--ms-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-webkit--ms-linear-gradient(top,#DEE2E7,#B7B8C2));
background: -webkit-linear-gradient(to bottom,rgba(255,255,255,.25),rgba(255,255,255,0),-webkit-linear-gradient(to bottom,#DEE2E7,#B7B8C2));
background: -moz--webkit-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-moz--webkit-linear-gradient(top,#DEE2E7,#B7B8C2));
background: -moz--moz-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-moz--moz-linear-gradient(top,#DEE2E7,#B7B8C2));
background: -moz--o-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-moz--o-linear-gradient(top,#DEE2E7,#B7B8C2));
background: -moz--ms-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-moz--ms-linear-gradient(top,#DEE2E7,#B7B8C2));
background: -moz-linear-gradient(to bottom,rgba(255,255,255,.25),rgba(255,255,255,0),-moz-linear-gradient(to bottom,#DEE2E7,#B7B8C2));
background: -o--webkit-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-o--webkit-linear-gradient(top,#DEE2E7,#B7B8C2));
background: -o--moz-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-o--moz-linear-gradient(top,#DEE2E7,#B7B8C2));
background: -o--o-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-o--o-linear-gradient(top,#DEE2E7,#B7B8C2));
background: -o--ms-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-o--ms-linear-gradient(top,#DEE2E7,#B7B8C2));
background: -o-linear-gradient(to bottom,rgba(255,255,255,.25),rgba(255,255,255,0),-o-linear-gradient(to bottom,#DEE2E7,#B7B8C2));
background: -webkit-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-webkit-linear-gradient(top,#DEE2E7,#B7B8C2));
background: -moz-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-moz-linear-gradient(top,#DEE2E7,#B7B8C2));
background: -o-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-o-linear-gradient(top,#DEE2E7,#B7B8C2));
background: -ms-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-ms-linear-gradient(top,#DEE2E7,#B7B8C2));
background: linear-gradient(to bottom,rgba(255,255,255,.25),rgba(255,255,255,0),linear-gradient(to bottom,#DEE2E7,#B7B8C2));
}
