#infobar {
margin-bottom: 2em;
}
.ui-block fieldset {
display: inline-block;
margin: .9em .2em;
width: 315px;
}
#account-info {
margin-right: 1em;
}
#account-info .account-number-col {
background-color: rgba(0, 0, 0, 0);
font-weight: normal;
padding-bottom: 1em;
}
#account-info .account-number {
color: #8B0000;
}

#account-info .separator {
width: 3em;
}
#account-info thead th {
background-color: #DEE2E7;
}
#account-info .number {
font-weight: bold;
padding-left: .5em;
text-align: right;
}

#stock {
background-color: #FFE3E3;
border-width: 1px;
font-size: 1.1em;
margin-top: 2em;
padding: 18px;
}
.attention {
margin-top: 1em;
}

#transfer {
width: 653px;
}

input.button, input.submit{
/*width: 80px;*/
}


#settings .password, #settings .button {
box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 126px;
}


.reportsTotalLine {
position: relative;
}

.reportsTotalLine .expenditure {
text-align: right;
padding-right: 5px;
width: 160px;
}
.reportsTotalLine .SuccessWithFail .success {
font-size: 12px;
width: 95px;
}
.reportsTotalLine .SuccessWithFail .fail {
font-size: 12px;
color: grey;
}
.reportsTotalLine .income {
text-align: left;
width: 65px;
}
.reportsTotalLine .SuccessWithFailCaption {
float: right;
padding-right: 30px;
text-align: right;
}
.reportsTotalLine .SuccessWithFailCaption .successCaption {
font-size: 15px;
}
.reportsTotalLine .SuccessWithFailCaption .failCaption {
font-size: 12px;
color: grey;
}
.reportsTotalLine .originalExpense {
float: right;
width: 160px;
padding-right: 30px;
text-align: left;
}
.clear, .clearBoth {
clear: both;
}
.reportsTotalLine .originalExpense {
float: right;
width: 160px;
padding-right: 30px;
text-align: left;
}
.reportsTotalLine .originalExpense .success {
font-size: 15px;
}
.clear, .clearBoth {
clear: both;
}

 .btd td {
    padding: 2px
 }

 .btd .ctop {
    text-align: center;
    background-color: #C5CAD1;
    font-weight: bold;
    border: 1px solid #7F9DB9;
    padding: 2px;
 }
.btd  b{
    float: right;
 }

 .comment {
 background-color: #DDDDDD;
 border: 1px solid #B8ACAC;
 padding: 3px;
 margin-top: 5px;
}