html {
	height: 100%;
}

.user {
	margin-bottom: 1em;
}

.game-table .title {
	font-weight: bold;
	margin-bottom: .5em;
	text-align: center;
}

.tabs-content .table-list td,
.tabs-content .table-list th {
	text-align: center;
	vertical-align: middle;
}

.table-list .description {
	text-align: left;
}

.table-list .title {
	width: 115px;
}

.table-list .action {
	width: 100px;
}

.table-list .action .button {
	width: 90px;
}

.table-list .info {
	font-weight: normal;
	white-space: nowrap;
}

.blackjack-table .box {
	width: 20%;
}

.roulette-table .box {
	width: 25%;
}

.poker-table .box {
	width: 14%;
}

.blackjack-table td,
.roulette-table td,
.poker-table td {
	text-align: left;
}

.blackjack-table td.empty,
.roulette-table td.empty,
.poker-table td.empty {
	text-align: center;
}

.blackjack-table .nickname,
.roulette-table .nickname,
.poker-table .nickname {
	white-space: normal;
}


.flash-container {
	background: url('http://img.blutbad.ru/i/casino/ramka_obschaya.png') no-repeat;
	height: 300px;
	margin: 0 auto;
	/*padding: 12px 11px;*/
	width: 700px;
}

.flash-poker-container,
.flash-resizable-container {
	background: none;
	height: auto;
	text-align: center;
	width: auto;
}

#flash-poker,
.flash-game {
	height: 300px;
	margin: 0 auto;
	width: 700px;
}

.no-flash {
	background-color: #F0F0F0;
	height: 300px;
	text-align: center;
	width: 700px;
}

.no-flash p {
	font-size: 1.1em;
	margin: 0;
	padding-top: 135px;
}

.no-flash a {
	color: #3f8425; 
	font-weight: bold;
	text-decoration: underline;
}

.chips-form {
	margin-bottom: 1em;
}

.chips-form label {
	display: inline-block;
	*display: inline;
	width: 31em;
	*zoom: 1;
}

input.chips {
	width: 4em;
}

.chips-form .button {
	width: 6.5em;
}

