.unequip {
	text-align: center;
}

.unequip a {
	font-weight: bold;
}

#use-dialog table label,
#use-dialog table input.text {
	margin: 0 .5em .5em 0;
}

.items-inventory .total-items {
	float: right;
	font-weight: bold;
	margin-bottom: .5em;
}

.items-inventory .stack-all a {
	/*margin-right: .5em;*/
}

.items-inventory .stack-all img {
	cursor: pointer;
	height: 16px;
	margin-right: .5em;
	width: 16px;
}

.items-inventory .stack-options {
	height: 16px;
}

.items-inventory .stack-options .number {
	float: left;
	font-weight: bold;
}

.items-inventory .stack-options .action {
	cursor: pointer;
	float: right;
}

.items-inventory td {
	border: 1px solid #696969;
	padding: 0.3em 0.5em;
}

.items-inventory tr.even td {
	/*background-color: #C5CED5;*/
}

.items-inventory .img {
	text-align: center;
	width: 120px;
}

.items-inventory .title-container img.indicator {
	vertical-align: middle;
}

table.inventory-table {
	width: 100%;
}

ul.inventory-table {
	clear: both;
}

ul.inventory-table table {
	width: 100%;
}

.properties-expander {
	cursor: pointer;
	height: 9px;
	width: 9px;
}

.action-highlight {
	background-color: #FFF0AA;
}

#block-loader {
	margin-top: 1em;
	text-align: center;
}

#block-loader img {
	height: 19px;
	width: 220px;
}

/*
 * Temp n_main.css
 */

#tooltip.properties ul {
	padding-left: 0;
}
