/*
 * Dungeon bids
 */
#create-bid-form table {
}

#create-bid-form .password-row {
	display: none;
}

#create-bid-form table td {
	width: 150px;
}

#create-bid-form td.input {
	width: 180px;
}

#create-bid-form .radio-list li {
	display: inline;
	margin-right: .5em;
}

#create-bid-form table th,
#create-bid-form table td {
	padding: 0.3em 0.5em;
}

#create-bid-form table .text,
#create-bid-form table .password {
	width: 116px;
}

#create-bid-form .public {
    color: green;
}

#create-bid-form .private {
    color: red;
}

#captcha {
	cursor: pointer;
}

.table-list {
	width: auto;
}

.table-list .number,
.table-list .status {
}

.table-list tbody .actions {
	text-align: right;
}

.table-list .actions img {
	cursor: pointer;
	height: 16px;
	width: 16px;
}

.table-list .actions img.disabled {
	cursor: default;
}
/* end: Dungeon bids */

#items-col {
	padding-right: 10px;
	text-align: center;
	width: 100px;
}

#items-col fieldset {
	display: none;
}

#items-col img {
	cursor: pointer;
}

body div#hint1 {
    z-index: 120000;
}

fieldset div#confirm {
    display: none;
}

.table-list tr.mine th,
.table-list tr.mine td {
    background-color: #FFEEEE;
}

.table-list .actions {
}

.user {
	margin-bottom: 1em;
}

#Dung {
	outline: 0;
}

.dungeon-col {
	width: 100%;
}

#flashdungeon {
	left: 128px;
	position: absolute;
	top: 63px;
	z-index: 1;
}

.flash-border,
.flash-border-small,
.flash-border-decor {
	background-position: 0 0;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 1;
}

.flash-border-decor {
	z-index: 1001;
}

#sar-dungeon-col .flash-border-decor {
	background-image: url('http://img.carnage.ru/i/dungeon/view_border_sar.gif');
}

#avr-dungeon-col .flash-border-decor {
	background-image: url('http://img.carnage.ru/i/dungeon/view_border_avr.gif');
}

.no-flash {
	background-color: #F0F0F0;
	height: 300px;
	text-align: center;
	width: 500px;
}

.no-flash p {
	font-size: 1.1em;
	margin: 0;
	padding-top: 135px;
}

.no-flash a {
	color: #3f8425;
	font-weight: bold;
	text-decoration: underline;
}

#message1 {
	color: rgb(255,0,0);
	font-size: 11px;
	font-weight: bold;
	left: 5px;
	position: absolute;
	top: 25px;
	z-index: 1;
}