body {
    background-color: #211B22;
}

#center {
    background: #413B49;
    border: 1px solid #B78D77;
    color: #FFFFFF;
    margin: 2em auto 0;
    padding: 1em;
    text-align: center;
    width: 600px;
}

#center-content {
    margin: 0 auto;
    width: 500px;
}

#code-container {
    height: 399px;
    margin: 0 auto;
    width: 277px;
}

.hr {
    border-top: 1px solid #B78D77;
    font-size: 0;
    line-height: 0;
    margin: 11px 0;
}

.top-line {
    padding-bottom: 1em;
    border-bottom: 1px solid #B78D77;
}

a {
    color: white;
}

a.link {
    color: #FFFFCC;
    text-decoration: underline;
}

form {
    text-align: center;
}

h5 {
    font-size: 1.1em;
    margin-bottom: 1em;
}

object, embed {
    outline: 0;
}

.attention {
    color: #FF0000;
}

.description {
    text-align: left;
}

.error {
    text-align: center;
}

.change-table {
    width: 100%;
}

.change-table td {
    /*padding: .2em;
    vertical-align: middle;*/
    width: 50%;
}

.change-table .label {
    text-align: right;
}

.change-table .input {
    text-align: left;
}

.birthday-form * {
    vertical-align: middle;
}