/*#left_user_wrap, #right_user_wrap {
	background-color: #E6EBF4;
	height: 360px;
	position: relative;
	width: 245px;
}*/

.char-items-full-size {
	overflow: hidden;
}

.char-items-full-size .avatar {
	z-index: 1;
}

#left_user_wrap li, #right_user_wrap li {
	position: absolute;
}

/*#left_obraz, #right_obraz {
	width: 105px;
	height: 220px;
	top: 35px;
	left: 70px;
	background: url(http://img.carnage.ru/i/obraz/M.jpg);
}*/

#left_rune1, 
#right_rune1 {
	width: 35px;
	height: 35px;
	top: 0px;
	left: 70px;
	background: url(http://img.carnage.ru/i/char_rune.gif);
}

#left_rune2, 
#right_rune2 {
	width: 35px;
	height: 35px;
	top: 0px;
	left: 105px;
	background: url(http://img.carnage.ru/i/char_rune.gif);
}

#left_rune3, 
#right_rune3 {
	width: 35px;
	height: 35px;
	top: 0px;
	left: 140px;
	background: url(http://img.carnage.ru/i/char_rune.gif);
}

#left_rune4, 
#right_rune4 {
	width: 35px;
	height: 35px;
	top: 255px;
	left: 70px;
	background: url(http://img.carnage.ru/i/char_rune.gif);
}

#left_rune5, 
#right_rune5 {
	width: 35px;
	height: 35px;
	top: 255px;
	left: 105px;
	background: url(http://img.carnage.ru/i/char_rune.gif);
}

#left_rune6, 
#right_rune6 {
	width: 35px;
	height: 35px;
	top: 255px;
	left: 140px;
	background: url(http://img.carnage.ru/i/char_rune.gif);
}

#left_helmet, 
#right_helmet {
	width: 70px;
	height: 45px;
	left: 0;
	top: 0;
	background: url(http://img.carnage.ru/i/char_helmet.gif);
}

#left_armor, 
#right_armor {
	width: 70px;
	height: 105px;
	left: 0;
	top: 115px;
	background: url(http://img.carnage.ru/i/char_armor.gif);
}

#left_pants, 
#right_pants {
	background-image: url(http://img.carnage.ru/i/char_pants.gif);
	height: 105px;
	left: 0;
	top: 220px;
	width: 70px;
}

#left_belt, 
#right_belt {
	background-image: url(http://img.carnage.ru/i/char_belt.gif);
	height: 35px;
	left: 0px;
	top: 255px;
	width: 70px;
}

#left_shoes, 
#right_shoes {
	background-image: url(http://img.carnage.ru/i/char_shoes.gif);
	height: 45px;
	left: 175px;
	top: 245px;
	width: 70px;
}

#left_bracelet, 
#right_bracelet {
	background-image: url(http://img.carnage.ru/i/char_bracelet.gif);
	height: 35px;
	left: 175px;
	top: 70px;
	width: 70px;
}

#left_gloves, 
#right_gloves {
	width: 70px;
	height: 35px;
	left: 175px;
	top: 105px;
	background: url(http://img.carnage.ru/i/char_gloves.gif);
}

#left_weapon, #right_weapon {
	width: 70px;
	height: 70px;
	top: 45px;
	left: 0;
	background: url(http://img.carnage.ru/i/char_weapon.gif);
}

#left_shield, 
#right_shield {
	width: 70px;
	height: 70px;
	top: 140px;
	left: 175px;
	background: url(http://img.carnage.ru/i/char_shield.gif);
}

#left_earring, 
#right_earring {
	width: 70px;
	height: 35px;
	top: 0;
	left: 175px;
	background: url(http://img.carnage.ru/i/char_earring.gif);
}

#left_necklace, 
#right_necklace {
	width: 70px;
	height: 35px;
	top: 35px;
	left: 175px;
	background: url(http://img.carnage.ru/i/char_necklace.gif);
}

#left_shoulder, 
#right_shoulder {
	background-image: url(http://img.carnage.ru/i/char_shoulder.gif);
	height: 35px;
	left: 175px;
	top: 70px;
	width: 70px;
}

/*#left_pocket1, 
#right_pocket1 {
	background-image: url(http://img.carnage.ru/i/char_pocket.gif);
	left: 175px;
	top: 210px;
}

#left_pocket2, 
#right_pocket2 {
	background: url(http://img.carnage.ru/i/char_pocket.gif);
	left: 210px;
	top: 210px;
}*/

/*#left_pocket1, 
#left_pocket2,*/
#left_ring1,
#left_ring2,
#left_ring3, 
#left_ring4, 
#left_stone1, 
#left_stone2, 
#left_stone3, 
#left_stone4, 
#left_stone5, 
#left_stone6, 
#left_stone7,
#right_pocket1, 
#right_pocket2, 
#right_ring1, 
#right_ring2, 
#right_ring3,
#right_ring4, 
#right_stone1, 
#right_stone2, 
#right_stone3, 
#right_stone4, 
#right_stone5, 
#right_stone6, 
#right_stone7 {
	width: 35px;
	height: 35px;
}

#left_ring1, #left_ring2, #right_ring1, #right_ring2 {
	top: 220px;
}

#left_ring3, 
#left_ring4, 
#right_ring3,
#right_ring4 {
	top: 210px;
}

#left_ring1, 
#right_ring1 {
	left: 0px;
	background: url(http://img.carnage.ru/i/char_ring.gif);
}

#left_ring2, 
#right_ring2 {
	left: 35px;
	background: url(http://img.carnage.ru/i/char_ring.gif);
}

#left_ring3, 
#right_ring3 {
	left: 175px;
	background: url(http://img.carnage.ru/i/char_ring.gif);
}

#left_ring4, 
#right_ring4 {
	left: 210px;
	background: url(http://img.carnage.ru/i/char_ring.gif);
}

#left_stone1, 
#left_stone2, 
#left_stone3, 
#left_stone4, 
#left_stone5, 
#left_stone6, 
#left_stone7, 
#right_stone1, 
#right_stone2, 
#right_stone3, 
#right_stone4, 
#right_stone5, 
#right_stone6, 
#right_stone7 {
	top: 290px;
}

#left_stone1, #right_stone1 {
	left: 0;
	background: url(http://img.carnage.ru/i/char_stone.gif);
}

#left_stone2, #right_stone2 {
	left: 35px;
	background: url(http://img.carnage.ru/i/char_stone.gif);
}

#left_stone3, #right_stone3 {
	left: 70px;
	background: url(http://img.carnage.ru/i/char_stone.gif);
}

#left_stone4, #right_stone4 {
	left: 105px;
	background: url(http://img.carnage.ru/i/char_stone.gif);
}

#left_stone5, #right_stone5 {
	left: 140px;
	background: url(http://img.carnage.ru/i/char_stone.gif);
}

#left_stone6, #right_stone6 {
	left: 175px;
	background: url(http://img.carnage.ru/i/char_stone.gif);
}

#left_stone7, #right_stone7 {
	left: 210px;
	background: url(http://img.carnage.ru/i/char_stone.gif);
}

.user_table {
	width: 245px;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 5px;
}

.user_table_border {
	border-color: #fff #666 #666 #fff;
	border-style: solid;
	border-width: 1px;
	background-color: #C5CED5;
	padding: 5px;
}

.user_name {
	margin-bottom: 5px;
	width: 100%;
}

.user_name td {
	text-align: center;
}

.center_stats {
	width: 245px;
	padding: 0 5px;
}

.red {
	color: #FF0000;
}

.green {
	color: #00FF00;
}

td.red {
	color: #a50b0b;
}

td.green {
	color: #3f8425;
}

td.blue {
	color: #3d54b8;
}

.tab {
	cursor: pointer;
}

.header {
	font-weight: bold;
	padding-top: 10px;
	height: 30px;
	vertical-align: bottom;
}

.popup_stats {
	left: 266px;
	position: absolute;
	text-align: left;
	z-index: 10000;
}

.popup_stats, .popup_stats_frame {
	display: none;
}

.popup_stats h3 {
	background: #999;
	font-weight: bold;
	padding: 5px 10px;
	text-align: center;
}

.popup_stats #stats_info, .popup_stats #stats_info_equiped {
	padding: 5px 10px;
}

.popup_stats #equiped_stats, .popup_stats #current_stats {
	border: 1px solid #666;
	background: lightyellow;
	float: left;
	width: 244px;
}

.boxFrame {
	float: left;
	z-index: 8000;
	width: 246px;
}

.left_margin {
	left: 23px;
}

.popup_stats {
	z-index: 10000;
}

.popup_stats_frame {
	position: absolute;
	z-index: 8000;
	width: 246px;
}

#popup_stats {
	position: fixed;
	top: 0;
	left: 10px;
	background: lightyellow;
	border: 1px solid #666;
	width: 243px;
	margin-top: 20px;
}

#equiped {
	background: lightyellow;
	display: block;
	position: absolute;
	left: 100%;
	top: 0px;
	border: 1px solid #666;
	width: 243px;
}

#popup_stats h3 {
	background: grey;
	padding: 5px 10px;
	font-weight: bold;
	text-align: center;
}

#popup_stats #stats_info {
	padding: 5px 10px;
}

#popup_stats #stats_info_equiped {
	padding: 5px 10px;
}

#left_items_levels, #right_items_levels {
	/*white-space: nowrap;
	 padding: 5px;*/
	text-align: center;
}

.popup_info {
	padding: 10px 0px 0px 0px;
}

.popup_info_list {
	margin-left: 20px;
	list-style: disc;
}

.popup_info_list li {
	padding: 1px 0
}

td.value {
	width: 30px;
}

.hidden {
	display: none;
}

/*#left_fight_position_0, #left_fight_position_1, #left_fight_position_2, #right_fight_position_0, #right_fight_position_1, #right_fight_position_2 {
 border:0px;
 background:transparent;
 }*/
#fight_button {
	display: block;
	margin: 0 auto;
}

#fight_img {
	cursor: pointer;
}

.iframe_window {
	border: 0px;
	left: 0px;
	position: absolute;
	top: 0px;
	z-index: -1000;
	width: 100%;
	height: 100%;
}

.stats_input {
	width: 25px;
	text-align: center;
}

#left_items, #right_items {
	width: 245px;
	text-align: left;
	background: #E6EBF4;
	overflow: auto;
	height: 325px;
}

#fitting-room-container {
	margin: 0 auto;
	position: relative;
	text-align: center;
	width: 777px;
}

#fitting-room {
}

.block {
	background-color: #C5CED5;
	border-color: #FFFFFF #666666 #666666 #FFFFFF;
}

.char-col {
	width: 255px;
}

.char-block {
	padding: 5px;
}

.fight-block {
	padding: 5px;
	position: relative;
	width: 240px;
}

.char-loader {
	margin-top: 0px;
    margin-bottom: 5px;
}

.char-loader label {
	font-weight: bold;
}

.char-loader .text {
	width: 105px;
}

.char-loader .button {
	overflow: hidden;
	width: 80px;
}

.char-items {
	margin-top: 10px;
}

.items-select {
	margin-top: 5px;
	width: 243px;
}

.items-levels {
	margin-top: 5px;
	text-align: center;
}

.items {
	margin-top: 5px;
}

.items div {
	text-align: center;
}

.controls {
	margin-top: 10px;
}

.controls li {
	margin-bottom: 5px;
	white-space: nowrap;
}

.controls .xgbutton {
	width: 245px;
}

.controls .clear {
	width: 120px;
}

.controls .clone {
	width: 121px;
}

.stats {
	padding: 11px 5px 0;
	width: 245px;
}

.stats table {
	text-align: center;
	width: 100%;
}

.stats table th, .stats table td {
	padding-bottom: 3px;
	vertical-align: middle;
}

.stats table .spacer td {
	font-size: 0;
	height: 10px;
}

.stats table select {
	text-align: center;
}

.stats .fight-block {
	margin-top: 1em;
}

.position-list {
	text-align: left;
}

.position-list li {
	white-space: nowrap;
}

.position-list input, .items-requirements input {
	margin: .2em 0;
}

.position-list label, .position-list input {
	vertical-align: middle;
}

.items-requirements label, .items-requirements input {
	vertical-align: middle;
}

.stats .fight-block select {
	text-align: left;
}

.stats table input.text {
	text-align: center;
	width: 25px;
}

.stats .sum {
	padding-top: 3px;
}

table.custom-params {
	border-collapse: separate;
	border-spacing: 5px;
}
