.cure-table {
	width: auto;
}

.cure-table td,
.cure-table td img {
	vertical-align: middle;
}

.rearrange-table {
	margin-top: .5em;
}

.cost-col {
	line-height: 1.5em;
	padding-left: 1em;
}

.cost-col .button {
	margin-top: .3em;
}

.skills-table td {
	border: 0;
}

.skills-table .label {
	padding-left: 0;
	white-space: nowrap;
}

.skills-table .value {
	width: 100px;
}
