#tab .tab-header {
border-bottom: 1px solid #92A2AF;
font-size: 12px;
margin-bottom: 1em;
padding-bottom: 1em;
}
.table-lot-num {
border-bottom: 1px solid #92A2AF;
margin-right: 1em;
}
.table-lot-num tbody td {
border: 1px solid #92A2AF;
height: 30px;
padding: 0 !important;
text-align: center;
vertical-align: middle;
width: 30px;
cursor: pointer;
}

.table-lot-num .selected {
font-weight: bold;
background: url('http://img.blutbad.ru/i/sellot.png') repeat-x 0px 0px;

}
#reset-link {
display: none;
margin-top: 1em;
text-align: center;
}

#restab {
 border: 1px solid #808080;
}
#restab td {
 border: 1px solid #808080;
 padding: 3px;
}
#table-results {
  margin-bottom: 1em;
  width: auto;
}

.flash-container {
  background: url(http://img.blutbad.ru/i/lottery/r_demiurge_wheel.png) no-repeat;
  height: 300px;
  padding: 12px 11px;
  width: 700px;
}