.tabs-content .write-form {
	position: relative;
}

.cost-tip {
	background-color: #FFFFE1;
	border: 1px solid #000000;
	padding: .5em .5em .5em 1.2em;
	position: absolute;
	right: -16px;
	_right: 5px; /* IE6 */
	top: -16px;
}

.cost-tip .star {
	margin-left: -.7em;
}

.write-letter-table {
	width: 100%;
}

.write-letter-table td.label {
	padding-top: 1em;
}

.write-letter-table td.label-first {
	padding-top: 0;
}

.write-letter-table td.input {
	/*padding-bottom: 1em;*/
	width: 100%;
}

.write-letter-table td.button {
	padding-left: 1em;
}

.write-letter-table td.button .button {
	*width: 90px;
}

.write-letter-table td.input input.text,
.write-letter-table td.input textarea {
	width: 99%;
}

.write-letter-table td.input textarea {
	resize: vertical;
}

.write-letter-table td.input .radio,
.write-letter-table td.input label {
	vertical-align: middle;
}

.write-letter-table td.input .radio {
	margin-left: 2em;
}

.write-letter-table td.input #me {
	margin-left: 0;
}

.comment {
	font-size: 10px;
}

.delivery-date-container {
	margin-top: 1em;
}

#date-time-link {
	color: #888888;
}

#date-time-link img,
#date-time-link span {
	vertical-align: middle;
}

#date-time-link img {
	height: 9px;
	width: 9px;
}

#date-time {
	border: 1px solid;
	padding: .5em;
	width: 16em;
}

#date-time input.text {
	width: auto;
}

#contacts-dialog {
	*overflow: hidden;
}

#contacts-dialog form {
	*position: relative;
}

#contacts-dialog .add-selected {
	margin-bottom: .5em;
	text-align: center;
}

#clan *,
#guild * {
	vertical-align: middle;
}

#contacts-dialog .hover {
	background: #DDDDDD;
	border: 1px solid #CCCCCC;
}



#divKlans {
	background: #eee;
	border: 1px solid #92A2AF;
	position: absolute;
	visibility: hidden;
	width: 400px;
	z-index: 1000;
	top: 0px;
	left: 0px;
}

#contacts-dialog .caption {
	background: #92a2af;
	padding: 5px;
	font-weight: bold;
}

#contacts-dialog .hide {
	float: right;
	padding: 1px;
	width: 11px;
}

#contacts-dialog .hide img {
	cursor: pointer;
}

.divSmiles .caption {
	background: #92a2af;
	padding: 5px;
	font-weight: bold;
}

.divSmiles .hide {
	float: right;
	padding: 1px;
	width: 11px;
}

.divSmiles .hide img {
	cursor: pointer;
}

#contacts-dialog form {
	height: 300px;
	margin: 0px;
	padding: 0px;
	overflow-y: auto;
	text-align: left;
}

#contacts-dialog form .out {
	border: 1px solid #DEE2E7;
	cursor: pointer;
	padding: 2px;
}

#contacts-dialog form .over {
	background: #ddd;
	border: 1px solid #ccc;
	cursor: pointer;
	padding: 2px;
}

#contacts-dialog form .over input {
	background: #ddd;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

#contacts-dialog form .group-name {
	padding: 5px;
	margin: 0;
	text-align: center;
	font-weight: bold;
	border-bottom: 1px dotted gray;
}

#contacts-dialog .bottom {
	padding: 10px 0px 5px 0px;
}

#divKlans .caption {
	background: #92a2af;
	padding: 1px;
}

#divKlans .hide {
	float: right;
	padding: 1px;
	width: 11px;
}

#divKlans .title {
	margin-right: 12px;
}

#divKlans form {
	height: 300px;
	margin: 0px;
	padding: 0px;
	overflow-y: auto;
	text-align: left;
}

#divKlans form .out {
	border: 1px solid #eee;
	cursor: pointer;
	padding: 2px;
}

#divKlans form .out input {
	background: #eee;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

#divKlans form .over {
	background: #ddd;
	border: 1px solid #ccc;
	cursor: pointer;
	padding: 2px;
}

#divKlans form .over input {
	background: #ddd;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

#divKlans form .group-name {
	padding: 5px 2px 2px 2px;
	text-align: center;
}

#divKlans .bottom {
	padding: 10px 0px 5px;
}

#idGiftName {
}

#spanToCounter, 
#spanSubjectCounter, 
#spanBodyCounter, 
#spanGiftBodyCounter, 
#spanGiftTextCounter {
	font-weight: normal;
}

.dottedline {
	padding: 10px 0 5px;
	border-bottom: 1px dotted gray;
	width: 100%;
}

table.out td {
	padding: 3px 5px;
}

.contact_str {
	padding-left: 5px !important;
}

tr.td_mouseover td {
	background: #cfd5df;
}

tr.td_mouseout td {
	background: #dee2e7;
}

.table-list {
	/*margin-bottom: 1em;*/
	position: relative; /* IE6 */
}

.table-list input {
	margin: 0;
	position: relative;
	top: 1px;
	top: -2px\9;
}

.table-list .number {
	text-align: right;
}

.table-list .nickname {
	font-size: 1em;
}

.table-list .subject {
	width: 100%;
}

.table-list .attachment {
	height: 13px;
	float: right;
	position: relative;
	margin-top: -3px;
	width: 20px;
}

.table-list .attachment img {
	position: absolute;
}

.table-list .receive-date,
.table-list .time-left {
	text-align: center;
	white-space: nowrap;
}

.table-list .time-left {
	font-weight: bold;
}

.table-list .attention {
	color: #EE0000;
}

.table-list tbody tr:hover,
.table-list tbody tr.hover td {
	background-color: #C5CAD1;
}

.pagination-container {
	height: 1.3em;
}

.top-pagination {
	margin-bottom: 1em;
}

.buttons-bottom {
	margin-top: 1em;
}

.tabs-content .buttons {
	/*margin-top: 1em;*/
}

.prev-next {
	text-align: right;
}

.prev-next .prev {
	float: left;
}

.prev-next .next {
	float: right;
}

.prev-next-top a {
	margin-bottom: 1em;
}

.prev-next-bottom a {
	margin-top: 1em;
}

.to-list {
	border-bottom: 1px dotted #808080;
	margin-bottom: 1em;
	padding-bottom: .5em;
}

.to-list a {
	font-weight: bold;
}

.letter-info {
	border: 1px solid #808080;
}

.letter-info th,
.letter-info td { 
	padding: .3em .4em;
}

.letter-info th {
	text-align: left;
}

.letter-content-header {
	font-size: 1.2em;
	font-weight: bold;
	margin: .8em 0 0 .9em;
}

div#letter-content {
	background-color: #FFFFFF;
	border: 1px solid #808080;
	margin-top: .3em;
	padding: 1em;
}

.attaches {
	margin-top: 1em;
	text-align: center;
}

.attaches ul {
	text-align: left;
}

.attaches .attach-actions {
	text-align: center;
}

.no-items {
	font-weight: bold;
	text-align: center;
}

.letter-complaint .subject,
.letter-complaint .content {
	background-color: #FFFFFF;
	border: 1px solid #808080;
	margin: .3em 0 1em;
	padding: 1em;
}

.letter-complaint .comment {
	width: 99%;
}

/*
 * postgifts.html
 */

#gift-selection h2 {
	font-size: 1.2em;
	margin-bottom: .8em;
}

#gift-selection .img {
	text-align: center;
}

#gift-selection .description {
	width: 100%;
}

#gift-selection .button {
	width: 80px;
}

#gift-selection .no-items {
	background-color: #DEE2E7;
	border: 1px solid #808080;
	padding: 1em;
}

.chat-message {
	padding: 5px 0 0 0;
}

.chat-add {
	color: #888;
	font-style: italic; 
}
