.filter-form {
	margin-bottom: .5em;
}

.filter-form select {
	margin-right: .5em;
}

#label-source,
#label-co-type {
	display: inline-block;
	*display: inline;
	width: 9.1em;
	*zoom: 1;
}

.table-list input {
	margin: 0;
}

.table-list .type,
.table-list .message {
	text-align: left;
}

.table-list .type {
	white-space: nowrap;
}

.table-list .actions {
	font-weight: bold;
	text-align: center;
}

.table-list .actions .button {
	*width: 95px;
}

.letter-content {
	padding: .5em;
}

#complaints {
	width: auto;
}

#complaints .check input {
	*margin-top: -3px;
}

#complaints .nick {
	font-size: 11px;
}

#comment-form {
	margin-top: 1em;
}
