.table-list {
	width: 610px;
}

.table-list th,
.table-list td {
	border-width: 1px 0;
	vertical-align: middle;
}

.table-list td {
	padding-top: 0;
	padding-bottom: 0;
}

.city {
	width: 100px;
}

.owner {
	text-align: center;
	width: 70px;
}

.table-list td.percents {
	border-right: 0;
	font-weight: bold;
	text-align: right;
	width: 3em;
}

.table-list td.columns {
	border-left: 0;
}

.columns {
	width: 100%;
}

.column {
	border: 1px solid;
}

.column-1 {
	background-color: #FFE700;
}

.column-2 {
	background-color: #0D9B46;
	margin-top: -1px;
}

.column-3 {
	background-color: #E70D46;
	margin-top: -1px;
}