#room-login-form {
	text-align: center;
}

.shop-table td.action {
	text-align: center;
}

.shop-table td.action img {
	cursor: pointer;
}

.password-table td {
	border: 0;
	vertical-align: middle;
}

.password-table .label {
	padding-left: 0;
}

.roll-tabs .roll-tabs {
	padding: .5em;
}

.inventory-table .action {
	text-align: center;
	width: 1%;
}

.inventory-table .action img {
	cursor: pointer;
}

.inventory-list li.even {
	background-color: transparent;
}