.battle-layout {
	width: 100%;
}

.char-view-col {
	/*width: auto;*/
}

.char-view-col .nick {
	
}

.char-view-col .view {
	width: 245px;
}

.char-view-col .hp,
.char-view-col .pw {
	font-size: 0;
	line-height: 0;
}

.battle-action-state {
	padding: 0;
	width: 35px;
}

.char-abilities .actions li {
	display: block;
	float: left;
	overflow: hidden;
}

.char-abilities .actions img {
	cursor: pointer;
	height: 35px;
	width: 35px;
}

.char-abilities .actions img.disabled {
	cursor: default;
}

.bad-list {
	margin-top: .5em;
}

.bad-list td {
	padding: 3px;
	vertical-align: middle;
}

.battle-center {
	font-size: 1.1em;
	padding: 10px 10px 0;
	width: 100%;
}

.affected-actions {
	float: left;
}

#bform {
	text-align: center;
	padding: 0 4em;
}

#wait,
#finish {
	margin-bottom: 1em;
	text-align: center;
}

#wait img {
	cursor: pointer;
}

#wait a {
	display: inline-block;
}

#finish .button {
	margin-top: .5em;
}

#bform .header {
	*margin-bottom: -2px;
}

.battle-controls {
	background-color: #C5CED5;
	border-top: 0;
	/*border-left: 1px solid #DCE2E6;*/
	/*border-right: 1px solid #656A6F;*/
	/*background: #C5CED5 url('http://img.carnage.ru/i/battle/battle_form2.gif') no-repeat;
	height: 150px;*/
	margin: 0 auto;
	text-align: left;
	width: 294px;
}

.battle-controls-main {
	border-bottom: 0;
}

.battle-controls-position {
	/*border-bottom: 1px solid #72787D;*/
}

.battle-bot-controls {
	/*background-image: url('http://img.carnage.ru/i/battle/battle_form3.gif');*/
	/*height: 125px;*/
	width: 190px;
}

.battle-bot-panel-controls {
	/*background-image: url('http://img.carnage.ru/i/battle/battle_form4.gif');*/
	/*height: 130px;*/
	width: 219px;
}

.battle-controls td {
	/*padding-top: 17px;*/
}

.battle-controls-main td,
.battle-bot-controls td,
.battle-bot-panel-controls td {
	padding-top: 2px;
	padding-bottom: 2px;
}

/**
 * Central column
 */
.battle-bot-controls td {
	/*padding-top: 23px;*/
}

.battle-controls .center-col {
	/*padding: 18px 2px 0;*/
	padding-left: 2px;
	padding-right: 2px;
	text-align: center;
	width: 30px;
}

.battle-bot-controls .center-col {
	/*padding-top: 23px;*/
	width: auto;
}

html.firefox .battle-controls .center-col li,
html.msie6 .battle-controls .center-col li,
html.msie7 .battle-controls .center-col li{
	margin-bottom: -2px;
}

html.opera .battle-controls .center-col li {
	margin-bottom: 0;
}

.battle-controls .center-col img {
	cursor: pointer;
	height: 30px;
	width: 30px;
}
/* end: Central column */

/**
 * Attack/Defence columns
 */
.battle-controls li .hit-stat {
	display: inline-block;
	*display: inline;
	height: 12px;
	line-height: 10px;
	text-align: center;
	vertical-align: middle;
	width: 13px;
	*zoom: 1;
}

html.msie8 .battle-controls li .hit-stat {
	margin-right: -3px;
}

.battle-controls li .hit-stat-attack-pos {
	background-color: #ffb0b0;
}

.battle-controls li .hit-stat-defence-pos {
	background-color: #90dd90;
}

.battle-controls li .hit-stat .attack {
	
}

.battle-controls li .hit-stat .defence {
}

.battle-controls li .hit-stat b {
	/*_left: 1px;*/
	*position: relative;
	*top: -2px;
}

.battle-controls li .hit-stat b.defence {
	*left: 0px;
}

.battle-controls li input {
	margin: 0 3px;
	*margin-right: 0;
}

html.msie8 .battle-controls li input {
	margin-right: -1px;
}

html.opera9 .battle-controls li input {
	position: relative;
	top: -1px;
}

.battle-controls .attack-col,
.battle-controls .defence-col {
	width: 127px;
}

.battle-controls .attack-col {
	/*padding-left: 10px;*/
	padding-left: 2px;
}

.battle-controls .defence-col {
	/*padding-right: 10px;*/
	padding-right: 2px;
}

.battle-controls .checkbox-list li {
	margin: 1px 0;
	*line-height: 1.7em;
	_margin: 2px 0;
}

html.opera .battle-controls .checkbox-list li {
	margin: 3px 0;
}

.battle-controls .checkbox-list li.position {
	margin: 19px 0 0;
	_margin-top: 20px;
}

html.opera .battle-controls .checkbox-list li.position {
	margin: 22px 0 0;
}

.battle-controls .checkbox-list label {
	margin-left: -3px;
}

html.firefox .battle-controls-position .radio-list {
	position: relative;
	top: -2px;
}

.radio-list label {
	cursor: pointer;
}

.radio-list .container {
	padding-bottom: 3px;
}

.radio-list .container:hover {
	background-color: #FFF0AA;
}
/* end: Attack/Defence columns */

#action_timeout_div {
	margin-top: .5em;
	text-align: center;
}

#msgbox table {
	margin: 0 auto;
}

#msgbox fieldset {
	border: 2px solid;
	color: #556775;
	margin: .5em 0 0;
	padding: .5em 1em;
}

.nickname,
.nick {
	white-space: normal;
}

.top-error {
	margin-bottom: 0;
}

.top-error .error-content {
	font-weight: normal;
}

#vs-table {
	width: 100%;
}

table.table_form {
	border-collapse: separate;
	border-spacing: 5px;
	scrollbar-face-color: expression(runtimeStyle.scrollbarFaceColor = '#fff', cellSpacing = 5);
}
table.table_form td {
	text-align: center;
}

#fight img {
	position: relative;
}

#fight.highlight img {
	border: 3px solid #FFF0AA;
	margin: -3px;
}

input.highlight {
	background: #FFF0AA;
}

/* tmp main.css */
.user1 {
	color: #b50;
	font-weight: bold;
}

.user2 {
	color: #05b;
	font-weight: bold;
}

.date2 {
	background-color: #ffb0b0;
	color: #202020;
	font-family: Courier, monospace;
	font-size: 10pt;
	font-weight:normal;
	text-decoration:none;
}

.date3 {
	background-color: #b0b0b0;
	color: #202020;
	font-family: Courier, monospace;
	font-size: 8pt;
	font-weight:normal;
	text-decoration:none;
}





.nickname span {
	cursor: default;
}

.level {
	font-weight: normal;
}

a,
a:visited	{
	text-decoration: none;
	font-weight: bold;
	color: #404040;
}

.td2 {
	font-size: 8pt;
}

.td3 {
	font-size: 8pt;
	color: #ffffff;
}

.td3b {
	color: #ffffff;
}

.battle-controls label.last {
	text-decoration: underline;
}

.battle-controls label.last_success {
	color: red;
}		

.battle-controls label.kickme {
	font-weight: bold;
}

.nickname .context {
	cursor: pointer;
}
