body {
	background-color: #C5CED5;
	font-size: 12px;
	padding: .6em;
}

.textarea-container {
	*zoom: 1; /*IE 6,7*/
}

.nick i {
	font-weight: bold;
}

.nick .name {
	cursor: default;
}

.bottom-buttons {
	margin-top: 1em;
}

.bottom-buttons input,
.bottom-buttons label {
	margin-right: .5em;
	vertical-align: middle;
}

.bottom-buttons .checkbox {
	margin: 0;
}

#notifies {
	font-size: 11px;
	_left: expression( ( -0 - notifies.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) / 2 + 145 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
	_top: expression( ( ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 125 + 'px' );
	_z-index: 1000;
}

.ui-pnotify {
	height: auto;
	left: 50%;
	margin-left: -100px;
	position: absolute;
	top: 100px;
	/* Ensure that the notices are on top of everything else. */
	z-index: 9999;
}

.ui-pnotify-title {
	padding-left: 16px;
	text-align: center;
}

.ui-pnotify ul.attention {
	font-weight: bold;
	list-style: disc;
	padding-left: 1.45em;
}

.ui-pnotify ul.attention li {
	margin: .5em 0;
}

/*
 * Header
 */
#header {
	height: 45px;
	margin-bottom: 1px;
	position: relative;
}

#header .logo {
	left: -6px;
	position: absolute;
	top: -9px;
}

#header .title {
	background-color: #BEC6CD;
	border: 1px solid #92A2AF;
}

#header table {
	height: 29px;
}

#header .title td {
	vertical-align: middle;
}

#header .title .logo-dump {
	padding-left: 173px;
}

#header .title .title-col {
	padding: 0 39px;
}
/* end: Header */

/*
 * Left blocks
 */
.left-col {
	width: 167px;
}

.left-col .col-content {
	padding-right: 6px;
}

.left-col .block {
	background-color: #D3DBE2;
	border: 1px solid #92A2AF;
	margin-bottom: 1.2em;
	padding: 2px 5px 3px;
}

/* Highlight */
#highlight-date {
	width: 6.5em;
}

#highlight-time {
	width: 3.5em;
}

#highlight-process {
	padding: 0;
	width: 86px;
}
/* end: Highlight */

/* 
 * Search form
 */
#search-form-left .text {
	width: 90px;
}

#search-form-left .button {
	padding: 0;
	width: 48px;
}

#search-form-left .advanced-search {
	margin-top: .5em;
}

#advanced-search-link {
	display: block;
	font-size: .9em;
	margin-top: .5em;
}
/* end: Search form */

/* end: Left blocks */

/*
 * Main content
 */
#main-content {
	width: 100%;
}

#topic-head-title {
	font-weight: normal;
	margin-bottom: .3em;
	padding: 0 1em;
}

/*
 * Topic(s)
 */
#topics,
.topic {
	border: 1px solid #92A2AF; 
	width: 100%;
}

#topics thead td,
#new-topic thead td,
.topic thead td,
#topics tfoot td,
.topic tfoot td {
	background: #D9E0E6 url('http://img.carnage.ru/i/forum/bg-3.gif') repeat-x 0 100%;
	border: 1px solid #92A2AF;
	padding: .4em .9em;
}

#topics tbody td {
	padding: .2em;
	line-height: 16px;
}

#topics .topic-col {
	cursor: pointer;
	white-space: nowrap;
}

#topics .topic-col img,
#topics .topic-col a {
	vertical-align: middle;
}

#topics .topic-col a.hover {
	color: #A50B0B;
}

.topic .content,
.topic .reply {
	background-color: #eff3f8;
}

#topics .mine td,
.topic .mine {
	background-color: #88FFCC;
}

#topics .new {
	color: #FF0000;
}

.topic thead .button {
	float: right;
	margin: -1px 0;
}

.topic .reply {
	margin-top: 2px;
}

.topic .content,
.topic .reply {
	padding: 2px;
}

.topic .highlight {
	background-color: #8cf;
}

.topic .message-link {
	float: right;
	text-decoration: underline;
}

.topic .content .admin,
.topic .reply .admin {
	color: blue;
}

.topic .content .pal,
.topic .reply .pal {
	color: green;
}

.topic .new {
	color: #FF0000;
}

.topic .actions img {
	cursor: pointer;
	height: 16px;
	width: 16px;
}

.original-message {
	margin-bottom: 1em;
	max-height: 160px;
	overflow: auto;
}
/* end: Topics */

/* 
 * New topic 
 */
#new-topic {
	margin-top: 1em;
}

#new-topic table {
	width: 100%;
}

#new-topic td {
	background-color: #EFF3F8;
	border: 1px solid #92A2AF;
	padding: .9em;
}

#new-topic tbody input,
#new-topic tbody label {
	vertical-align: middle;
}

#new-topic tbody input.checkbox {
	margin: 0;
}

#new-topic tbody .button,
#new-topic tbody label {
	margin-right: .5em;
}

.pagination-container {
	margin-top: 1em;
}
/* end: New topic */

/*
 * Search
 */
#extended-search-toggle {
	font-size: .9em;
}

.radio-list li,
.checkbox-list li {
	display: inline;
	float: left; /*IE*/
	margin-right: 1em;
}

.radio-list li b {
	cursor: pointer;
	vertical-align: middle;
}

#search-expression-info {
	margin-top: .5em;
}

#extended-search .label {
	padding: .2em .5em 0 0;
}

.search-result {
	margin-top: 1em;
}
/* end: Search */

#main-menu {
	padding: 7px 0 7px 18px;
}

#main-menu li {
	line-height: 1.5em;
}

#main-menu li.sub {
	font-size: .8em;
	line-height: 1.9em;
	padding-left: 14px;
}

#main-menu li.selected {
	background: url(http://img.carnage.ru/i/forum/line_2.gif) no-repeat -7px 0;
}

#main-menu a {
	display: block;
}

.window-form {
	padding: 0 1em;
}

.date-time-search-row input {
	vertical-align: middle;
}

.error-message {
	color: #FF0000;
	font-weight: bold;
	margin-bottom: .3em;
}

#forum .error-message {
	padding: 0 1em;
}
/* end: Main content */
