body {
	background-color: #31194D;
	color: white;
	font-size: 12px;
   /*	font-family: Tahoma, Verdana, Arial;*/
	font-weight: bold;
	height: 100%;
	line-height: 1.2em;
	width: 100%;
}

a {
	color: #969ca7;
	text-decoration: underline;
}

a:hover {
	color: #969ca7;
	text-decoration: none;
}

input, select, textarea {
   /*	font-family: Arial;*/
}

input.text,
input.password {
	/*margin: 4px 0;*/
	padding: 3px;
	width: 140px;
}

h1 {
	font-size: 25px;
	font-family: Arial;
	line-height: 1.2em;
	font-weight: normal;
	margin: 0px 0px 37px 0px;
}

h2 {
	font-size: 1.2em;
	font-family: Arial;
	line-height: 1.2em;
	margin: 0px 0px 13px 0px;
}

h3 {
	font-size: 1em;
	font-family: Arial;
	line-height: 1.2em;
	margin: 0px 0px 15px 0px;
}

.spacer {
	font-size: 0px;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
	border: none;
	display: block;
	visibility: hidden;
}
/*
p {
	margin: 0px 0px 13px 0px;
}
*/

.content {
	position: relative;
}

.error {
	color: #FF0000;
	margin-bottom: 1em;
}

.description {
	margin-bottom: 1em;
}

.button {
    background: url('http://img.blutbad.ru/i/reg/but/bl.gif') no-repeat;
	cursor: pointer;
	float: left;
	height: 32px;
    padding: 0 21px;
    position: relative;
}

.button:hover,
.button-hover {
	background-image: url('http://img.blutbad.ru/i/reg/but/bl-s.gif');
}

.button-right {
	float: right;
}

.button div {
	background: url('http://img.blutbad.ru/i/reg/but/br.gif') no-repeat 100% 0;
	height: 32px;
	position: absolute; 
	right: 0; 
	top: 0; 
	width: 21px; 
}

.button:hover div,
.button-hover div {
	background-image: url('http://img.blutbad.ru/i/reg/but/br-s.gif');
}

.button input {
	background: url('http://img.blutbad.ru/i/reg/but/bc.gif') repeat-x;
	border: 0; 
	color: white;
	cursor: pointer; 
	height: 32px;
  /*	font-family: Tahoma, Verdana, Arial; */
	font-size: 12px;
	margin: 0; 
	padding: 2px 0; 
}

.button:hover input,
.button-hover input {
	background-image: url('http://img.blutbad.ru/i/reg/but/bc-s.gif');
}

#male,
#female,
#go,
#answer {
	width: 100px;
}

.button-back {
	/*left: 0;
	position: absolute;*/
	left: 112px;
}

#back {
	width: 100px;
}

.captcha {
	border: 0; 
	height: 60px;
	margin-bottom: 1em;
	width: 120px; 
}

/* Blocks */
#reg_city,
#agree {
  vertical-align: middle;
}

#reg {
	background-position: left top;
	background-repeat: no-repeat;
	height: 490px;
	margin: 0 auto;
	position: relative;
	width: 856px;
}

#reg img.rate {
	left: 40px;
	position: absolute;
	top: 395px;
}

.reg-def {
	background-image: url('http://img.blutbad.ru/i/reg/Blutbad_reg_male-female_galaxy.jpg');
}

.reg-man {
	background-image: url('http://img.blutbad.ru/i/reg/Blutbad_reg_woman_insize_frame.jpg');
}

.reg-woman {
	background-image: url('http://img.blutbad.ru/i/reg/Blutbad_reg_man_insize_frame.jpg');
}

#reg div.content {
	width: 358px;
	height: 332px;
	margin-left: 395px;
	padding-top: 78px;
}

.buttons div {
	cursor: pointer;
}

.buttons td.inp {
	padding: 5px 0px 0px 0px;
	width: 180px;
}

.buttons td.inp input {
	background: white;
	color: #000000;
	cursor: default;
	height: 18px;
	padding: 1px 3px 1px 3px;
}

.back table td {
	width: 150px;
	border: 1px solid red;
}

.back {
	position: absolute;
	margin: 299px 0px 0px 0px;
	width: 150px;
}

.but_txt {
	border: 0;
	font-family: Tahoma, Verdana, Arial;
	color: white;
	font-size: 12px;
}

.buttons .but div div {
	background: url(http://img.blutbad.ru/i/reg/but/bc.gif) repeat-x 0px 0px;
	height: 37px;
	text-align: center;
	padding: 6px 0px 0px 0px;
}

.buttons .but div {
	background: url(http://img.blutbad.ru/i/reg/but/bl.gif) no-repeat 0px 0px;
	padding: 0px 0px 0px 21px;
}

.buttons .but {
	background: url(http://img.blutbad.ru/i/reg/but/br.gif) no-repeat 100% 0px;
	padding: 0px 21px 0px 0px;
}

.buttons .but-s div div {
	background: url(http://img.blutbad.ru/i/reg/but/bc-s.gif) repeat-x 0px 0px;
	height: 37px;
	text-align: center;
	padding: 6px 0px 0px 0px;
}

.buttons .but-s div {
	background: url(http://img.blutbad.ru/i/reg/but/bl-s.gif) no-repeat 0px 0px;
	padding: 0px 0px 0px 21px;
}

.buttons .but-s {
	background: url(http://img.blutbad.ru/i/reg/but/br-s.gif) no-repeat 100% 0px;
	padding: 0px 21px 0px 0px;
}

.buttons input {
	background: transparent;
	color: white;
	cursor: pointer;
	width: 140px;
	height: 16px;
}

.buttons .but-s input {
	background: transparent;
	color: #ffffcc;
	cursor: pointer;
}

.back_but {
	position: absolute;
	margin: 299px 0px 0px 0px;
	width: 150px;
}

/* ========= */
/* Elements */
/* Common */
.left {
	float: left;
}

.right {
	float: right;
}

.red, a .red, a.red {
	color: #F00;
}

.green {
	color: #197b30;
}

/* Form */
.button[disabled] {
	color: #B2B2B2;
	border: 1px solid #D7D7D7;
	background: #F2F2F2;
	padding-top: 0px;
	padding-bottom: 1px;
}

/* Content */
.body table {
	width: 100%;
}

/* Text */
.body p {
	margin: 0px 0px 14px 0px;
}

/* Pictures */
.body img.left {
	margin: 0px 18px 0px 0px;
}

.body img.right {
	margin: 0px 0px 0px 18px;
}

/* Lists */
ul {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: disc;
	margin: 15px 0px 20px 0px;
}

ul.pics li, ul.conf li {
	background: url(http://img.blutbad.ru/i/reg/dialog.gif) no-repeat 0px 3px;
	list-style-type: none;
	margin: 5px 15px;
	padding: 2px 0 2px 18px;
}

ul.pics li a {
	font-weight: bold;
	color: white;
}

.body ol {
	margin: 0px 0px 15px 25px;
	padding: 0px;
}

.body ol li {
	margin-bottom: 3px;
}

/* Table */
.table {
	width: 100%;
	font-size: 0.9em;
	/*font-family: Tahoma, Arial;*/
	line-height: 1.4em;
	margin: 0px 0px 7px 0px;
}

.table th {
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	border: 1px solid #FFF;
	border-left: none;
	background: #2A7849;
	padding: 0px 9px 2px 9px;
}

.table td {
	vertical-align: middle;
	border: 1px solid #B8B8B8;
	border-left: none;
	padding: 1px 9px 3px 9px;
}

.table th:last-child, .table td:last-child {
	border-right: none;
}

.sub-links {
	padding: 5px 0px 15px 0px;
}

.js #reg_city {
	display: none;
}

#select-city-link {
	display: none;
	position: relative;
}

.js #select-city-link {
	display: inline;
}

/* city list */
#cities {
	display: none;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

#cities li {
	float: left;
	padding: 1em;
}

#cities li img {
	cursor: pointer;
	filter: Alpha(opacity=50);
	opacity: .5;
}

.msie #cities li img {
	visibility: hidden;
}

#cities li img:hover,
#cities li img.hover,
#cities li.selected img {
	filter: Alpha(opacity=100);
	opacity: 1;
}

.step-counter {
	color: yellow;
	position: absolute;
	right: -18px;
	top: 415px;
}

/*
 * Social links
 */
#social-links-wrap {
	/*position: relative;*/
}
	
#social-links {
	color: #000000;
	list-style: none;
	margin: 5.5em 6em 0 0;
	text-align: right;
}

#social-links li {
	display: inline-block;
	*display: inline;
	margin-left: 1em;
	vertical-align: middle;
	*zoom: 1;
}
/* end: Social links */

#warning_message {
	color: #FF0000;
}

/* 
 * Dialog
 */
.ui-dialog .ui-dialog-title {
	color: #404040;
	font-size: 11px;
}

.ui-dialog .ui-dialog-titlebar-close span {
	background: url('http://img.blutbad.ru/i/x.gif') no-repeat 50% 50%;
	display: block;
	text-indent: -9999px;
}

.ui-dialog .ui-dialog-content {
	padding: .5em 1em;
	zoom: 1;
}

.ui-dialog .ui-dialog-buttonpane {
	border-width: 1px 0 0 0;
	background-image: none;
	margin: .5em 0 0 0;
	padding: .3em 1em .5em .4em;
	text-align: left;
}

.ui-dialog .ui-dialog-buttonpane button {
	cursor: pointer;
	float: right;
	line-height: 1.4em;
	margin: .5em .4em .5em 0;
	padding: .2em .6em .3em .6em;
	overflow: visible;
	width: auto;
}

.ui-dialog .ui-resizable-se {
	bottom: 3px;
	height: 14px;
	right: 3px;
	width: 14px;
}

.ui-draggable .ui-dialog-titlebar {
	cursor: move;
}

/* Overlays */
.ui-widget-overlay {
	background-color: #000000;
	filter: alpha(opacity=50);
	opacity: .5;
}

.msie8 .ui-widget-overlay {
	position: fixed;
}