.table-list .nick {
	font-size: 1em;
}

.table-list th,
.table-list td {
	padding-left: .3em;
	padding-right: .3em;
}

.table-list thead td {
	text-align: center;
}

.table-list tbody tr td {
	text-align: left;
	vertical-align: middle;
	white-space: normal;
}

.table-list tbody .city-col,
.table-list tbody .status-col,
.table-list tbody .empty-comment,
.table-list tbody .buttons-col {
	text-align: center;
}

.table-list tbody .history-col {
	display: none;
}

.table-list tbody .suspicion-col a {
	font-size: 1em;
	color: #040404;
	font-weight: bold;
}

.table-list .date-time-col input,
.table-list .date-time-col label {
	vertical-align: middle;
}

.date-time {
	display: inline-block;
	*display: inline;
	text-align: left;
	vertical-align: middle;
	*zoom: 1;
}

.table-list tbody .buttons-col .button {
	margin-bottom: .1em;
}

.table-list tbody .button,
.table-list tfoot .button {
	width: 90px;
}


.table-list tfoot td {
	border-left-color: #DEE2E7;
	border-right-color: #DEE2E7;
	border-bottom-color: #DEE2E7;
}

.table-list tfoot td * {
	vertical-align: middle;
}

.filter-row .date-col * {
	vertical-align: middle;
}

#suspicions-dialog {
	display: none;
}

.msie7 #suspicions-dialog {
	min-width: 220px;
}

#suspicion-form {
	text-align: center;
	white-space: nowrap;
}
