html,
body {
	height: 30px;
	overflow: hidden;
} /* Opera */

.top-row {
	background-color: #D9E4ED;
	height: 30px;
	width: 100%;
}

.top-row td {
	vertical-align: top;
}

.top-row .l-img {
	background: url('http://img.blutbad.ru/i/menu/3.gif') repeat-x;
	width: 100%;
}

.top-menu-col {
	text-align: right;
}

.ui-tabs .ui-tabs-hide {
    display: none;
}

#top-menu {
	font-size: 10px;
}

#top-menu a {
	font-weight: bold;
	text-decoration: none;
}

#top-menu .ui-tabs-nav {
	background-color: #87949F;
	height: 15px;
	white-space: nowrap;
}

#top-menu .ui-tabs-nav li {
	display: inline-block;
	*display: inline;
	padding: 0px 7px 2px;
	*zoom: 1;
}

.opera #top-menu .ui-tabs-nav li,
.webkit #top-menu .ui-tabs-nav li {
	padding-top: 1px;
	padding-bottom: 1px;
}

#top-menu .ui-tabs-selected {
	background-color: #345674;
}

#top-menu .ui-tabs-nav a {
	color: #FFFFFF;
}

#top-menu .ui-tabs-nav .ui-state-hover a,
#top-menu .ui-tabs-nav .ui-state-focus a,
#top-menu .ui-tabs-nav .ui-tabs-panel a:hover {
	color: #345674;
}

#top-menu .ui-tabs-selected a,
#top-menu .ui-tabs-selected a:hover {
	color: #FFFFFF !important;
}

#top-menu .ui-tabs-panel,
#top-menu .ui-tabs-panel a {
	color: #8198A9;
}

#top-menu .ui-tabs-panel a {
	padding: 1px 0 2px;
}

#top-menu .ui-tabs-panel {
	font-weight: bold;
	white-space: nowrap;
}

#top-menu .ui-tabs-panel a:hover {
	color: #345674;
}

.menu-highlight {
	background-color: #FFF0AA;
}

.hp-pw-digits {
	color: #000000;
	font-weight: bold;
	padding-left: 2px;
}

.hp-pw-digits-small {
	margin-top: 1px;
	font-size: .9em;
}

.hp-pw-digits .hp,
.hp-pw-digits .pw {
	clear: both;
	float: left;
}
