BODY {
	BACKGROUND-COLOR: #636562; MARGIN: 0px;
	FONT-FAMILY: Verdana, Arial, Helvetica, Tahoma, sans-serif;
	font-size:12px;
}
A:link {
	COLOR: #5b3e33; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A:visited {
	COLOR: #633525; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A:active {
	COLOR: #77684d; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.style6 {
	COLOR: #000000
}

li {
color:#000000;
text-decoration:none;
/*font-family:Georgia, "Times New Roman", Times, serif;*/
FONT-FAMILY: Verdana, Arial, Helvetica, Tahoma, sans-serif;
font-size:12px;
}

ul {
color:#000000;
text-decoration:none;
/*font-family:Georgia, "Times New Roman", Times, serif;*/
FONT-FAMILY: Verdana, Arial, Helvetica, Tahoma, sans-serif;
font-size:12px;
}

.head {
color:#660000;
font-size:18px;
font-family:Verdana, Arial, Helvetica, sans-serif;
}

.content {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
}