html { height:100%; }
body { background:#f0f0f0; height:100%; margin:0px; padding:0px; }

#chat-channels {}
#chat-channels div a { color:#404040; text-decoration:none; cursor:pointer; }
#chat-channels div a:hover { color:#000; }

p { margin:0px; padding:4px 0px 0px 0px; }

span.chat-message { color:#008; }
span.time-private, span.time-private-me { background-color:#ffb0b0; color:#202020; font-family:Courier,monospace; }
span.time-private-self, span.time-private-self-me { background-color:#b0ffb0; color:#202020; font-family:Courier,monospace; }
span.time-room { color:#209020; font-family:Courier,monospace; }
span.time-room-me { background-color:#ffb0b0; color:#202020; font-family:Courier,monospace; }
span.time-room-self, span.time-room-self-me { background-color:#b0ffb0; color:#202020; font-family:Courier,monospace; }
span.time-battle-log { color:#209020; font-family:Courier,monospace; }
span.time-battle-log-me, span.time-battle-log-self, span.time-battle-log-self-me { background-color:#b0b0b0; color:#202020; font-family:Courier,monospace; }
span.time-system { color:#209020; font-family:Courier,monospace; }
span.time-system-attention { background-color:#ffb0b0; color:#202020; font-family:Courier,monospace; }
span.room-name { color:#888; }
span.user-from-private, span.user-from-room { color:#404040; cursor:pointer; font-weight:bold; }
span.user-from-private-hidden, span.user-from-room-hidden { color:#404040; cursor:pointer; font-style:italic; font-weight:normal; }
span.user-to-private { background-color:#fdd; color:red; cursor:pointer; font-weight:bold; }
span.user-to-room {}
span.user-to-room-me { color:#000; font-weight:bold; }
span.system { background-color:#fff; color:#202020; }
span.system span.user { color:#404040; font-weight:bold; }
span.system-attention { color:red; }
span.mentor { background-color:#ddf; }
span.clan { background-color:#adf; }
span.guild { background-color:#daf; }
span.group { background-color:#9fb; }
span.poker { background-color:#bef574; }
span.alienspeech { font-style:italic; }
span.cityshout { background-color:#ffb0b0; }
span.cityshout2 { background-color:#80ffaa; }
span.city_alienspeech { background-color:#ffb0b0; font-style:italic; }
span i { font-weight:normal; }
span.debug { font-family:Courier,monospace; }
span.bot { color:#000; font-weight:normal; background-color:#e7eff7; }
span.user-channel { color:#000; font-weight:bold; }
span.chat-head { color:#080; font-weight:bold; }

a.sys, a.system { color:#909090; background-color:#fff; text-decoration:none; }

img.separator { width:90%; height:2px; padding:0; margin:0; }

#channel-list-popup { background:#cfcfcf; border:solid 1px; border-color:#efefef #505050 #505050 #efefef; display:none; list-style-type:none; margin:0px; padding:0px; position:absolute; width:120px; z-index:50; }
#channel-list-popup li { font-size:12px; margin:0px; padding:0px; }
#channel-list-popup a { color:darkred; display:block; font-weight: bold; padding:0px 5px; text-decoration:none; white-space:nowrap; }
#channel-list-popup li a:hover,
#channel-list-popup li a.hover { background-color:#f0f0f0; }
#channel-list-popup li.separator { margin-top:6px; }

#channel-list-popup2 { background:#cfcfcf; border:solid 1px; border-color:#efefef #505050 #505050 #efefef; display:none; list-style-type:none; margin:0px; padding:0px; position:absolute; z-index:50; }
#channel-list-popup2 li { font-size:12px; margin:0px; padding:0px; }
#channel-list-popup2 a { color:darkred; display:block; font-weight: bold; padding:0px 5px; text-decoration:none; white-space:nowrap; }
#channel-list-popup2 li a:hover,
#channel-list-popup2 li a.hover { background-color:#f0f0f0; }
#channel-list-popup2 li.separator { margin-top:6px; }

#Sound {
	left: 0;
	_left: expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
	position: fixed;
	_position: absolute;
	top: 0;
	_top: expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );;
}

/* Carnage chat theme */
#chat-channels.ui-tabs {
	background: #F0F0F0;
	/*bottom: 0;
	left: 0;
	position: absolute;
	right: 2px;
	top: 0;*/
}

#chat-channels.ui-tabs .ui-tabs-nav li a {
	padding: 0 4px;
}

#chat-channels.ui-tabs .ui-tabs-nav {
	margin-bottom: 3px;
}

#chat-channels.ui-tabs .ui-tabs-panel {
	height: auto;
	/*position: absolute;*/
}

#chat-channels .ui-state-new {
	background:#ffb;
}
