.table-list th,
.table-list td {
	vertical-align: middle;
}

.table-list .nickname {
	position: relative;
	top: -2px;
}

.table-list .points {
	text-align: right;
}

.table-list .comment span,
.table-list .comment img,
.table-list .actions img {
	vertical-align: middle;
}

.table-list .comment img,
.table-list .actions img {
	cursor: pointer;
}

.table-list .actions {
	text-align: center;
}

.radio-list li {
	display: inline;
	margin-right: .5em;
}

.radio-list li label {
	*zoom: 1;
}

#comment-dialog {
	display: none;
}

#invite-dialog .comment {
	font-size: .9em;
}

#reject-form {
	display: none;
}

.mentor-fieldset {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}


body div#buttons {
	float: right;
	width: 210px;
}

body div#buttons div.window div.body input {
	float: right;
	width: 130px;
	margin-top: -1px;
	margin-right: expression('0px');
	margin-bottom: 3px;
}

body div#buttons input {
	display: block;
	width: 100px
}

body div#buttons div.window div.body span {
	padding: 0;
	font-size: 10px;
	display: block;
	font-weight: normal;
	margin: 2px 0 8px 0;
	margin: expression('-13px 0 8px 0');
}

body form {
	margin: 0;
	padding: 0
}

body fieldset {
	margin-top: 10px;
	display: block;
}

body fieldset p {
	margin: 5px;
}

body fieldset p a {
	display: block;
}

body p.error {
	color: red;
	border: 1px solid red;
	width: 200px;
	padding: 15px;
	font-weight: bold;
}

table.top {
	margin: 5px;
	background-color: #a9b9c9;
}

table.top table td {
	padding-left: 2px;
	padding-top: 2px;
	text-align: center;
	background-color: #c5ced5;
}

table.top table td.participants {
	text-align: left;
	width: 100%;
	margin-top: 5px
}

table.top tbody tr td table tbody tr td {
	padding: 5px;
}

table.top tbody tr td {
	background-color: #a9b9c9;
}

table.top tr.odd td {
	background-color: #c5ced5;
}

table.top tr.even td {
	background-color: #dee2e7;
}

table.top th {
	padding: 5px;
}

body div.window {
	position: absolute;
	border: 1px solid #92a2af;
	top: 50px;
	left: 150px;
	filter: Alpha(opacity = 0);
	-moz-opacity: 0;
	overflow: hidden;
	width: 205px;
	background-color: #dee2e7;
	visibility: hidden;
	z-index: 1;
}

body div.window div {
	background-color: #92a2af;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	padding: 1px 15px;
}

body div.window div img {
	float: right;
	cursor: pointer;
	margin: 1px -12px 0 0;
}

body div.window div.body img {
	float: none;
	margin: 0;
	vertical-align: middle;
}

body div.window div.body {
	padding: 10px;
	background-color: #dee2e7;
}

table.t1 table tr td {
	border: 0;
	margin: 0;
	padding: 0;
}

table.t1 tr th {
	padding: 4px;
	text-align: center;
	background-color: #a9bbca;
	border: 1px solid gray;
}

table.t1 tr td {
	padding: 2px 5px;
	background-color: #dee2e7;
	border: 1px solid gray;
}

table.t1 {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 10px;
}
table.tablesorter thead tr .header {
	background-image: url('http://img.carnage.ru/i/admin/tablesorter_bg.gif');
	background-position: center right;
	padding-right: 21px;
	background-repeat: no-repeat;
	cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url('http://img.carnage.ru/i/admin/tablesorter_asc.gif');
}

table.tablesorter thead tr .headerSortDown {
	background-image: url('http://img.carnage.ru/i/admin/tablesorter_desc.gif');
}
