fieldset
{
  border: thin solid; color: #556775;
}
body
{
  font-size: 9pt; color: #404040; font-weight: normal;
  font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;
  scrollbar-face-color: dee2e7;
  scrollbar-highlight-color: 8b9dab;
//  scrollbar-shadow-color: 576977;
  scrollbar-shadow-color: 8b9dab;
  scrollbar-3dlight-color: 8b9dab;
//  scrollbar-arrow-color: 8b9dab;
  scrollbar-arrow-color: 576977;
  scrollbar-track-color: dee2e7;
  scrollbar-darkshadow-color: 8b9dab;
}
td, ol, ul, li , p
{
  font-size: 9pt; color: #404040; font-weight: normal;
  font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;
}
th
{
  font-size: 9pt; color: #202020; font-weight: bold;
  font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;
}
select,textarea,input
{
  border-style: solid; border-width: 1; border-color: #404040;
  font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif; font-size: 11px; font-weight: normal;
  color: #404040; background-color: #ffffff;
  margin-bottom: 1px; margin-top: 1px;
}
hr
{
  color: 556775;
}
.text
{
  font-size: 9pt; color: #404040; font-weight: normal;
  font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;
}
.textl		{ color: #e0e0e0 }
.user1		{ color: #bb5500; font-weight: bold; }
.user2		{ color: #0055bb; font-weight: bold; }
.user3		{ color: #bb5500; font-weight: bold;; font-style: italic; }
.user4		{ color: #0055bb; font-weight: bold;; font-style: italic; }
.textb		{ font-weight: bold }
.err		{ color: red; font-weight: bold; }
.ok		{ color: blue; font-weight: bold; }
.attention	{ color: red; font-weight: normal; }
.hp		{ font-size: 7pt }
img,table	{ border: 0 }
a,a:visited	{ text-decoration: none; font-weight: normal; color: #404040; }
a:hover		{ color: #000000; }
.date		{ font-family: Courier; font-size: 8pt; text-decoration:none; font-weight:normal; color: #209020 }
.sysdate	{ font-family: Courier; font-size: 8pt; text-decoration:none; font-weight:normal; color: #bb5500 }
.date2		{ font-family: Courier; font-size: 8pt; text-decoration:none; font-weight:normal; color: #202020; background-color: #ffb0b0 }
.date3		{ font-family: Courier; font-size: 8pt; text-decoration:none; font-weight:normal; color: #202020; background-color: #b0b0b0 }
.win		{ font-family: MS Sans Serif; font-size:8px; text-decoration:none; color:#e0e0e0 }
.adate		{ font-size: 7pt; text-decoration:none; font-weight:normal; color: #209020 }
.adate3		{ font-size: 7pt; text-decoration:none; font-weight:normal; color: #202020; background-color: #b0b0b0 }
.hint
{
  border-bottom: solid #000000 1px;
  border-top: solid #000000 1px;
  border-left: solid #000000 1px;
  border-right: solid #000000 1px;
  padding-left: 5;
  padding-right: 5;
  font-family: Verdana, Arial, Helvetica, Tahoma, sans-serif;
  background: #F0F9BB;
}
#hint1		{ position: absolute; visibility: hidden }
#win1		{ position: absolute; width: 200; visibility: hidden }