html{height:100%}
body{height:100%;margin:0px;padding:0px}
input{padding-right:2px;margin:0px}
.wrapper{background:url( http://img.blutbad.ru/i/button/new/ch_2.gif ) repeat-x}
.editor{vertical-align:middle;width:100%}
.channel-helper-col{padding:0px 5px;vertical-align:middle}
#channel-helper{color:#000;display:none;font-weight:bold;position:relative;text-decoration:none;top:-1px}
input#editor{font-size:12px;position:relative;width:100%;*width:99.5%}
div#clock{background:#AFBDCA;border:1px solid #1d1d1d;border-right:0px;border-top-left-radius:5px;border-bottom-left-radius:5px;height:26px;padding:1px;width:70px}
#newLetterCount .container{cursor:pointer;position:relative}
#newLetterCount .icon-counter{background:#FFF;border:1px solid;cursor:pointer;display:none;font-size:.8em;font-weight:bold;line-height:1em;right:2px;padding:1px;position:absolute;top:2px}
.opera #newLetterCount .icon-counter,.webkit #newLetterCount .icon-counter{padding-bottom:2px}