.ui-widget{font:9pt Verdana,Arial,sans-serif}
.ui-widget-header{border:0px solid #AAA;border-bottom:1px solid #AAA;background:#DFDADA;color:#222;font-weight:bold}
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{border:1px solid #B3B3B3;font-weight:normal;color:#555;outline:none;background:#E6E4D2;border-radius:3px 3px 0 0}
.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus{border:1px solid #999;font-weight:normal;color:#212121;outline:none; background-color: #D6D6D6;}
#tabs .ui-tabs .ui-tabs-nav li a{padding:0 4px}
#tabs .ui-tabs .ui-tabs-nav li{position:relative;float:left;border-bottom:0 !important;margin:0px 2px -1px 0px;padding:0px}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected,#tabs .ui-tabs .ui-tabs-nav li.ui-tabs-selected{background:#F0F0F0;padding-bottom:1px;border-bottom:0px}
#tabs .ui-widget-header{border:1px solid #AAA;background:#CCC url(/ch/css/images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;color:#222;font-weight:bold}
#tabs .ui-helper-clearfix{zoom:1;display:block}
.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited{color:#212121;outline:none;text-decoration:none}
#tabs .ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr,.ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr{-moz-border-radius-topright:0px;-webkit-border-top-right-radius:0px;-khtml-border-top-right-radius:0px;border-top-right-radius:0px}
#tabs .ui-tabs .ui-tabs-nav{list-style:none;position:relative;padding:4px 2px 0px 2px}
.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active{border:1px solid #AAA;background:#FFF url(/ch/css/images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;font-weight:normal;color:#212121;outline:none}
.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl{-moz-border-radius-topleft:0px;-webkit-border-top-left-radius:0px;-khtml-border-top-left-radius:0px;border-top-left-radius:0px}
.msg a{color:#FF9}
.msg a:hover{color:#F3F34B}
.msg .container{padding:0 .5em;position:relative;zoom:1}
.hoversmile{}
a.hoversmile:hover{background:#808080}
.ssm-smile{width:400px;height:140px;background:#f2f0f0;text-align:center;border:2px groove black;opacity:0.8;filter: alpha (opacity=80)}
.ssm-smile-title{height:10px;font:120% Tahoma;background:url(../i/smilestitle.gif)}
.ssm-smile-body{padding:5px;overflow-y:scroll;height:110px}
span.system{background:#FFF;color:#202020}
.system-attention{color:#F00}
a.sys,a.system{background:#FFF;text-decoration:none}
.date2{background:#FFB0B0;color:#202020;font-family:Courier,monospace}
.self-me{background:#B0FFB0;color:#202020;font-family:Courier,monospace}
#mes .private{background:#FDD;color:#F00;cursor:pointer;font-weight:bold}
.from-private{color:#404040;cursor:pointer;font-weight:bold}
p{margin:0px;padding:4px 0px 0px 4px;font-size:12px}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default a {color: #848383;}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {color: #212121;}