/*
* jQuery UI CSS Framework
* Copyright (c) 2009 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
*/

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display:none; }
.ui-helper-hidden-accessible { position:absolute; left:-99999999px; }
.ui-helper-reset { margin:0px; padding:0px; border:0px; outline:0; line-height:1.3; text-decoration:none; font-size:100%; list-style:none; }
.ui-helper-clearfix:after { content:"."; display:block; height:0px; clear:both; visibility:hidden; }
.ui-helper-clearfix { display:inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width:100%; height:100%; top:0px; left:0px; position:absolute; opacity:0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }

/* Component containers
----------------------------------*/
.ui-widget { font-family:Verdana,Arial,sans-serif; font-size:9pt; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family:Verdana,Arial,sans-serif; font-size:9pt; }
.ui-widget-content { border:0px; background: url(/ch/css/images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x; color:#222222; }
.ui-widget-content a { color:#222222; }
.ui-widget-header { border:1px solid #aaaaaa; background:#cccccc url(/ch/css/images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x; color:#222222; font-weight:bold; }
.ui-widget-header a { color:#222222; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default { border:1px solid #d3d3d3; background:#e6e6e6 url(/ch/css/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x; font-weight:normal; color:#555555; outline:none; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color:#555555; text-decoration:none; outline:none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { border:1px solid #999999; background:#dadada url(/ch/css/images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x; font-weight:normal; color:#212121; outline:none; }
.ui-state-hover a, .ui-state-hover a:hover { color:#212121; text-decoration:none; outline:none; }
.ui-state-active, .ui-widget-content .ui-state-active { border:1px solid #aaaaaa; background:#ffffff url(/ch/css/images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; font-weight:normal; color:#212121; outline:none; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color:#212121; outline:none; text-decoration:none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight { border:1px solid #fcefa1; background:#fbf9ee url(/ch/css/images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x; color:#363636; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a { color:#363636; }
.ui-state-error, .ui-widget-content .ui-state-error { border:1px solid #cd0a0a; background:#fef1ec url(/ch/css/images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x; color:#cd0a0a; }
.ui-state-error a, .ui-widget-content .ui-state-error a { color:#cd0a0a; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text { color:#cd0a0a; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled { opacity:.35; filter:Alpha(Opacity=35); background-image:none; }

.ui-tabs { padding:0px; zoom:1; }
.ui-tabs .ui-tabs-nav { list-style:none; position:relative; padding:4px 2px 0px 2px; }
.ui-tabs .ui-tabs-nav li { position:relative; float:left; border-bottom-width:0 !important; margin:0px 2px -1px 0px; padding:0px; }
.ui-tabs .ui-tabs-nav li a { float:left; text-decoration:none; padding:4px 8px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { background:#f0f0f0; padding-bottom:1px; border-bottom-width:0px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor:text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor:pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { background:#f0f0f0; padding:0px 4px; display:block; height:100%; }
.ui-tabs .ui-tabs-hide { display:none !important; }