html { height:100%; }
body { background:#e9e9e9; height:100%; margin:0px; padding:0px; }

#online-refresh { padding:4px; white-space:nowrap; }
#online-refresh input, label { vertical-align:middle; }
#online-refresh label { font-size:12px; }
#online-room-name { color:red; font-size:12px; font-weight:bold; padding:4px; white-space:nowrap; }
#online-frend-name { color:#0C2404; font-size:12px; font-weight:bold; padding:4px; white-space:nowrap; }

#online-list-container { height:100%; overflow:auto; position:relative; }
#online-list { list-style-type:none; margin:0px; padding:0px 0px 4px 0px; }
#online-list li { font-size:12px; margin:0px; padding:0px 0px 0px 4px; white-space:nowrap; }
#online-list li span.name { color:#404040; cursor:pointer; font-weight:bold; }
#online-list li span.battle { color:red; }
#online-list li span.speaking { color:green; }
#online-list li span.ignoring { font-style:italic; }

#online-list-popup {
    background: #C1C3C1;
    border: solid 1px;
    border-color: #efefef #000 #000 #efefef;
    display: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    width: 120px;
    z-index: 50;
}
#online-list-popup li { font-size:12px; margin:0px; padding:0px; }
#online-list-popup a { color:darkred; display:block; font-weight:bold; padding:0px 5px; text-decoration:none; white-space:nowrap; }
#online-list-popup li a:hover,
#online-list-popup li a.hover { cursor: pointer; background-color:#E8EAEE; }
#online-list-popup li.separator { margin-top:6px; }
