.top-panel {
	border-bottom: 1px solid #808080;
	margin-bottom: .5em;
}

.top-panel td {
	padding-bottom: 1em;
}

.top-panel .title {
	text-align: center;
}

.top-panel .buttons {
	width: 1%;
}

.top-panel h5 {
	font-size: 1.2em;
}

#rune-list li {
	float: left;
	margin: 0 4px 4px 0;
}

#rune-list li a {
	float: left;
}

.runelist img {
	cursor: pointer;
	height: 35px;
	width: 35px;
}

.color-list {
	/*margin-bottom: 1em;*/
}

.color-list li {
	*display: inline;
	float: left;
	margin-right: 1em;
}

#colordiv {
	margin-top: 1em;
}

.group-block {
	border-bottom: 1px solid #808080;
	margin-top: 1em;
	padding-bottom: 1em;
}

ul.group-block input,
ul.group-block label {
	vertical-align: middle;
}

label.all {
	font-style: italic;
	font-weight: bold;
}

#all-admin-funtions * {
	vertical-align: middle;
}

.group-block em {
	font-weight: bold;
}

.group-table {
	width: 100%;
}

.group-table th {
	font-size: 1.1em;
	padding-bottom: .5em;
	text-align: left;
}

.group-table td {
	padding: .2em 0;
}

.group-table td.label {
	padding-right: .5em;
	width: 11em;
}

.group-table .text,
.group-table textarea {
	position: relative;
}

.group-table li input,
.group-table li label {
	vertical-align: middle;
}

.group-table li input {
	margin-left: 0;
}


.form-table {
	width: 100%;
}

.form-table thead th {
	font-size: 1.1em;
	padding-bottom: .5em;
	text-align: left;
}

.form-table td.label {
	width: 11em;
}


/* Temp */
.nick .level {
	font-weight: normal;
}
