.buy-table .price {
	text-align: right;
	white-space: nowrap;
}

.buy-table .price .start {
	color: gray;
}

.buy-table .price .current {
	color: darkgreen;
}

.buy-table .seller {
	text-align: center;
	white-space: nowrap;
}

.buy-table .timeout {
	text-align: center;
	white-space: nowrap;
}

.buy-table .stake {
	color: green;
	text-align: right;
	white-space: nowrap;
}

.buy-table .stake a {
	color: green;
}

.buy-table .stake .unavalible {
	color: gray;
}

.buy-table .history {
	text-align: center;
}

.buy-table .history img {
	cursor: pointer;
}

.buy-table .bid {
	padding-bottom: 5px;
}

.roll-tabs .roll-tabs {
	padding: .5em;
}

.inventory-table .action {
	text-align: center;
	width: 1%;
}

.inventory-table .action img {
	cursor: pointer;
}

.inventory-table tr td.auction-form {
	width: 300px;
	background: none;
	border: 0;
	padding-top: 0;
}

.inventory-tabs .items-inventory {
	padding-top: 20px;
}

.inventory-table .form-table tr.odd td, .inventory-table .form-table tr td {
	background: none;
	border: 0;
}

.inventory-table .auction-form table {
	border: 1px solid #696969;
	position: relative;
	top: -1px;
	*top: 0;
}
