/*.tabs-content .nickname {
	font-size: 11px;
}*/

.nick {
	font-size: 11px;
}

.nick .name {
	cursor: default;
}

.delete {
	width: 1%;
}

.search {
	float: left;
	margin-bottom: 1em;
}

.pages {
	margin-top: .2em;
	text-align: center;
}

fieldset,
legend {
	position: static; /* n_main.css fix */
}

/*
 * Quest
 */
.quest {
	padding: 20px;
}

.quest .giver {
	padding-right: 10px;
	text-align: center;
}

.quest .giver-img {
	margin-top: 2px;
}

.quest h2 {
	font-size: 17px;
	margin-bottom: 1em;
}

.quest h5 {
	font-size: 12px;
}

.quest .bottom-buttons {
	margin-top: 1em;
}
/* end: Quest */
