#top-clan-info {
	margin-bottom: 2em;
}

#top-clan-info legend * {
	vertical-align: middle;
}

#top-clan-info .content {
	font-size: 1.1em;
	/*text-align: center;*/
}

#top-clan-info .section {
	/*display: inline-block;*/
	*display: inline;
	line-height: 1.5em;
	margin: 0 .5em;
	white-space: nowrap;
	*zoom: 1;
}

#topic-form img {
	cursor: pointer;
	vertical-align: middle;
}

#topic-form input.text {
	font-size: 1em;
}

#top-clan-info .cup {
  cursor: pointer;
  height: 49px;
  vertical-align: middle;
  width: 42px;
}


#members-table-container {
	width: 100%;
}

#members-right-col {
	padding-left: 1em;
	width: 120px;
}

#bearer {
	margin-bottom: 1em;
	white-space: nowrap;
}

#killer {
	margin-bottom: 1em;
	white-space: nowrap;
}

.members-table .action {
	width: 1%;
}

.members-table .action img {
	cursor: pointer;
	height: 16px;
	width: 16px;
}

table.inventory {
	margin-top: 2em;
}

#user-settings {
	float: left;
	margin-top: 1em;
}

#user-settings .table-list td {
	vertical-align: middle;
}

#user-settings .table-list .label {
	font-weight: bold;
}

#relicts-form {
	clear: both;
}

.relicts-table {
	margin-top: 1em;
}

.relicts-table td {
	border: 0;
	vertical-align: middle;
}

.relicts-table .img {
	width: 35px;
}

.relicts-table img {
	cursor: pointer;
	height: 35px;
	width: 35px;
}

.settings fieldset {
	margin-top: 1em;
}

.settings fieldset.cups-exchange {
	margin-top: 0;
}

.settings fieldset .comment {
	font-size: .9em;
	font-style: italic;
}

.rate-table td {
	padding: .25em .25em;
	vertical-align: middle;
}

.rate-table td.label {
	padding-left: 0;
}

.rate-table td.input {
	padding-right: 0;
}

.rate-table td .checkbox {
	margin: 0;
}

#get-counter-code {
	width: 170px;
}


ul.chronicle li {
	font-size: 1.1em;
	line-height: 1.4em;
}

ul.chronicle .empty {
	text-align: center;
}

.right-col .clan-logo {
	text-align: center;
	margin-bottom: 1em;
}

.right-col .nick {
	font-size: 1em;
}

.right-col .clanmates {
	margin-bottom: 1em;
}

.clan-actions {
	margin-bottom: 1em;
	text-align: center;
}

.clan-actions img {
	cursor: pointer;
	height: 25px;
	width: 40px;
}

.items-table .img {
	width: 80px;
}

.hover {
	background-color: #cfd5df;
}

.clan-unions img,
.clan-wars img {
	margin-bottom: -2px;
}

.clan-wars li {
	margin-top: 1em;
}

.clan-wars {
	margin-top: -.5em;
}

#active-services tbody th {
	text-align: left;
}

#active-services .cost {
	font-style: italic;
	font-weight: bold;
	text-align: center;
}

#active-services .actions img {
	cursor: pointer;
	height: 16px;
	text-align: center;
	width: 16px;
}

#access-table td {
	vertical-align: middle;
}

#access-table .button {
	*width: 65px;
}