.flash-container {
	height: 300px;
	margin: 0 auto;
	padding: 15px 9px;
	width: 700px;
}

.title {
	color: black;
	font-size: 18px;
    font-weight: bold;
    padding: 5px;    
    text-align: center;
}

.no-flash {
	background-color: #F0F0F0;
	height: 300px;
	text-align: center;
	width: 700px;
}

.no-flash p {
	font-size: 1.1em;
	margin: 0;
	padding-top: 135px;
}

.no-flash a {
	color: #3f8425; 
	font-weight: bold;
	text-decoration: underline;
}