#new-work td {
	padding-right: .5em;
}

#new-work .img {
	padding-top: .5em;
	text-align: center;
}

#current-work {
	width: auto;
}

#current-work td,
#current-work td img {
	vertical-align: middle;
}