.kpz-content,
.cell-content {
	text-align: center;
}

.actions {
	display: inline-block;
	*display: inline;
	margin-top: 1em;
	text-align: left;
	*zoom: 1;
}

.actions li {
	line-height: 4em;
}

.actions img {
	cursor: pointer;
	height: 35px;
	vertical-align: middle;
	width: 35px;
}

.tabs-content .error {
	color: #FF0000;
	font-weight: bold;
	margin-top: 1em;
}
