html {
	height: 100%; /*IE6*/
	overflow: hidden; /*IE6*/
}

body {
    background: url('http://img.blutbad.ru/i/quickslot/tile_01.gif') repeat-y;
	height: 100%; /*IE6*/
	overflow: hidden; /*Opera 9,10*/
	position: relative; /*IE6*/
}

.hp-pw-digits {
	color: #000000;
	font-weight: bold;
	padding-left: 2px;
	position: absolute;
	left: 0;
	top: 0;
}

.hp-pw-digits-small {
	margin-top: 1px;
	font-size: .9em;
	position: absolute;
	left: 0;
	top: 0;
}

.hp-pw-digits .hp,
.hp-pw-digits .pw {
	clear: both;
	float: left;
}

#panel-container {
	bottom: 31px;
	overflow: hidden;
	position: absolute;
	left: 0;
	text-align: center;
	top: 30px;
	width: 65px;
	_zoom: 1;
}

#panel-container a.tune-link {
	color: #404040;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.1em;
	text-decoration: none;
}

#panel-container a.tune-link:hover {
	color: #000000;
}

#panel-container ul {
}

#panel-container li {
	padding-right: 6px;
}

#panel-container .rune {
	cursor: pointer;
	height: 39px;
	margin: 0 auto;
	position: relative;
	width: 39px;
}

#panel-container .rune img {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 35px;
	padding: 2px;
	width: 35px;
}

#panel-container .disabled img {
	cursor: default;
	filter: alpha(opacity=50);
	opacity: .5;
}

#panel-container .rune-1 img {
	background-image: url('http://img.blutbad.ru/i/slot_01.gif');
}

#panel-container .rune-2 img {
	background-image: url('http://img.blutbad.ru/i/slot_02.gif');
}

#panel-container .rune-3 img {
	background-image: url('http://img.blutbad.ru/i/slot_03.gif');
}

#panel-container .quantity {
	background-color: #FFFFFF;
	border: 1px solid;
	font-size: .8em;
	font-weight: bold;
	line-height: 1em;
	right: -3px;
	padding: 1px;
	_padding-right: 0;
	position: absolute;
	top: 0px;
}

.opera #panel-container .quantity,
.webkit #panel-container .quantity {
	padding-bottom: 2px;
}

#panel-bottom {
	background: url('http://img.blutbad.ru/i/quickslot/ugol_down_01.gif') no-repeat;
	bottom: 0;
	_bottom: -1px;
    height: 31px;
	left: 0;
    position: absolute;
	width: 65px;
}

#panel-bottom-top {
	background: url('http://img.blutbad.ru/i/quickslot/ugol_down_02.gif') no-repeat;
	bottom: 0;
	_bottom: -1px;
    height: 31px;
	left: 0;
    position: absolute;
	width: 65px;
}

#panel-bottom .up,
#panel-bottom .down {
	cursor: pointer;
	display: none;
	height: 12px;
	left: 12px;
	position: absolute;
	width: 41px;
}

#panel-bottom .up {
	top: 6px;
}

#panel-bottom .down {
	top: 18px;
}