.greetings {
	font-size: 1.0em;
}

.replicas {
	margin: 0;
	padding: 0 0 0 1.4em;
}

.replicas li {
	background:  url('http://img.blutbad.ru/i/quest/dialog.png') no-repeat 0 2px;
	margin: .7em 0;
	padding: 1px 0 2px 18px;
}

.replicas li a {
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.quests {
	margin-top: 1em;
}

.quests ul {
   /*	list-style: square;
	margin: 0 2.5em;*/
}

.quests ul li {
	font-size: 12px;
	margin: .5em 0;
}

.deal-items {
	margin-top: 1em;
}

.deal-items .section-title {
	font-size: .9em;
	font-weight: bold;
	margin-bottom: 1em;
}

.deal-items li {
	display: inline-block;
	*display: inline;
	margin: 0 .5em .5em 0;
	vertical-align: middle;
	*zoom: 1;
}

.deal-items li.needed {
	color: #FF0000;
}

.deal-items li img {
	vertical-align: middle;
}

.deal-items li.needed img {
	filter: alpha(opacity=50);
	opacity: .5;
}

.highlight,
.replicas li.highlight{
	background-color: #C7DBB3;
}

input.button-highlight {
	background: #C7DBB3;
}

.flash-container {
	background: url('http://img.blutbad.ru/i/minigames/match3_rama.png') no-repeat;
	height: 300px;
	margin: 0 auto;
	padding: 12px 11px;
	width: 700px;
}

 h5{
   background-color: #D3D3D5;
   border-bottom: 1px solid #AEAEBB;
   padding: 3px;
 }
  #quest-col #quest_description, #quest_reward, #quest_terms{
   padding: 5px;
   display: none;
 }
  #qdialog{
   margin: 10px;
   font-size: 12px;
 }
 .greetings{
   display: none;
 }

.bottom-buttons{
    font-size: 11px;
    padding-top: 10px;
    border-top: 1px solid #AEAEBB;
}

 .qblock{
    outline: none;
    -moz-box-shadow: 0 0 1px 1px #39f;
    -khtml-box-shadow: 0 0 1px 1px #39f;
    -webkit-box-shadow: 0 0 1px 1px #FFCE33;
    box-shadow: 0 0 1px 1px #FFC633;
    border-color: #FFCE33;
    border: 1px solid #DFAA4B;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #F2F4F7;
}


 .curblock{
    outline: none;
    -moz-box-shadow: 0 0 1px 1px #39f;
    -khtml-box-shadow: 0 0 1px 1px #39f;
    -webkit-box-shadow: 0 0 1px 1px #FFCE33;
    box-shadow: 0 0 1px 1px #FFC633;
    border-color: #FFCE33;
    border: 1px solid #DFAA4B;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 2em;
}

.text ol, .text ul {
  margin: 1em 0;
  padding-left: 30pt;
  padding-right: 10pt;
}