h3 {
	font-size: 15px;
	margin: 1em 0 4px 0;
}

.table-list .name {
	width: 150px;
}

.table-list .value {
	width: 75px;
}

.table-list .time {
	width: 150px;
}

.table-list .description {
}

.table-list .source {
	width: 190px;
}

.table-list tbody .name {
	white-space: nowrap;
}

.table-list .title {
	width: 150px;
	text-align: center;
}

.table-list .description ul{
	list-style: disc;
	padding-left: 1.45em;
}

.table-list tbody .value,
.table-list tbody .time {
	text-align: center;
}

#reputation th.color {
	width: 10px;
}

#reputation td {
	text-align: center;
}

#skills {
	margin-bottom: 1em;
	width: auto;
}

#achievements .table-list {
	margin-bottom: 2em;
}

.table-list .img {
	text-align: center;
	width: 100px;
}

#achievements #all-achievements {
	margin-bottom: 0;
	width: auto;
}

#achievements thead th {
	text-align: left;
}

#achievements #all-achievements th {
	text-align: center;
}

#skills .value,
#all-achievements .value {
	text-align: right;
}

img.toggle,img.ach-group-toggle {
	cursor: pointer;
	height: 9px;
	width: 9px;
}

.ach_aim_list {
	font-style: italic;
	list-style-type: circle;
	padding-left: 10px;
}

tr.ach-final td {
	background-color: #aaaaaa;
}

#achievement-rewards {
	list-style: disc;
	margin: .5em 0 2em;
	padding-left: 2em;
}

/**
 * Eieeaeneee
 */
table.collection {
	margin-bottom: 10px;
	border: 1px solid gray;
	border-collapse: collapse;
	/*width: 775px;*/
}

table.collection td {
	border: 1px solid gray;
	text-align: center;
	padding: 3px;
}

table.collection td.collection_title {
	font-weight:bold;
	text-align:left;
	background-color:#a2b2bf;
}

table.collection td.collection_item_title,table.collection td.collection_item_count {
	font-weight:bold;
	height: 12px;
	/*font-size: 0.9em;*/
	vertical-align: middle;
}

table.collection td.collection_item_image {
	width: 85px;
	vertical-align: middle;
}

table.collection td.collection_collect {
	height: 80px;
	width: 120px;
	text-align: center;
	font-weight:bold;
	/*vertical-align: middle;*/
}