#fact {
	margin-bottom: 2em;
}

.wars-table thead th {
	text-align: left;
}

.wars-table tbody th,
.wars-table tbody td {
	vertical-align: middle;
	white-space: nowrap;
}

.wars-table tbody .attacker img,
.wars-table tbody .attacker .level,
.wars-table tbody .defender img,
.wars-table tbody .defender .level,
.wars-table tbody .victory img {
	vertical-align: middle;
}

.wars-table .row_even td {
	background-color: #C5CED5;
}

.wars-table .battle {
	text-align: center !important;
}

.clans {
	width: auto;
}

.clans td.name img,
.clans td.name .name {
	vertical-align: middle;
}

.clans .quantity {
	text-align: right;
}
