code {
	font-size: 1.2em;
}

.block {
	margin-top: 1em;
	padding: .5em 1em;
}

.block fieldset {
	margin-bottom: .5em;
}

.msie8 #players .nowrap {
	display: inline-block;
	margin-right: .5em;
}

.monospace {
	font-family: Courier New;
	font-size: 1.2em;
}

#block-players {
	margin-top: 0;
}

#pause_area {
	font-weight: bold;
	font-size: 1.27em;
	padding: 1em;
	text-align: center;
}

#take_hint_one_specific_letter_param {
	width: 1.6em;
}

#join-quit-button {
	margin-top: 1em;
	width: 130px;
}

#players-title,
#scores-title,
.players-title {
	font-size: 12px;
}

#players .scores {
}

/*
 * Current question & answer
 */
#round_area th,
.recent-question th  {
	height: 1%;
    padding-right: 0.8em;
    text-align: right;
    width: 160px;
    white-space: nowrap;
    vertical-align: middle;
}

#input_answer {
	height: 1.8em;
	margin-left: 0px;
	padding-bottom: 0;
	padding-top: 0;
	position: relative;
	width: 15em;
}

#input_answer,
#accept_answer_button {
	vertical-align: middle;
}

.spectator .no-spectator {
	display: none;
}

#hint-col {
	padding-left: 2em;
}

#hint-col .button {
	font-size: .9em;
}

.recent-question .button {
	font-size: .9em;
}

#letter-selector {
	margin: .1em 0 .3em;
}

#letter-selector li {
	display: inline;
	margin-right: .4em;
}

#letter-selector .button {
	padding-left: 0;
	padding-right: 0;
}

/*
 * Recent question
 */
.recent-question {
}

.right-answers .mine,
.wrong-answers .mine {
	color: #000000;
}
