.vote-table .users-list li,
.vote-table .result-table td {
	height: 18px;
}

.vote-table .users-list li {
	white-space: nowrap;
}

.opera .vote-table .radio,
.opera .vote-table .nickname {
	vertical-align: middle;
}

.vote-table .radio {
	margin: 0;
}

.vote-table .votes,
.vote-table .bar,
.vote-table .percent {
	padding-left: .5em;
}

.vote-table .votes,
.vote-table .percent {
	text-align: right;
}

.vote-table .votes span,
.vote-table .percent span {
	position: relative;
	top: 3px;
}

.vote-table .bar img {
	position: relative;
	top: 5px;
}


.vote-table .result-col {
	padding-left: .5em;
}

.vote-table .result-table {
	float: right;
}

.tabs-content .votes-list,
.tabs-content .vote-fieldset {
	float: left;
}

.active-mode .vote-fieldset {
	clear: both;
	*display: inline;
	margin: 0 1em 1em 0;
}

.vote-table .vote-action {
	padding-top: .5em;
}

.vote-table .info {
	padding-top: .5em;
}

.votes-list {
	display: inline-block;
	*display: inline;
	margin: 0 1em 1em 0;
	*zoom: 1;
}

.votes-list li {
	white-space: nowrap;
}

.votes-list .selected {
	color: red;
	text-decoration: underline;
}

.votes-list .button {
	margin-top: .5em;
}

.votes-list .button-prev {
	float: left;
}

.votes-list .pagination {
	text-align: right;
}

.table-list {
	border-width: 0;
	width: auto;
}

.table-list th,
.table-list td {
	border-width: 0;
	vertical-align: middle;
}

.year {
}

.table-list td.percents {
	border-right: 0;
	font-weight: bold;
	text-align: right;
	width: 3em;
}

.table-list td.columns {
	border-left: 0;
}

.columns {
	width: 300px;
}

.column {
	border: 1px solid;
}

.column-1 {
	background-color: #FFE700;
}

.column-2 {
	background-color: #0D9B46;
	margin-top: -1px;
}

.column-3 {
	background-color: #E70D46;
	margin-top: -1px;
}
