table.ss td, table.ss th {
border: 1px solid #A9B9C9;
padding: 3px;
vertical-align: middle;
}
table.ss {
line-height: 1.45em;
}
.bg_even {
background-color: #C5CED5;
}
.bg_odd {
background-color: #DEE2E7;
}


.table-bids .type table {
	margin: 0 auto;
}

.table-bids .type th {
	border: 0;
	padding: 0;
}

.table-bids .type .img {
	/*padding: 0 .3em;*/
	width: 16px;
}

.table-bids .type .img img {
	padding: .3em;
}

.table-bids .type .img .isolated {
	background-color: #FFB0B0;
}

.table-bids .type .side-1,
.table-bids .type .side-2 {
	width: 50%;
}

.table-bids .type .side-1 {
	text-align: right;
}

.table-bids .type .side-2 {
	text-align: left;
}

.table-bids .type .hidden {
	display: block;
	margin-top: -1.25em;
	visibility: hidden;
}

.table-but-type{
    width: 100%; border: 1px solid #71818D; margin-bottom: 10px;
    background: #92A2AF url(http://img.blutbad.ru/i/z_bg.gif);
}

.table-but-lab{
    padding: 5px;
    width: 20px;
    font-weight: bold;
    vertical-align: middle;
}
.table-but{
    vertical-align: middle;
}
.table-inp-but{
  width: 105px
}
input.button-current{
background: #FFF url('http://img.blutbad.ru/i/r.jpg') repeat-x 0 0px;
}
.button{
 cursor: pointer;
}


.battleground {
    /*background-color: #BACADF;
    border: 1px solid #71818D;*/
    padding: 5px;
}

.table-but .xbsel, .table-but .xbsel{
    padding: 5px 0px 5px;
}

.table-but .xgbutton, .table-but .xbbutton{
 width: 110px;
/* padding: 3px 0px; */
}
.table-but .xgbutton{
padding: 4px 0px;
}

.zaybutload{
    background: url('http://img.blutbad.ru/i/upload_inv.gif') center no-repeat;
    width: 110px;
    height: 23px;
    position: absolute;
    top: 45;
    display: none;
}