.relict-title {
	font-weight: bold;
	text-align: center;
}

.info-relict-title {
	text-align: left;
}

.relict-title span,
.relict-title img,
.relict-title i {
	vertical-align: middle;
}

.align-group td {
	border: 0;
	vertical-align: middle;
}

.align-group .img {
	width: 35px;
}

.align-group img {
	cursor: pointer;
	height: 35px;
	width: 35px;
}

.guardian {
	float: right;
}

.other-aligns {
	width: auto;
}

.other-aligns thead th {
	width: 33.3%;
}

.other-aligns td.align {
	text-align: center;
}

.other-aligns td.align img {
	height: 16px;
	width: 25px;
}

.other-aligns .number {
	text-align: right;
}

.other-aligns tfoot th {
	font-weight: normal;
}