@charset "utf-8";

html {
  height:100%;
  width:100%4
}

 body {
	margin:0;
	padding:0;
	height:auto !important;
	height:100%;
	min-height:100%;
	padding:0px;
	margin:0px;
	text-align:left;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#FFF;
	background-color: #000;
	background-image: url(../images/head.gif);
	background-repeat: no-repeat;
	background-position: center top;
	width:100%;
}

.clear {
	clear:both
}

img {
	border:0px;
	font-family:Verdana, Geneva, sans-serif;
	font-size: 14px;
	font-style: italic;
}

a, a:visited {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-style: normal;
	color: #e7d6ab;
	font-size: 13px;
	text-decoration:underline;
	font-weight: normal;
}

a:hover {
	text-decoration:none;
	color: #e7d6ab;
}

div {
	margin:auto;
}

img, div { behavior: url(../iepngfix.htc) }

p {
	margin:0px;
	padding:0px;
}

br {
	margin:0px;
	padding:0px;
}

.left {
	float:left;
}

.right {
	float:right
}

.relative {
	position:relative
}

.absolute {
	position:absolute;
}

.clear {
	clear:both
}


.round_corner_five {
	-moz-border-radius: 5px; /* Firefox */
	-webkit-border-radius: 5px; /* Safari, Chrome */
	-khtml-border-radius: 5px; /* KHTML */
	border-radius: 5px; /* CSS3 */
}

.round_corner_ten {
	-moz-border-radius: 10px; /* Firefox */
	-webkit-border-radius: 10px; /* Safari, Chrome */
	-khtml-border-radius: 10px; /* KHTML */
	border-radius: 10px; /* CSS3 */
}


.opalicy{
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* IE 5.5+*/
-moz-opacity: 0.5; /* Mozilla 1.6 и ниже */
-khtml-opacity: 0.5; /* Konqueror 3.1, Safari 1.1 */
opacity: 0.5; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9 */
}

table{
	border-collapse:collapse
}