body {
	FONT: 13px Verdana, Tahoma, Verdana, Helvetica;
    scrollbar-3dlight-color: #DDDDDD;
    scrollbar-arrow-color: #C6C6C6;
    scrollbar-base-color: #EEEEEE;
    scrollbar-darkshadow-color: #EEEEEE;
    scrollbar-face-color: #EEEEEE;
    scrollbar-highlight-color: #C6C6C6;
    scrollbar-shadow-color: #C6C6C6;
    scrollbar-track-color: 	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	
	background-color: #F2F0F0;	
}
HR
{
	padding: 2px;
	margin: 2px;
	color: #DDDDDD;
	border-style: none;
	border-width: 2px;
	background-color:#DDDDDD;
	line-height: 2px;
}
img {
	cursor:hand;
}
.td{
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.lvl {
	font-family: Arial;
	font-size: 12px;
	text-decoration : none;
	color: #0000FF;
	font-weight: bold;
}
.priv {
	font-family: Tahoma, Verdana, Arial, Verdana, Arial, Helvetica, Tahoma, Verdana, sans-serif;	color: #FFFFFF;
	font-size: 11px;
	background-color: #CA5A51;
}
.timef {
	font-family: Tahoma, Verdana, Arial, Verdana, Arial, Helvetica, Tahoma, Verdana, sans-serif;	
	font-size: 13px;
	color: #888888;
	text-decoration : none;
}
.user {
	font-family: Verdana, Arial, Verdana;
	text-decoration : none;
	color: #222222;
	FONT-WEIGHT: bold;
	font-size: 13px;
	cursor: hand;
}
.user {
	font-family: Verdana, Arial;
	text-decoration : none;
	color: #222222;
	FONT-WEIGHT: bold;
	font-size: 13px;
	cursor: hand;
}
.userl {
	font-family: Verdana, Arial;
	text-decoration : none;
	color: #000000;
	FONT-WEIGHT: bold;
	font-size: 12px;
	cursor: hand;
}
.toyou {
	background-color: #9999FF;
	font-family: Tahoma, Verdana, Arial, Verdana, Arial, Helvetica, Tahoma, Verdana, sans-serif;	color: #FFFFFF;
	font-size: 11px;
}
.clan {
	background-color: #008800;
	font-family: Tahoma, Verdana, Arial, Verdana, Arial, Helvetica, Tahoma, Verdana, sans-serif;	color: #FFFFFF;
	font-size: 11px;
}
.clan_you {
	background-color: #666633;
	font-family: Tahoma, Verdana, Arial, Verdana, Arial, Helvetica, Tahoma, Verdana, sans-serif;
	color: #FFFFFF;
	font-size: 11px;
}


.time {
	font-family : Tahoma, Verdana, Arial, Verdana, Arial, Helvetica, Tahoma, Verdana, sans-serif;
	font-size : 11px;
	text-decoration : none;
	color: #333399;
}

.fader {
filter:alpha(opacity=60);
}
.menu {
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	z-index: 1;
	width: 75x;
	height: 70px;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-right: 1px solid #626060;
	border-bottom: 1px solid #626060;
	position: absolute;
	top: 0px;
	left: 0px;
	visibility: hidden;
}

.att {
	FONT: 12px Verdana, Tahoma, Verdana, Helvetica;
	font-weight: bold;
	color: #800000;
}
.al {
	font-family: Verdana, Tahoma, Verdana;
	font-size: 12px;
	background-color: #BBEEFF;
	color: #333333;
}
.hp {
	font-family: Verdana, Arial, Helvetica, Tahoma, Verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #990000;
}
.ma {
	font-family: Verdana, Arial, Helvetica, Tahoma, Verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000099;
}
.items {
	border-width: 1px;
	border-color: #000000 #000000 #666666 #000000;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 11px;
	color: #000000;
	text-align: center;
	border-top-style: dashed;
	border-bottom-style: dashed;
	font-weight: bold;
}
.laar {
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 12px;
	color: #000000;
	background-color: #C0C0C0;
	border-style: solid;
	border-width: 1px;
	border-color: #C0C0C0;
	background-image: url('images/design/f_line_down_up.jpg');
}
.but {
	background-color: #C0C0C0;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	text-align: center;
	background-image: url('images/design/f_line_down_up.jpg');
	border-style: solid;
	border-width: 1px;
	border-color: #808080;
	font-size: 11px;
}
.xy {
	color: #333333;
	font-size: 10px;
	font-family: Verdana, Arial, Tahoma;
}
.inv {
	font-family: Verdana, Arial, Helvetica, Tahoma, Verdana, sans-serif;
	font-size: 12px;
	color: #000000;
}
FORM
{
	MARGIN-LEFT: 0px;
	MARGIN-TOP: 0px;
	MARGIN-RIGHT: 0px;
	MARGIN-BOTTOM: 0px;
}

.login {
	border:1px solid #C0C0C0; font-family: Verdana;
	font-size: 12px;
	background-color: #666666;
	background-image: url('images/login.gif');
	color: #222222;
}

.buttonc
{
	background-color: transparent; color: #000; font-family: Verdana; font-size: 8pt; font-weight: bold; margin: 0px; padding: 0px;
	border: 0px;
}

.hp_in_f {
	border-style:  none;
	font-family: Verdana, Arial, Verdana;
	font-size: 10px;
	color: #990000;
}
.green {
	font-family: Verdana, Arial, Helvetica, Tahoma, Verdana, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #005500;
}
.blue {
	font-family: Verdana, Arial, Helvetica, Tahoma, Verdana, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000099;
}
.red {
	font-family: Verdana, Arial, Helvetica, Tahoma, Verdana, sans-serif;
	font-size: 12px;
	color: #990000;
}
.user {
	font-family: Verdana, Arial, Verdana;
	color: #222222;
	FONT-WEIGHT: bold;
	font-size: 12px;
}
.bnick {
	font-family: Verdana, Arial, Helvetica, Tahoma, Verdana, sans-serif;
	font-size: 11px;
	font-weight: bold;
}
.alt {
    filter:alpha(opacity=85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
	font-family: Verdana, Arial, Helvetica, Tahoma, Verdana, sans-serif;
	background-color: #CCCCCC;
	font-size: 11px;
	background-image: url('images/design/f_line_long.jpg');
	border-style: solid;
	border-width: 1px;
	border-color: #E1E1E1;
}
.logo
{
	background-color: #F5F5F5;	
    background-image: url('images/greylogo.gif');
    background-position: top;
    background-repeat: no-repeat;
}
input 
{
	padding: 0px; margin: 0px;
	padding-bottom: 2px;
	margin-bottom: 1px;
}
td
{
	font-size: 8pt;
	font-family: Verdana;
}
a, a:link, a:visited, a:active {
	color: #003388;
	text-decoration: none;
	font-weight: bold;
	font-size: 10pt;
	font-family: Verdana;
	margin-left: 5px;
}
a:hover {
	color: #0066FF;
	text-decoration: none;
	font-weight: bold;
	font-size: 10pt;
	font-family: Verdana;
	margin-left: 5px;
}
#date		{ font-family: Courier; font-size: 8pt; text-decoration:none; font-weight:normal; color: #007000}
#ch_to		{ font-family: Courier; font-size: 8pt; text-decoration:none; font-weight:normal; color: #000; background-color: #25eaa6;}
#ch_privat	{ font-family: Courier; font-size: 8pt; text-decoration:none; font-weight:normal; color: #000; background-color: #fde1e5;}
#ch_clan	{ font-family: Courier; font-size: 8pt; text-decoration:none; font-weight:normal; color: #000; background-color: #9999FF;}
.date		{ font-family: Courier; font-size: 8pt; text-decoration:none; font-weight:normal; color: #007000}
.ch_to		{ font-family: Courier; font-size: 8pt; text-decoration:none; font-weight:normal; color: #000; background-color: #25eaa6;}
.ch_privat	{ font-family: Courier; font-size: 8pt; text-decoration:none; font-weight:normal; color: #000; background-color: #fde1e5;}
.ch_clan	{ font-family: Courier; font-size: 8pt; text-decoration:none; font-weight:normal; color: #000; background-color: #9999FF;}