body {
	background-color: #92A2AF;
	padding: 5px;
}

.title {
	font-size: 1.1em;
}

.table-all {
	margin-top: 1em;
}

.table-list thead th {
	background-color: #FFFFFF;
	font-weight: normal;
}

.table-list tbody td {
	background-color: #C5CED5;
	text-align: center;
}

.buy {
	color: darkgreen;
}

.sell {
	color: darkred;
}

.table-all .deals,
.table-all .sum {
	text-align: right;
}

.prices {
	color: darkgreen;
}