.main-table {
	width: auto;
}

.map-col {
    padding-left: 10px;
	width: 650px;
}

.map-col .online-col {
   /*	display: inline;
   	float:right;*/
	height:	16px;
   /*	margin-left: 1em;*/
}

.map-col .online {
	font-size: .85em;
}

.map-col a.highlight {
	background-color: #FFF0AA;
}

.main-table .right-col,
.main-table .right-col-inner {
	width: auto;
}

/*
 * Map
 */
#map {
	height: 300px;
	position: relative;
	width: 650px;
}

.hover-map img,
.img-map img {
	cursor: pointer;
	position: absolute;
}

.hover-map img:hover {
	opacity: .7;
}

.hover-map img.hover {
	filter: Glow(color=FFFFFF,strength=3);
	opacity: 1;
}

.hover-map img.inactive,
.img-map img.inactive {
	cursor: default;
}

.hover-map img.inactive {
	filter: Glow(enabled=0);
	opacity: 1;
}

#tooltip.location {
	font-weight: bold;
}

/*
 * end: Map
 */

/*
 * Minimap
 */
#minimap {
	height: 160px; 
	/*margin: 0 auto 1em;*/
	margin-bottom: 1em;
	position: relative;
	width: 160px;
}

.hover-minimap img {
	cursor: pointer;
	position: absolute;
}

#tooltip.tooltip-minimap ul,
#tooltip .minimap-rooms {
	list-style: disc;
	margin-top: .5em;
	padding-left: 1.45em;
}

#tooltip.tooltip-minimap .denied,
#tooltip .minimap-rooms .denied {
	color: #C0C0C0;
}

.tooltip-minimap b,
.tooltip-minimap li {
	white-space: nowrap;
}
/*
 * end: Minimap
 */

.map-actions {
	margin-bottom: 1em;
	text-align: center;
	width: 160px;
}

.map-actions img {
	cursor: pointer;
    height: 35px;
    width: 35px;
}

#room_locations_main {
	display: none;
}

#location_list {
  border: 2px solid #556775;
  text-align: left;
  outline: none;
  background-color: rgba(205, 222, 239, 0.5);
}

#location_list {
	*display: inline;
	*zoom: 1;
}

#location_list legend {
  font-size: 12px;
  outline: none;
  color: #556775;
}

#location_list li.highlight {
	background-color: #FFF0AA;
}

#location_list a,
.nowrap {
	white-space:nowrap;
}

#location_list a {
	font-size: 11px;
}
#location_list a:hover {
    /*text-decoration: underline;*/
    background-color: #F5EBB4;
}
#location_list a.disabled {
	color: #909090;
}

#location_list .loc_list_main_general a {
  font-weight: bold;
}

#location_list a:hover {
  color: #a50b0b;
}

#location_list #room_delay {
	margin-top: 0;	
}
