/*
*     1. Structure
*     2. Common styles
*     3. Footer
*     4. Header
*     5. User menu
*     6. Content block
*     7. Voting
*     8. Tag cloud
*     9. News
*    10. Photo new comment
*    11. Interests
*    12. Skins
*    13. Profile
*    14. User group search
*    15. Popups
*    16. Blog
*    17. Grid
*    18. Sub menu
*    19. Accordeon
*    20. Folders
*    21. Pager
*    22. Albums
*    23. Groups
*    24. Tag search
*    25. Friends
*    26. Favorites
*    27. Admin
*    28. Rating
*/


/*   STRUCTURE
**************************************/
html, body {
  width:100%;
  height:100%;
}
body {
  font-family: "Arial", sans-serif;
  min-width:1000px;
  color:#000;
}
.main_container {
  height: auto !important;
  min-height: 100%;
  height: 100%;
  width:100%;
  position: relative;
  float:left;
}

.main_content {
  /*padding-bottom: 48px;*/
  float:left;
  width:100%;
  background: #FFF;
  border: 1px solid #C1CAD8;
  border-bottom: 0px solid;
  margin-left: -1px;
}


.min_width {
  width:980px;
  margin:0px auto;
  overflow:hidden;
}

/*   COMMON STYLES
**************************************/
.invisible {
  visibility: hidden;
}
.table {
  border-collapse:collapse;
  border-spacing:0px;
}
.table td {
  vertical-align:top;
}
.iframe_window {
  border:0px;
  left:0px;
  position:absolute;
  top:0px;
  z-index:-1000;
  width:100%;
  height:100%;
  }

* html p {
  overflow: hidden;
  o\verflow: visible;
  width: 100%;
  w\idth: auto;
  zoom: 1;
}


.oh { overflow:hidden; }
.fl { float:left !important; }
.fr { float:right !important; }
.fn { float:none !important; }
.por { position:relative; }
.form {
  overflow:hidden;
}
ul.ul {
  list-style:none;
}
ul.ul li {
  margin:0;
  padding:0;
  border-bottom:none;
}
.button {
  height:18px;
  color:#fff;
  font:bold 12px/18px "Arial", sans-serif;
  display:block;
  float:left;
  padding:1px 10px;
  text-decoration:none;
  cursor:pointer;
}
input.button {
  height:22px;
  padding:0 5px;
}
.inp_text {
  height:22px;
  float:left;
  font-size:13px;
  line-height:18px;
  padding:2px 5px;
  font-weight:bold;
  display:inline;
  z-index:100;
}
/* jquery-selectbox */
/*.selectbox {
  height:18px;
  font-size:13px;
  line-height:17px;
  padding:2px 15px 0 5px;
  cursor:pointer;
  font-weight:bold;
  width:160px;
}
.selectbox-wrapper {
  cursor:pointer;
  border:1px solid #8084b0;
  padding:5px 5px 0;
  width:190px;
  position:absolute;
  top:21px;
  left:0px;
  z-index:10000;
}
.select-wrap {
  position:relative;
}

.selectbox-wrapper li {
  margin-bottom:5px;
  line-height:16px;
}
.selectbox-wrapper li.selected {
  font-weight:bold;
}
.become_level .selectbox {
  width:130px !important;
}*/


/* jquery-datepicker */
.datepicker_wrap {
  position:relative;
  width:120px;
  display:inline;
}
.datepicker_wrap .datePicker {
  width:86px;
}
.datepicker_wrap .ui-datepicker-trigger {
  display:block;
  border:0;
  width:22px;
  height:22px;
  float:left;
  background:url("/i/comm/skin1/date_choose.gif") no-repeat top left;
  text-indent:-9999px;
}

div.ui-datepicker {
  z-index:10000;
  display:none;
}


.info, .delete {
  margin-right:7px;
}
h3 {
  font-size:16px;
  margin:15px 0 10px;
}

.regular { font-weight:normal; }

.window_act {
  width:20px;
  padding:0 !important;
  vertical-align:middle !important;
  cursor:pointer;
}

.dl {
  width:100%;
  float:left;
}
.dl dt {
  float:left;
  width:200px;
  clear:both;
  padding-bottom:10px;
  line-height:22px;
}
.dl dd {
  margin-left:200px;
  /*height:1%;*/
  /*line-height:22px;*/
  padding-bottom:10px;
}

.list {
  overflow:hidden;
}
.list li {
  margin-bottom:10px;
  line-height:16px;
}
.list li.last {
  margin-bottom:0;
}
a {
  color:#000;
}
.nou { text-decoration:none; }

.hidden {
  display:none;
}

.list_limiter {
  overflow-y:scroll;
  overflow-x:hidden;
  height:200px;
}
.light a {
  color:#5b5f5e;
}

small {
  font-size:11px;
}

label {
  line-height:22px;
}

.action_link {
  color:#5b5f5e;
  text-decoration:underline;
}
.action_link:hover {
  text-decoration:none;
}

div.window {
  position: absolute;
  top:0px;
  left:0px;
  z-index: 10000;
  background:#F4F4FF;
  font-size:13px;
  border: 1px solid #413E99;
}
.window td {
  padding:3px 5px;
  vertical-align:top;
  line-height:16px;
}

.autocomplete_suggestions {
  background-color: white;
  border: 1px solid black;
  position: absolute;
  top:0px;
  left:0px;
  z-index: 10000;
  overflow: hidden;
}

.autocomplete_suggestions div {
  cursor: default;
  padding: 0px 3px;
}

.autocomplete_suggestions div.autocomplete_current {
  background-color: black;
  color: white;
}

#scw {
  z-index:20000;
  left:-2000px;
  top:0;
}

/*   FOOTER
**************************************/
.main_footer p {
  height:48px;
  font-size:13px;
  text-align:right;
  line-height:48px;
  color:#000;
  margin-right:30px;
  position:relative;
  left:-1px;

}

.main_footer {
  /*clear: both;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 48px;*/
  clear: both;width: 100%;height: 48px; background-color: #E9EAED;
}

/*   HEADER
**************************************/
.welcome {
  width:470px;
  height:48px;
  line-height:48px;
  padding-right:20px;
  text-align:right;
  float:right;
  /*margin-bottom:10px;*/
}
.welcome span { color:#fff; }
.welcome form {
  margin: 18px 0 0;
  padding:0;
  float:right;
  width:100%;
}
.welcome .inp_text {
  margin-right:10px;
  width:175px;
}
.welcome #blutbad_reg {
  clear:both;
  float:right;
  height:20px;
  position:relative;
  text-transform:uppercase;
  width:234px;
}
.welcome #blutbad_reg a {
  color:#fff;
  font-family:Trebuchet MS;
  font-size:10px;
  left:0;
  position:absolute;
  top:2px;
  line-height:12px;
  text-decoration:underline;
}
.logo {
  width:980px;
  height:180px;
  clear:both;
  position:relative;
}
.logo i {
  position:absolute;
  background:url("/i/comm/logo.png") no-repeat left top;
  width:980px;
  height:180px;
  top:0px;
  left:0px;
  margin-top: 5px;
}
.logo a {
  position:absolute;
  top:0px;
  left:0px;
  width:420px;
  height:75px;
  display:block;
  text-indent:9999px;
  margin-left:45px;
  white-space:nowrap;
  overflow:hidden;
}

.content_container {
  margin:20px;
  position:relative;
  z-index:10;
  width:940px;
  float:left;
}

.breadcrumbs {
  margin:5px 240px 0 10px;
  line-height:20px;
  padding-bottom:13px;
}
.breadcrumbs a {
  font-size:13px;
}
#search {
  float:right;
  width:190px;
}


/*   USER MENU
**************************************/
.user_menu {
  overflow:hidden;
  /*height:42px;
  clear:both;
  width:100%;
  margin-bottom:20px;*/
}
.user_menu li {
  float:left;
  /*height:33px;*/
}
.user_menu a {
  color:#fff;
  font-size:15px;
  text-decoration:none;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  font-size: 12px;
}
.user_menu .user {
 /* width:172px; */
  /*padding-left:20px;*/
}



/*   CONTENT BLOCK
**************************************/

.blocks_container {
  width:940px;
  overflow:hidden;
  padding-bottom:50px;
  clear:both;
}
.small  { width:272px; }
.medium { width:352px; }
.large  { width:648px; }

.blocks_container .left {
  float:left;
}
.blocks_container .right {
  margin-left:20px;
  float:left;
  display:inline;
}

.two_blocks {
  width:100%;
  border-collapse:collapse;
  margin-bottom:20px;
}
.two_blocks .block {
  margin-bottom:0px;
}
.two_blocks td {
  background:#fff;
  padding:0px;
}
.block {
  margin-bottom:20px;
}
.block h2 {
  color:#fff;
  padding-left:15px;
  font:bold 12px/20px "Arial", sans-serif;
}
.block h2 a {
  color:#fff;
  font-weight:normal;
  font-size:15px;
}
.block .content {
  padding:20px;
  font-size:12px;
  background:#fff;
  /*height:1%;*/
  min-height:24px;
}

/*   VOTING
**************************************/
.voting p {
  color:#040d3f;
  font-weight:bold;
  padding-bottom:5px;
}
.voting ul {
  padding-bottom:10px;
  overflow:hidden;
}
.voting ul li {
  margin-top:5px;
  line-height:16px;
  clear:both;
  overflow:hidden;
  padding-left:20px;
}
.voting ul li label {
  display:block;
  line-height:16px;
  float:left;
}
.voting ul li input {
  float:left;
  width:13px;
  height:13px;
  margin:2px 0 0 -20px;
  padding:0px;
}
.voting .button {
  clear:both;
  margin-top:10px;
}

.VoteBar {
  height: 12px;
  background-color: #909090; border: solid 1px #b0b0b0;
}

.VoteBarMax {
  height: 12px;
  background-color: #ff0000; border: solid 1px #ffb0b0;
}
.VoteMax {
  color: #3e1f87; 
}
.Vote {
  color: #000000;
}

.vote_list {
  margin-bottom:40px;
}
.vote_list li {
  padding:0 300px 12px 0;
  margin:15px 0 0 0;
  width:308px;
  position:relative;
}
.vote_list li p {
  line-height:18px;
}
.vote_list .vote_actions {
  width:260px;
  right:-10px;
  position:absolute;
}
.vote_list.answers .vote_actions {
  width:176px;
}
.vote_list.answers .info {
}

.vote_list .vote_actions a {
  margin-right:5px;
}
.vote_list .delete {
}
.survey h3 {
  font-weight:normal;
  padding-bottom:15px;
  margin:0 0 30px 0;
}
#SurveyEdit {
  color:#5b5f5e;
}
#SurveyEdit ins {
  color:#26276c;
}
.voting td, #SurveyResultsVote td, #SurveyVote td {
  padding:5px 0;
  width:50%;
}
#SurveyResults h3 {
  margin:0 !important;
}
#SurveyResults dl {
  border-bottom:0 !important;
}
#SurveyResults p {
  margin-top:5px;
}

.group_inp input {
  width:500px;
}
/*   TAG CLOUD
**************************************/
.tag_cloud .content {
  text-align:center;
}
.tag_cloud li {
  display:inline;
  line-height:34px;
}
.tag_cloud a {
  color:#fff;
  text-decoration:none;
}

/*   LAST ALBUMS
**************************************/
.last_albums ul {
  width:340px;
  float:left;
}
.last_albums ul li, .new_comments ul li {
  margin:0 10px 10px 20px;
}
.last_albums ul li .info, .new_comments ul li .info {
  margin-left:-18px;
}
.last_albums .border {
  border-right:1px solid #9cbae9;
  border-bottom:0px;
  margin-right:20px;
}

/*   NEWS
**************************************/
.news h2 a {
  color:#fff;
}
.news li {
  margin:0 0 20px 20px;
  padding-bottom:20px;
}
.news li.last {
  margin:0 0 0 20px;
  border-bottom:0;
}
.news li .info {
  margin-left:-18px;
}



/*   PHOTO NEW COMMENT
**************************************/
.photo_new_comment ul {
  text-align:center;
}
.photo_new_comment li {
  float: left;
  display: inline;
  margin: 5px 0px 5px 5px;
  padding-right: 10px;
  width: 160px;
  height: 170px;
  word-wrap: break-word;
}
.photo_new_comment li.last {
  margin-right:0px;
}
.photo_new_comment li p {
  width:145px;
}
.photo_new_comment table {
  width: 100%;
  height: 100%;
}
.photo_new_comment td {
  text-align: center;
}

/*   INTERESTS
**************************************/
.interests .add_tag {
  clear:both;
  margin-top:10px;
  padding-top:20px;
}
.interests ul {
  width:100%;
  float:left;
  padding-bottom:10px;
}
.interests li {
  display:inline;
  float:left;
  margin:0 5px 0 0;
  white-space:normal;
}
.interests a,.inner_tags a { text-decoration:none; }

/*   SKINS
**************************************/
.skins .button {
  margin-right:7px;
}
.skins .list a {
  display:block;
  padding:3px;
  border:1px solid #fff;
  text-align:center;
}
.skins .list img {
  width:224px;
  height:49px;
}
.skins .list .active {
  border:1px solid #000;
}

/*   PROFILE
**************************************/
.my_profile .content {
  padding-left:40px
}
.group_info .border, .my_profile .border, .settings .border {
  padding-bottom:10px;
  margin-bottom:20px;
}

.my_profile dt { width:280px; }
.my_profile dd { margin-left:280px; }

#SettingsSurvey form {
  margin-bottom:5px;
}
#SettingsArea table.mceLayout {
  width:300px !important;
}
.visisble_level {
  float:right;
  width:200px;
}

#visibleLevelWrap {
  float:right;
  width:320px;
}
#visibleLevelWrap label {
  margin-right:13px;
  float:left;
}
#visibleLevelWrap input {
  width:130px;
}
#visibleLevelWrap .selectbox-wrapper {
  width:170px !important;
}

#sexWrap {
  margin-right:20px;
  margin-top:-5px;
  display:inline;
}
#sexWrap .selectbox {
  width:98px !important;
}
#sexWrap .selectbox-wrapper {
  width:108px !important;
}

#birthdayWrap {
  margin-right:20px;
  margin-top:-5px;
}

.info_table {
  width:100%;
}
.info_table td {
  padding:0 10px 20px 0;
  line-height:16px;
  vertical-align:top;
}
.competition_winner {
  margin:5px 0 10px;
}
.competition_winner td {
  padding:5px;
}
.competition_winner a {
  text-decoration:none;
}

/*   USER GROUP SEARCH
**************************************/
.user_group_search_result {
  line-height:20px;
}
.user_group_search_result span {
  white-space:nowrap;
}

/*   POPUPS
**************************************/
.popup {
  position:absolute;
  color:#fff;
  top:0;
  left:0;
  z-index:20000;
  overflow:hidden;
}
.popup_inner {
  padding:10px 20px;
}
.popup a {
  color:#fff;
}
/*   BLOG
**************************************/
#AddBody {
  width:90%;
  height:300px;
}
.blog h2 a {
  color:#fff;
}
.blog li {
  margin:0 0 20px 30px;
  padding-bottom:20px;
}
.blog li.last {
  margin:0 0 0 20px;
  border-bottom:0;
}

.addPost .selectbox {
  width:200px;
}
#PostsArea li {
  position:relative;
}

.av td {
  vertical-align:middle;
}
.av td .info {
  display: block;
}
.blog_survey {
  overflow:hidden;
  margin-bottom:10px;
  padding: 10px 20px;
  border:1px solid #333;
}
.blog_survey .border {
  border-bottom:0;
}
div.blog_survey ul {
  padding-bottom: 0;
}
div.blog_survey li {
  padding: 0 0 0 20px;
  margin:0;
  border-bottom:0;
}
/* ---------- */
/* inner tags */
/* ---------- */
div.inner_tags {
  line-height:30px;
  padding-bottom:20px;
  position:relative;
  width:100%;
}
div.inner_tags h2 {
  background:none;
  padding:0;
  text-transform:lowercase;
  font-weight:normal;
  color:#5b5f5e;
  line-height:32px;
  position:absolute;
  left:0;
  top:0;
}

div.inner_tags .content {
  position:relative;
  line-height:20px;
  overflow:visible;
  border-bottom:none;
  margin:0 240px 0 55px;
  padding:0;
  background:transparent;
}
div.inner_tags.inter .content {
  margin-left:65px;
}
div.inner_tags .list {
  border-bottom:0;
  line-height:20px;
  padding-bottom:0;
}
div.inner_tags .list li {
  margin:8px 10px 0 0;
  padding:0;
  white-space:nowrap;
  border-bottom:0;
  float:left;
}
div.inner_tags .content div.add_tag {
  position:absolute;
  right:-240px;
  top:4px;
  margin:0px;
  padding:0px;
}
div.inner_tags .list a {
  color:#5b5f5e;
}

.comments .list li {
  padding:10px 20px 0px 30px;
  overflow:hidden;
  position:relative;
  clear:left;
}
.act {
  overflow:hidden;
}
ul.act li {
  float:left;
  display:inline;
  margin:5px 10px 0 0;
  padding:0;
  border:0;
  clear:none !important;
}
ul.act li a {
  color:#5b5f5e;
  font-size:11px;
  /*text-decoration:underline;*/
}
.list.comments { margin-bottom:0px; }
.list.comments.plain { margin-top:-10px; }
.comments .list .act li {
  padding:0;
}
.new_comment {
  background:#fff;
  overflow:hidden;
}
.chat .info {
  margin-left:-19px;
}

/*   GRID
**************************************/
.span-1 {
  width:150px;
}

.m0   { margin:0px;}

.ml0  { margin-left:0; }
.ml5  { margin-left:5px; }
.ml10 { margin-left:10px; }
.ml20 { margin-left:20px; }
.ml30 { margin-left:30px; }

.mr0  { margin-right:0; }
.mr5  { margin-right:5px; }
.mr10 { margin-right:10px; }
.mr20 { margin-right:20px; }
.mr30 { margin-right:30px; }

.mt0  { margin-top: 0; }
.mt5  { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }

.mb0  { margin-bottom: 0; }
.mb5  { margin-bottom: 5px; }
.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }
.mb30 { margin-bottom: 30px !important; }

.p0   { padding:0px;}
.p5   { padding:5px;}

.pl0  { padding-left:0; }
.pl5  { padding-left:5px; }
.pl10 { padding-left:10px; }
.pl20 { padding-left:20px; }
.pl30 { padding-left:30px; }

.pr0  { padding-right:0; }
.pr5  { padding-right:5px; }
.pr10 { padding-right:10px; }
.pr20 { padding-right:20px; }
.pr30 { padding-right:30px; }

.pt0  { padding-top: 0 !important; }
.pt5  { padding-top: 5px; }
.pt10 { padding-top: 10px; }
.pt20 { padding-top: 20px; }
.pt30 { padding-top: 30px; }

.pb0  { padding-bottom: 0; }
.pb5  { padding-bottom: 5px; }
.pb10 { padding-bottom: 10px; }
.pb20 { padding-bottom: 20px; }
.pb30 { padding-bottom: 30px !important; }

/*   SUB MENU
**************************************/
.sub_menu {
}
.sub_menu li {
  line-height:23px;
}
.sub_menu li a {
  color:#000;
  font:normal 12px/18px "Arial", sans-serif;
}

/*   ACCORDEON
**************************************/
.accordeon {
  background:#fff;
  margin-bottom:20px;
}
.accordeon h2 {
  color:#fff;
  padding-left:15px;
  font:bold 12px/20px "Arial", sans-serif;
}
.accordeon h2 span {
  display:block;
}
.accordeon li {
  margin-bottom:5px;
}
.scroll {
  height:200px;
  font-size:13px;
  overflow-y:scroll;
  overflow-x:hidden;
  padding-bottom:20px;
}
.scroll_content {
  padding:20px;
}

/*   FOLDERS
**************************************/
.block.folders .content {
  padding:0px 0 20px 0;
}
#Folders ul {
  padding:25px;
}
#Folders ul ul {
  padding:0px;
}
#Folders ul li {
  padding:15px 0 15px 30px;
  white-space:nowrap;
}
#Folders ul li li {
  border-bottom:0;
  padding:10px 0 0 20px;
}
.listOpenClose {
  margin-left:-27px;
  margin-right:9px;
  cursor:pointer;
}

.main_folder {
  font-size:16px;
  margin-right:5px;
}

.contacts .content {
  padding:0 0 20px 20px;
}
#Contacts {
  margin-bottom:20px;
  overflow-y: scroll;
  height: 200px;
}
#Contacts ul {
  margin:20px 0;
  width:220px;
}
.contacts li {
  padding:0 0 10px 20px;
  margin-bottom:10px;
}
.contacts li .info {
  margin-left:-20px;
}
.contacts li .delete {
  float:right;
}
.contacts li .link {
  text-decoration:underline;
}
.contacts li .link:hover {
  text-decoration:none;
}

.eqtd1, #LettersDiv table {
  width:100%;
}
.eqtd1 {
  background:url("/i/comm/mail_header_bg.png") repeat-x 0 0;
  border-top:1px solid #9cbae9;
}
.eqtd1 td, #LettersDiv table td {
  height:28px;
  vertical-align:middle;
}
.eqtd {
  width:560px;
}

.send_date {
  width:135px;
}

.ReadLetter table td {
  padding-bottom:10px;
}
.LetterBody {
  padding:10px 20px 20px;
  line-height:18px;
}

#EditLetterArea table td {
  vertical-align:top;
  padding:2px 0;
  line-height:18px;
}

/*   PAGER
**************************************/
.pager {
  overflow:hidden;
  margin:10px 0;
}
.pager li.page {
  float:left;

  text-align: center;
  padding: 5px;
  margin:2px;
  background-color: #F0F2F7;
  border: 1px solid #C3D6E8;
  border-radius: 2px;
}
.pager li.page:hover  {
  background-color: #DBE0EF;
  border: 1px solid #9DBBD8;
}
.pager li.next {
  background-color: #F0F2F7;
  border: 1px solid #C3D6E8;
}
.pager li.current {
  background-color: #FFECB1;
  border: 1px solid #FFCA69;
}
.pager li.current:hover  {
  background-color: #FFECB1;
  border: 1px solid #FFCA69;
}
.pager li.current a {
  font-weight:bold;
}
.pager li a {
text-decoration: none;
}

.pager li.startpage {
  background-color: #FFF;
  border: 1px solid #FFF;
}
.pager li.page_space {
  background-color: #FFF;
  border: 1px solid #FFF;
}



/*   ALBUMS
**************************************/
.tiny {
  padding:15px 0;
  float:left;
  width:100%;
}
.tiny li {
  margin-right:10px;
  float:left;
  display:inline;
}

.tiny a {
  font-size:11px;
  color:#5b5f5e;
  t/*ext-decoration:underline;
  line-height:20px;*/
  white-space:nowrap;
}
.tiny a:hover {
  color:#27267c;
  text-decoration:none;
}
.addAlbum .selectbox {
  width:160px;
}
#AlbumsArea .AlbumPreview {
  float:left;
  text-align:center;
  width:30%;
}

.gallery .block.interests {
  background:none;
  margin:10px 0;
  padding:20px 0 10px;
}
.gallery .block.interests h2 {
  background:none;
  float:left;
  color:#5b5f5e;
  font-weight:normal;
  text-transform:lowercase;
  line-height:24px;
  padding:0 10px 0 0;
}
.gallery .block.interests .content {
  padding:0 240px 0 0;
  position:relative;
}
.gallery .block.interests .list {
  border-bottom:0;
  padding:0;
  margin:0;
  line-height:24px;
}
.gallery .block.interests div.clear {
  position:absolute;
  top:0;
  right:0;
}

.inside {
  display:block;
  padding:0 5px;
  font-size:13px;
  top:0px;
  position:absolute;
  font-weight:bold;
  left:0px;
  z-index:50000;
}

.info_wrap {
  margin-left:20px;
}

.preview {
  background:#a4aaaa url("/i/comm/photos_preview_bg.png") repeat-x left top;
  width:100%;
}

.preview .pics {
  height:130px;
  width:130px;
  vertical-align:middle;
  text-align:center;
}

.arrow_left, .arrow_right {
  height:30px;
  padding:3px;
  vertical-align:top;
}
.arrow_left { vertical-align:bottom; }
.arrow_left a {
  overflow:hidden;
  display:block;
  width:17px;
  text-indent:9999px;
  height:17px;
  margin:0 auto;
}
.arrow_right a {
  overflow:hidden;
  display:block;
  width:17px;
  text-indent:9999px;
  height:17px;
  margin:0 auto;
}

.arrow_left .not_active, .arrow_right .not_active {
  cursor:default;
  background:none;
}

#EditPhotosArea, #AddPhotosArea {
  overflow:hidden;
}
#EditPhotosArea .AlbumPreview, .EditPhotosArea .AlbumPreview {
  float:left;
  height:160px;
  margin:0 20px 10px 0;
}
.EditPhotosArea {
  width:610px;
  float:left;
}
#AddPhotosArea .AlbumPreview {
  float:left;
  height:160px;
  margin:0 20px 10px 0;
}
.pics {
  text-align:center;
}
.pics img {
  border:1px solid transparent;
  padding:3px;
}

.add_photo td {
  padding:0 0 5px 0;
  /*line-height:22px;*/
}
.editor_alb_list {
  height:90%;
  margin:5% 0;
}
.editor_alb_list li {
  cursor:pointer;
}

/*   GROUPS
**************************************/
.groups_act {
  width:100%;
}
.groups_act td {
  height:25px;
  vertical-align:middle;
  text-align:left;
}
.group_info textarea {
  width:500px;
  height:180px;
}

.user_info textarea {
  width:500px;
  height:100px;
}
/*   TAG SEARCH
**************************************/
.simple {
  margin:10px 0 0 5px;
}
.simple li {
  margin-bottom:5px;
}

/*   FRIENDS
**************************************/
.friends_actions td {
  vertical-align:top;
  padding-bottom:10px;
  /*line-height:20px;*/
}
.friends_actions .selectbox {
  width:120px;
}

.friends_actions .selectbox-wrapper {
  width:130px !important;
}

.friends_list {
  margin:5px 10px;
}
.friends_list li {
  margin-bottom:5px;
}

/*   FAVORITES
**************************************/
#SelectFavoritesForm h3, #SelectFavoritesForm li {
  cursor:pointer;
}
#SelectFavoritesForm #CommunityCalendar li {
  margin-bottom:10px;
  color:#666;
  padding-left:10px;
}

/*   ADMIN
**************************************/
.admin_log {
  text-align:left;
  margin:10px 0;
}
.admin_log th {
  background:#ccc;
  padding:5px 1px;
  font-size:11px;
}
.admin_log td {
  padding:3px 0;
}
.admin_log .row_even {
  background:#ddd;
}


/*   LETTER CHECK
**************************************/
div.letters_check {
  width: 155px;
  font-size:11px;
  position:relative;
  top:-20px;
  margin:0 0 0 560px;
}
.letters_check a {
  color:#000;
  font-size:11px;
}
.letters_check li {
  float:none;
  height:16px;
  margin:0;
  padding:0;
}
div.letters_check_popup {
  position: absolute;
  top:0px;
  left:0px;
  width: 135px;
  padding: 10px;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
  background-color: white;
  overflow: hidden;
}

/*   RATING
**************************************/
.long .selectbox, .long .selectbox-wrapper {
  width:180px;
}

div.selected {
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
}

img.selected {
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
}


