body {
  background:#826c61 url("/i/comm/skin1/body_bg_top_repeat.png") repeat-x 0 -1px;
}
.main_container {
  background:url("/i/comm/skin1/body_bg_top_pic.jpg") no-repeat top center;
}
.min_width {
  background:#a58570 url("/i/comm/skin1/body_bg_top_pic.jpg") no-repeat top center;
}

.button {
  border:1px solid #97a2c8;
  background:url("/i/comm/skin1/button_bg.png") repeat-x 0 0;
}
.inp_text {
  background:#dfe1f5 url("/i/comm/skin1/input_bg.png") repeat-x top left;
  color:#27267C;
  border:1px solid #8084b0;
}
.inside {
  color:#27267c;
}
.selectbox {
  color:#27267C;
  border:1px solid #8084b0;
  background:url("/i/comm/skin1/select_bg.png") repeat-x top right;
}
.selectbox-wrapper {
  background:#dfe1f5 url("/i/comm/skin1/select_wrapper_bg.png") repeat-x top left;
}
h3 {
  color:#040d3f;
}
.light {
  color:#5b5f5e;
}
.sel {
  color:#27267c;
}
.border { border-bottom:1px solid #9cbae9; }

.action_link:hover { color:#27267c; }

/*   FOOTER
**************************************/
.main_footer .min_width {
  background:url("/i/comm/skin1/copyright_bg_repeat.png") repeat-x top left;
}
.main_footer .min_width p {
  background:url("/i/comm/skin1/copyright_bg_pic.png") no-repeat top left;
}


/*   HEADER
**************************************/
.welcome {
  background:url("/i/comm/skin1/welcome_bg.jpg") no-repeat top right;
  color:#c9c9c9;
}

.breadcrumbs a {
  color:#040d3f;
}
.breadcrumbs .light {
  color:#3f2182;
}
/*   USER MENU
**************************************/
.user_menu {
  background:url("/i/comm/skin1/user_menu_bg_repeat.png") repeat-x top left;
}
.user_menu .user {
  background:url("/i/comm/skin1/user_menu_bg_pic.png") no-repeat top left;
}

/*   CONTENT BLOCK
**************************************/
.block {
  background:url("/i/comm/skin1/block_bg_repeat.png") repeat-x top left;
}
.block h2 {
  background:url("/i/comm/skin1/block_bg_pic.png") no-repeat top left;
}

/*   VOTING
**************************************/
.voting p {
  color:#040d3f;
}

/*   TAG CLOUD
**************************************/
.tag_cloud .content {
  background:#6076aa;
}
/*   LAST ALBUMS
**************************************/
.last_albums .border {
  border-right:1px solid #9cbae9;
}

/*   NEWS
**************************************/
.news li {
  border-bottom:1px solid #9cbae9;
}

/*   PHOTO NEW COMMENT
**************************************/
.photo_new_comment li p {
  color:#040d3f;
}

/*   INTERESTS
**************************************/
.interests .add_tag {
  border-top:1px solid #9cbae9;
}

/*   POPUPS
**************************************/
.popup_inner {
  background:#00001e;
  color:#fff;
}


/*   BLOG
**************************************/
.blog li {
  border-bottom:1px solid #9cbae9;
}
.blog .tags h2 {
  color:#5b5f5e;
}
ul.act li a:hover {
  color:#27267c;
}



/*   ACCORDEON
**************************************/
.accordeon h2 {
  background:url("/i/comm/skin1/block_bg_repeat.png") repeat-x top left;
}
.accordeon h2 span {
  background:url("/i/comm/skin1/block_bg_pic.png") no-repeat top left;
}

/*   FOLDERS
**************************************/

#Folders ul li.active a {
  color:#27267c;
}
#Folders ul li.active li a {
  color:#5b5f5e;
}

/*   GALLERY
**************************************/
.gallery .block.interests {
  border-bottom:1px solid #9cbae9;
}
.arrow_right a {
  background:url("/i/comm/skin1/down.gif") no-repeat 0px 0px;
}
.arrow_left a {
  background:url("/i/comm/skin1/up.gif") no-repeat 0px 0px;
}
/*   CONTACTS
**************************************/
.contacts li .link {
  color:#27267c;
}
/*   COMMENTS
**************************************/
.comments .active {
  background:lightblue;
}

.comments .active2 {
  background: #bdd8e6;
}
