body {
  background:#FFF;
}
.main_container {
  background-color: #E9EAED;
}
.min_width {
  /*height: 100%;*/
}
.content_border {
  background: #FFF;
  border: 1px solid #C1CAD8;
  border-top: 0px solid;
  border-bottom: 0px solid;
  height: 100%;
  width: 980px;
  margin: 0px auto;
}
.content_container {
  padding: 5px;
  width: 968px;
  margin: 0px;
}
.large {
  width: 727px;
}

.small {
  width: 233px;
}

.blocks_container .right {
  margin-left: 10px;
}

/*.button {
  border:1px solid #97a2c8;
}*/
.blocks_container {
  width: 970px;
  min-height: 250px;
}

.block .content {
  padding: 10px;
}


input.text:focus,input:focus, textarea:focus, isindex:focus, keygen:focus, select:focus {
    border: 1px solid #558BC4;
    outline:none;

    -o-box-shadow: 0 0 1px 1px #39f;
    -moz-box-shadow: 0 0 1px 1px #39f;
    -khtml-box-shadow: 0 0 1px 1px #39f;
    -webkit-box-shadow: 0 0 1px 1px #39F;
    box-shadow: 0 0 1px 1px #39F;
    border-color: #39F;
}
.inp_text {
  background:#FFFFFF;
  color:#000000;
  border:1px solid C3CBD4;
  font-weight: normal;
  font-size: 12px;

  border: 1px solid #C3CBD4;
  padding: 2px;
  -o-border-radius: 1px;
  -moz-border-radius: 1px;
  -khtml-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}

.mb10 {
  padding: 3px;
}
.inside {
  color:#27267c;
}
/*.selectbox {
  color:#000000;
  border:1px solid #c3cbd4;
  font-weight: normal;
  background: url("/i/comm/skin1/select_bg.png") repeat-x top right;
}
.selectbox_sel {
    border: 1px solid #558BC4;
    outline:none;

    -o-box-shadow: 0 0 1px 1px #39f;
    -moz-box-shadow: 0 0 1px 1px #39f;
    -khtml-box-shadow: 0 0 1px 1px #39f;
    -webkit-box-shadow: 0 0 1px 1px #39F;
    box-shadow: 0 0 1px 1px #39F;
    border-color: #39F;
}
.selectbox-wrapper {
  background:#FFF;
  border: 1px solid #c3cbd4;
  padding: 0px 0px 0 0;
  margin-top: 2px;
}
.selectbox-wrapper li  {
  margin-bottom: 5px;
  line-height: 16px;
  padding: 2px;
  padding-left: 8px;
}
.selectbox-wrapper li:hover  {
  background: d1e2f2;
  margin-top: -1px;
  margin-left: -1px;
  margin-bottom: 4px;
  border: 1px solid #78AEE5;
}*/
h3 {
  color:#040d3f;
}
.light {
  color:#5b5f5e;
}
.sel {
  color:#27267c;
}
.border { border-bottom:1px solid #9cbae9; }

.action_link:hover { color:#27267c; }

/*   FOOTER
**************************************/
.main_footer .min_width {
  clear: both;
  height: 48px;
  color: #3A3333;
  background: #F5F4F4;
  border-top: 0px solid #D5D8DD;
}
.main_footer .min_width p {
 color: #574848;
}


/*   HEADER
**************************************/
.welcome {
  color:#c9c9c9;
  background-color: #7565A0;
  width: 980px;
  padding-right: 0px;
  height: 47px;
}
.welcome form {
  width: 430px;
}
.breadcrumbs a {
  color:#040d3f;
}
.breadcrumbs .light {
  color:#3f2182;
}
/*   USER MENU
**************************************/
.user_menu {
/*  background-color: #FAFAFA;
  border: 1px solid #DBDBE7;*/
  line-height: 48px;
}
.user_menu .user {
}

.user_menu a:hover {
  border-bottom: 2px solid #D6D600;
}

.user_menu a {
  color: #F7EFEF;
}

/*   CONTENT BLOCK
**************************************/
.block {
  border: 1px solid #BC9FD7;
}
.block h2 {
  border-bottom: 1px solid #BC9FD7;
  color: #574848;
  background-color: #E3D7FC;
  background: -webkit-gradient(linear,left top,left bottom,from(#DAE4EF),to(#CFCBDD));
}

/*   VOTING
**************************************/
.voting p {
  color:#040d3f;
}

/*   TAG CLOUD
**************************************/
.tag_cloud .content {
  background:#6076aa;
}
/*   LAST ALBUMS
**************************************/
.last_albums .border {
  border-right:1px solid #9cbae9;
}

/*   NEWS
**************************************/
.news li {
  border-bottom:1px solid #9cbae9;
}

/*   PHOTO NEW COMMENT
**************************************/
.photo_new_comment li p {
  color:#040d3f;
}

/*   INTERESTS
**************************************/
.interests .add_tag {
  border-top:1px solid #9cbae9;
}

/*   POPUPS
**************************************/
.popup_inner {
  background: #ECECEC;
  color: #4C4A4A;
  border: 1px solid #6D77B8;
}

.popup a {
  color: #545454;
  font-size: 12px;
  padding: 2px 5px;
  text-decoration: none;
}

.popup_inner .popsel:hover{
  background: #C4C6CF;
}

/*   BLOG
**************************************/
.blog li {
  border-bottom:1px solid #9cbae9;
}
.blog .tags h2 {
  color:#5b5f5e;
}
ul.act li a:hover {
  color:#27267c;
}

.user_menu a {
font-size: 11px;
}

/*   ACCORDEON
**************************************/
.accordeon h2 {
  border: 1px solid #BC9FD7;
  color: #574848;
  background-color: #E3D7FC;
}
.accordeon h2 span {
}

/*   FOLDERS
**************************************/

#Folders ul li.active a {
  color:#27267c;
}
#Folders ul li.active li a {
  color:#5b5f5e;
}

/*   GALLERY
**************************************/
.gallery .block.interests {
  border-bottom:1px solid #9cbae9;
}
.arrow_right a {
 background: url("/i/comm/skin1/down.gif") no-repeat 0px 0px;
}
.arrow_left a {
 background: url("/i/comm/skin1/up.gif") no-repeat 0px 0px;
}
/*   CONTACTS
**************************************/
.contacts li .link {
  color:#27267c;
}
/*   COMMENTS
**************************************/
.comments .active {
  background:lightblue;
}

.comments .active2 {
  background: #bdd8e6;
}

.button {font-weight: bold; background: #6181A6 url("http://img.blutbad.ru/i/button/buttons_1.png") repeat-x scroll 0 -19px; color: #ECECEC; font-size: 11px; text-shadow: 0px 1px 0px #000; padding: 2px 10px 2px 10px; cursor: pointer; border: 1px solid #254D77; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px;}
.button:hover {background:url("http://img.blutbad.ru/i/button/buttons_1.png") repeat-x scroll 0 -12px;border: 1px solid #254D77;}
.button:active {outline:none;background:#6181A6;position:relative;border:1px solid #254D77;}
.button:focus {outline:none;background:#6181A6;position:relative;border:1px solid #254D77;}
.button:disabled {outline:none;background:#7B888E;position:relative;border:1px solid #354F69;}

.privacy_err {
  background: #FFB4A3;
  position: fixed;
  left: 0px;
  top: 0px;
  padding: 7px;
  border-bottom-right-radius: 7px;
  -moz-border-bottom-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  z-index: 100;
}
.no_display, #no_display {
  display: none;
}

div.letters_check {
  top: -182px;
  left: 175px;
}

#Contacts ul {
  margin: 20px 0;
  width: 190px;
}

#Folders ul li {
  padding: 5px 0 5px 30px;
  white-space: nowrap;
  font-weight: normal;
  font-size: 12px;
}

#Folders ul li li {
  border-bottom: 0;
  padding: 5px 0px 5px 30px;
}

#Folders ul .active {
  border: 1px solid #DCDBF0;
  background-color: #EFF0F4;
  margin: -1px;
}

.main_folder {
  font-size: 14px;
  margin-right: 5px;
}

.tag_cloud a:hover{
 text-decoration: underline;
}

.ablink {
 padding: 2px 5px;
 text-decoration: none;
 color: #2B587A;
}

.ablink:hover {
 background-color: #E1E7ED;
 text-decoration: none;
}
.ablink .delete img {
vertical-align: middle;
border: 1px solid #E1E7ED;
}
.ablink .delete img:hover {
 border: 1px solid #5B5F5E;
}

#wrapper {margin-bottom: 20px; background-color: #FFF;}

/* tabs */
ul.tabs {
	height: 23px;
	line-height: 18px;
    padding: 0px 5px 0px;
}
* html ul.tabs {margin-bottom: 0;}
ul.tabs li {
	float: left;
	margin-right: 1px;
}
ul.tabs li a {
  float: left;
  padding: 2px 3px 3px;
  margin-right: 5px;
  text-decoration: none;
  background-color: #FFF;
  max-width: 250px;
  font-size: 12px;
}
* html ul.tabs li a {float: left}
*+html ul.tabs li a {float: left}
ul.tabs li a:hover {
  background: #CBD5DF;
  color: #2B587A;
  text-decoration: none;
  border-radius: 3px 4px 0 0;
}
ul.tabs li.tab-current a {
  background: #597DA3;
  color: #FFF;
  border-radius: 3px 4px 0 0;
}
div.t2,div.t3,div.t4,div.t5 {
	display: none;
}
div.t1,div.t2,div.t3,div.t4,div.t5 {
	border: 1px solid #BC9FD7;
	background: #FFF;
	padding: 10px;
    font-size: 12px;
}
/* end tabs */

/* Friend list */

.friends_bigph_wrap {padding-left: 10px;}
.font_medium #friends .user_block .info {width: 172px;}
#friends .user_block .info, #friends .user_block .info_no_actions {
  padding-top: 4px;
  padding-left: 14px;
}

.font_medium #friends .user_block .actions {width: 140px;}
.fl_r {float: right;}
.fl_l {float: left;}
.clear_fix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#friends .user_block:first-child {border-top: none;}
#friends .user_block_first {border-top: none;}
#friends .user_block {
  border-top: 1px solid #EDEDED;
  padding: 10px 0px;
  clear: both;
}
.friends_act {
  display: block;
  padding: 4px 6px 4px 6px;
}
#friends li:hover{ background: #F1F1F4;}
#friends{padding: 10px;}

/* end Friend list */


.favorim {
  padding-top: 4px;
  padding-left: 15px;
  background: url('/i/comm/ifriends.png') no-repeat 0 0;
}

.favok{
  background-position: 0 -18px;
}

.pseudolink {
  position: relative;
  display: inline-block;
  padding: 3px 6px 3px 6px;
  border: 1px solid #DADEEB!important;
  text-decoration: none;
  color: #06C;
  cursor: pointer;
  white-space: nowrap;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #EFF1F6;
  background-image: -moz-linear-gradient(top,#fdfdfe,#dadeeb);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#FDFDFE),to(#DADEEB));
  background-image: -webkit-linear-gradient(top,#FDFDFE,#DADEEB);
  background-image: -o-linear-gradient(top,#fdfdfe,#dadeeb);
  background-image: linear-gradient(to bottom,#FDFDFE,#DADEEB);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdfdfe', endColorstr='#ffdadeeb', GradientType=0);
}

.pseudolink:hover{
 color: #CC0000;
}

 .voting .mb5 {
    border-bottom: 1px solid #97a2c8;
 }

.list_im li {
  display: inline;
  margin: 3px;
/*  padding-right: 10px;*/
  width: 170px;
  height: 195px;
  word-wrap: break-word;
}
.list_im li a { text-decoration: none;}
.list_im li table { width: 100%; height: 100%;}
.list_im li table td { text-align: center;}
h4 {
  text-align: center;
  font-weight: 700;
  font-size: 13px;
}
.imglink img { border: 2px solid #EDEEF0;}

.top_s_img, .photo_new_comment table{
  background-color: #FFFBEE;
  border: 1px solid #FFEED6;
  border-radius: 2px;
}
.top_s_img:hover, .photo_new_comment table:hover {
  background-color: #FDF0C6;
  border: 1px solid #FFD9A6;
}
