/* line 1, ../sass/index.sass */
html, body {
  height: 100%;
  box-sizing: border-box; }

/* line 5, ../sass/index.sass */
body {
  padding-top: 70px;
  font-family: "Roboto", sans-serif;
  overflow-y: scroll; }

/* line 13, ../sass/index.sass */
.wd {
  width: 100%;
  min-width: 1024px;
  max-width: 1600px;
  margin: 0 auto;
  box-sizing: border-box; }
  /* line 19, ../sass/index.sass */
  .wd.padded {
    padding: 0 30px; }

/* line 22, ../sass/index.sass */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000;
  height: 70px;
  color: #fff;
  z-index: 100; }
  /* line 31, ../sass/index.sass */
  .header .logo {
    font-size: 28px;
    line-height: 70px;
    text-transform: uppercase;
    display: block;
    float: left;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    border-right: 1px solid rgba(255, 255, 255, 0.1); }
  /* line 42, ../sass/index.sass */
  .header .get {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    float: left;
    height: 70px;
    -webkit-transition: 250ms;
    -moz-transition: 250ms;
    -o-transition: 250ms;
    transition: 250ms; }
    /* line 50, ../sass/index.sass */
    .header .get:hover {
      background-color: rgba(255, 255, 255, 0.1); }
    /* line 52, ../sass/index.sass */
    .header .get > div, .header .get > form {
      padding: 0 30px;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 1px;
      overflow: hidden; }
    /* line 58, ../sass/index.sass */
    .header .get .on {
      display: none;
      padding-right: 0;
      animation-name: on-anim;
      animation-duration: 250ms;
      height: 70px;
      overflow: hidden;
      width: 333px; }
      /* line 66, ../sass/index.sass */
      .header .get .on .get_close {
        margin-top: 24px;
        margin-right: 20px;
        cursor: pointer; }
      /* line 70, ../sass/index.sass */
      .header .get .on .get_inp {
        height: 30px;
        background-color: transparent;
        text-transform: uppercase;
        border: none;
        width: 135px;
        color: #fff;
        font-size: 16px;
        margin-top: 20px; }
        /* line 80, ../sass/index.sass */
        .header .get .on .get_inp:focus {
          outline: none; }
      /* line 82, ../sass/index.sass */
      .header .get .on .get_open {
        height: 70px;
        line-height: 70px;
        cursor: pointer;
        padding-left: 20px;
        padding-right: 30px;
        color: #42A5F5;
        background-color: transparent;
        border: none;
        font-size: 16px;
        text-transform: uppercase; }
        /* line 93, ../sass/index.sass */
        .header .get .on .get_open:focus {
          outline: none; }
      /* line 95, ../sass/index.sass */
      .header .get .on > * {
        display: block;
        float: left; }
    /* line 98, ../sass/index.sass */
    .header .get .off {
      display: block;
      line-height: 70px;
      cursor: pointer;
      width: 193px;
      box-sizing: border-box; }
      /* line 104, ../sass/index.sass */
      .header .get .off.animated {
        animation-name: off-anim;
        animation-duration: 250ms; }
      /* line 108, ../sass/index.sass */
      .header .get .off:before {
        content: url("/lib/images/get.svg");
        display: block;
        float: left;
        position: relative;
        top: 6px;
        margin-right: 15px; }
    /* line 116, ../sass/index.sass */
    .header .get.on .on {
      display: block; }
    /* line 118, ../sass/index.sass */
    .header .get.on .off {
      display: none; }
  /* line 120, ../sass/index.sass */
  .header .upload {
    height: 70px;
    line-height: 70px;
    color: #42A5F5;
    text-transform: uppercase;
    font-weight: 700;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    float: left;
    padding: 0 30px;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 1px;
    -webkit-transition: 250ms;
    -moz-transition: 250ms;
    -o-transition: 250ms;
    transition: 250ms; }
    /* line 136, ../sass/index.sass */
    .header .upload:hover {
      background-color: rgba(255, 255, 255, 0.1); }
    /* line 138, ../sass/index.sass */
    .header .upload:before {
      content: url("/lib/images/upload.svg");
      display: block;
      float: left;
      margin-right: 10px;
      position: relative;
      top: 2px; }
  /* line 145, ../sass/index.sass */
  .header .note_wr {
    position: absolute;
    top: 15px;
    width: 400px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    display: none; }
    /* line 154, ../sass/index.sass */
    .header .note_wr .note {
      display: inline-block;
      height: 40px;
      line-height: 40px;
      background-color: blue;
      color: #fff;
      padding: 0 20px;
      border-radius: 4px;
      font-size: 15px; }
      /* line 163, ../sass/index.sass */
      .header .note_wr .note[data-style=error] {
        background-color: #D0021B;
        color: #fff; }
      /* line 166, ../sass/index.sass */
      .header .note_wr .note[data-style=info] {
        background-color: #F5A623;
        color: #000; }
  /* line 169, ../sass/index.sass */
  .header .right_buts {
    float: right;
    overflow: hidden; }
    /* line 172, ../sass/index.sass */
    .header .right_buts > * {
      display: block;
      width: 70px;
      height: 70px;
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      background-position: center;
      background-repeat: no-repeat;
      -webkit-transition: 250ms;
      -moz-transition: 250ms;
      -o-transition: 250ms;
      transition: 250ms; }
      /* line 183, ../sass/index.sass */
      .header .right_buts > *:hover {
        background-color: rgba(255, 255, 255, 0.1); }
    /* line 185, ../sass/index.sass */
    .header .right_buts .mail_link {
      background-image: url("/lib/images/mail.svg"); }

/* line 188, ../sass/index.sass */
.top_pb {
  position: fixed;
  z-index: 100;
  top: 70px;
  left: 0;
  right: 0;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: none; }
  /* line 198, ../sass/index.sass */
  .top_pb .item {
    box-sizing: border-box;
    float: left;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    height: 10px; }
    /* line 203, ../sass/index.sass */
    .top_pb .item .progress {
      height: 10px;
      background-color: #7ED321;
      width: 0;
      -webkit-transition: 100ms;
      -moz-transition: 100ms;
      -o-transition: 100ms;
      transition: 100ms; }

/* line 213, ../sass/index.sass */
.object {
  min-height: 100%; }
  /* line 215, ../sass/index.sass */
  .object .obj_top {
    padding: 20px 0;
    overflow: hidden; }
    /* line 218, ../sass/index.sass */
    .object .obj_top .obj_icon {
      border: 1px solid #D9D9D9;
      width: 57px;
      height: 57px;
      border-radius: 57px;
      background-image: url("/lib/images/obj_key.svg");
      background-repeat: no-repeat;
      background-position: center;
      float: left;
      margin-right: 20px; }
    /* line 228, ../sass/index.sass */
    .object .obj_top .obj_credentials {
      float: left;
      padding-top: 5px;
      font-size: 15px;
      line-height: 20px;
      color: #4A4A4A; }
      /* line 234, ../sass/index.sass */
      .object .obj_top .obj_credentials .obj_num {
        font-size: 19px;
        color: #42A5F5;
        cursor: pointer; }
  /* line 238, ../sass/index.sass */
  .object .obj_post {
    padding: 20px 0;
    background-color: #F5F5F5;
    color: #4A4A4A;
    font-size: 15px;
    line-height: 20px;
    position: relative;
    box-sizing: border-box;
    transition: height 100ms; }
    /* line 247, ../sass/index.sass */
    .object .obj_post .opener {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 10px;
      z-index: 10;
      display: none;
      color: #42A5F5;
      -webkit-transition: 250ms;
      -moz-transition: 250ms;
      -o-transition: 250ms;
      transition: 250ms; }
      /* line 260, ../sass/index.sass */
      .object .obj_post .opener:hover {
        color: #128ef2; }
    /* line 262, ../sass/index.sass */
    .object .obj_post.faded {
      height: 200px;
      overflow: hidden;
      cursor: pointer; }
      /* line 266, ../sass/index.sass */
      .object .obj_post.faded .opener {
        display: block; }
      /* line 268, ../sass/index.sass */
      .object .obj_post.faded .hider {
        left: 0;
        right: 0;
        bottom: 0;
        height: 120px;
        position: absolute;
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, whitesmoke 75%, whitesmoke 100%);
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, whitesmoke 75%, whitesmoke 100%);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, whitesmoke 75%, whitesmoke 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f5f5f5',GradientType=0 ); }
    /* line 280, ../sass/index.sass */
    .object .obj_post .create_post {
      font-size: 15px;
      color: #42A5F5;
      cursor: pointer; }
    /* line 284, ../sass/index.sass */
    .object .obj_post #post {
      width: 100%;
      border: none;
      color: #4A4A4A;
      font-size: 15px;
      line-height: 20px;
      resize: none;
      font-family: "Roboto", sans-serif;
      background-color: #F5F5F5;
      overflow: hidden;
      margin-bottom: 5px; }
      /* line 295, ../sass/index.sass */
      .object .obj_post #post[readonly]:focus {
        outline: none; }
    /* line 297, ../sass/index.sass */
    .object .obj_post .buttons {
      overflow: hidden; }
      /* line 299, ../sass/index.sass */
      .object .obj_post .buttons .button {
        height: 34px;
        line-height: 33px;
        background-color: rgba(66, 165, 245, 0.1);
        color: #42A5F5;
        padding: 0 20px;
        cursor: pointer;
        float: left;
        margin-right: 10px;
        border-radius: 4px;
        -webkit-transition: 250ms;
        -moz-transition: 250ms;
        -o-transition: 250ms;
        transition: 250ms; }
        /* line 313, ../sass/index.sass */
        .object .obj_post .buttons .button:hover {
          background-color: rgba(66, 165, 245, 0.2); }
      /* line 315, ../sass/index.sass */
      .object .obj_post .buttons .create {
        color: #acacac;
        cursor: pointer;
        -webkit-transition: 250ms;
        -moz-transition: 250ms;
        -o-transition: 250ms;
        transition: 250ms; }
        /* line 322, ../sass/index.sass */
        .object .obj_post .buttons .create:hover {
          color: #888; }
    /* line 324, ../sass/index.sass */
    .object .obj_post #edit_post, .object .obj_post #delete_post, .object .obj_post #save_post {
      display: none; }
    /* line 327, ../sass/index.sass */
    .object .obj_post.has_post #create_post {
      display: none; }
    /* line 329, ../sass/index.sass */
    .object .obj_post.has_post #edit_post, .object .obj_post.has_post #delete_post {
      display: block; }
    /* line 332, ../sass/index.sass */
    .object .obj_post.has_post.editing #create_post, .object .obj_post.has_post.editing #edit_post {
      display: none; }
    /* line 334, ../sass/index.sass */
    .object .obj_post.has_post.editing #save_post {
      display: block; }
  /* line 338, ../sass/index.sass */
  .object .obj_actions {
    padding: 20px 0; }
    /* line 340, ../sass/index.sass */
    .object .obj_actions .wd {
      overflow: hidden; }
      /* line 342, ../sass/index.sass */
      .object .obj_actions .wd > div {
        height: 34px;
        line-height: 33px;
        padding: 0 15px;
        background-color: rgba(66, 165, 245, 0.1);
        border-radius: 4px;
        color: #42A5F5;
        float: left;
        margin-right: 10px;
        cursor: pointer;
        font-size: 15px;
        -webkit-transition: 250ms;
        -moz-transition: 250ms;
        -o-transition: 250ms;
        transition: 250ms; }
        /* line 357, ../sass/index.sass */
        .object .obj_actions .wd > div:hover {
          background-color: rgba(66, 165, 245, 0.2); }
        /* line 359, ../sass/index.sass */
        .object .obj_actions .wd > div:before {
          float: left;
          margin-right: 5px;
          position: relative;
          top: 2px;
          left: -5px; }
        /* line 365, ../sass/index.sass */
        .object .obj_actions .wd > div#upload:before {
          content: url("/lib/images/file_add.svg"); }
        /* line 367, ../sass/index.sass */
        .object .obj_actions .wd > div#delete:before {
          content: url("/lib/images/file_delete.svg"); }
  /* line 369, ../sass/index.sass */
  .object .uploads {
    padding-bottom: 70px; }
    /* line 371, ../sass/index.sass */
    .object .uploads .upload_row, .object .uploads .upload_row_new {
      border-top: 1px solid #e1e1e1;
      overflow: hidden;
      padding: 20px 0;
      position: relative; }
      /* line 376, ../sass/index.sass */
      .object .uploads .upload_row > *, .object .uploads .upload_row_new > * {
        height: 40px;
        line-height: 40px; }
      /* line 379, ../sass/index.sass */
      .object .uploads .upload_row:last-child, .object .uploads .upload_row_new:last-child {
        border-bottom: 1px solid #e1e1e1; }
      /* line 381, ../sass/index.sass */
      .object .uploads .upload_row .poster, .object .uploads .upload_row_new .poster {
        float: left;
        width: 40px;
        height: 40px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 4px;
        margin-right: 20px;
        cursor: pointer; }
      /* line 391, ../sass/index.sass */
      .object .uploads .upload_row .filename, .object .uploads .upload_row_new .filename {
        float: left;
        text-decoration: none;
        font-size: 15px;
        cursor: pointer; }
        /* line 396, ../sass/index.sass */
        .object .uploads .upload_row .filename span, .object .uploads .upload_row_new .filename span {
          color: #9b9b9b; }
      /* line 398, ../sass/index.sass */
      .object .uploads .upload_row .upload_delete, .object .uploads .upload_row .upload_get, .object .uploads .upload_row .upload_cancel, .object .uploads .upload_row_new .upload_delete, .object .uploads .upload_row_new .upload_get, .object .uploads .upload_row_new .upload_cancel {
        float: right;
        width: 40px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 4px;
        cursor: pointer;
        display: block;
        -webkit-transition: 250ms;
        -moz-transition: 250ms;
        -o-transition: 250ms;
        transition: 250ms; }
        /* line 411, ../sass/index.sass */
        .object .uploads .upload_row .upload_delete:hover, .object .uploads .upload_row .upload_get:hover, .object .uploads .upload_row .upload_cancel:hover, .object .uploads .upload_row_new .upload_delete:hover, .object .uploads .upload_row_new .upload_get:hover, .object .uploads .upload_row_new .upload_cancel:hover {
          background-color: rgba(0, 0, 0, 0.05); }
      /* line 413, ../sass/index.sass */
      .object .uploads .upload_row .upload_delete, .object .uploads .upload_row_new .upload_delete {
        background-image: url("/lib/images/single_delete.svg");
        margin-left: 10px; }
      /* line 416, ../sass/index.sass */
      .object .uploads .upload_row .upload_get, .object .uploads .upload_row_new .upload_get {
        background-image: url("/lib/images/single_get.svg");
        margin-left: 20px; }
      /* line 419, ../sass/index.sass */
      .object .uploads .upload_row .file_size, .object .uploads .upload_row .upload_date, .object .uploads .upload_row .file_dimensions, .object .uploads .upload_row_new .file_size, .object .uploads .upload_row_new .upload_date, .object .uploads .upload_row_new .file_dimensions {
        float: right;
        margin-right: 25px;
        font-size: 15px;
        color: #4A4A4A;
        text-align: right; }
      /* line 425, ../sass/index.sass */
      .object .uploads .upload_row .upload_date, .object .uploads .upload_row_new .upload_date {
        width: 200px; }
      /* line 427, ../sass/index.sass */
      .object .uploads .upload_row .file_size, .object .uploads .upload_row_new .file_size {
        width: 70px; }
      /* line 430, ../sass/index.sass */
      .object .uploads .upload_row .upload_cancel, .object .uploads .upload_row_new .upload_cancel {
        background-image: url("/lib/images/cancel_upload.svg");
        margin-left: 20px; }
      /* line 433, ../sass/index.sass */
      .object .uploads .upload_row .upload_percentage, .object .uploads .upload_row_new .upload_percentage {
        float: right;
        font-size: 15px; }
      /* line 436, ../sass/index.sass */
      .object .uploads .upload_row .progress_bar, .object .uploads .upload_row_new .progress_bar {
        position: absolute;
        height: auto;
        z-index: -1;
        top: 0;
        left: 0;
        bottom: 0;
        transition: 250ms;
        background-color: #D1F6AC; }

/* line 445, ../sass/index.sass */
.preview_wr {
  position: fixed !important;
  z-index: 110;
  top: 90px;
  left: 30px; }

/* line 450, ../sass/index.sass */
.preview {
  background-color: #000;
  width: 560px;
  height: 300px;
  min-width: 100px;
  display: none; }
  /* line 456, ../sass/index.sass */
  .preview .top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 10px;
    overflow: hidden;
    z-index: 1;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=0 ); }
    /* line 469, ../sass/index.sass */
    .preview .top .close {
      float: right;
      background-color: rgba(0, 0, 0, 0.25);
      border-radius: 6px;
      background-image: url("/lib/images/close_popup.svg");
      background-position: center;
      background-repeat: no-repeat;
      width: 40px;
      height: 40px;
      cursor: pointer; }
    /* line 479, ../sass/index.sass */
    .preview .top .title {
      float: left;
      height: 40px;
      line-height: 40px;
      font-size: 18px;
      color: #fff;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: calc(100% - 70px); }
  /* line 489, ../sass/index.sass */
  .preview .content {
    height: 100%; }
    /* line 491, ../sass/index.sass */
    .preview .content img, .preview .content video {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      margin: 0 auto;
      display: block;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }

/* line 505, ../sass/index.sass */
.main {
  background-position: center;
  background-repeat: no-repeat;
  height: 100%; }
  /* line 509, ../sass/index.sass */
  .main .sl_container {
    position: fixed;
    top: 70px;
    right: 0;
    left: 0;
    bottom: 0; }

@-webkit-keyframes on-anim {
  from {
    width: 193px; }
  to {
    width: 333px; } }
@keyframes on-anim {
  from {
    width: 193px; }
  to {
    width: 333px; } }
@-webkit-keyframes off-anim {
  from {
    width: 333px; }
  to {
    width: 193px; } }
@keyframes off-anim {
  from {
    width: 333px; }
  to {
    width: 193px; } }
