html, body {
  height: 100%;
  width: 100%;
  min-width: 990px;
  /*overflow-x: hidden;*/
}
html {
  background: #ffffff url(img/bg2.jpg) repeat-x 0px 0px;
}
body {
  font-family: 'Tahoma', helvetica, sans-serif;
  font-size: 12px;
  color: #333333;
  line-height: normal;
  background: url(img/bg.jpg) no-repeat top center;
}
a {
  color: #0096ff;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
img {
  border: 0 !important;
}

h1 {
  /*font-family: 'metabookc';*/
  font-size: 29px;
  color: #4a4c4b;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.break {
  clear: both;
}


.foot,
.mid,
.top {
  margin: 0px auto;
  width: 990px;
  position: relative;
}

/* top */
#top {
  height: 53px;
  background: url(img/top_bg.png) no-repeat 50% 64px;
  position: relative;
  padding: 66px 0px 27px 0px;

}
.logo {
  float: left;
  margin: 8px 79px 0px 55px;
}
.menu {
  background: url(img/hr.png) no-repeat 0px 0px;
  float: left;
  height: 53px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 1px;
  /*font-family: 'metabookc'; */
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.menu ul {
  height: 53px;
  background: url(img/hr.png) no-repeat 100% 0px;

}
.menu ul li {
  background: url(img/hr.png) no-repeat 100% 0px;
 float: left;
 height: 53px;
 padding: 0px 1px 0px 0px;
}
.menu ul li div {
 background: url(img/hr.png) no-repeat 100% -53px;
 height: 53px;
 padding: 0px 0px 0px 0px;
}
.menu ul li a {
 height: 53px;
 line-height: 53px;
 display: block;
 padding: 0px 32px 0px 33px;
 color: #ffffff;
 text-decoration: none;
 text-shadow: rgba(0,0,0,1) 1px 1px 0, rgba(120,41,169,0.22) -1px -1px 0,
              rgba(120,41,169,0.22) -1px 1px 0, rgba(120,41,169,0.22) 1px -1px 0;
}

.menu ul li.sel {
 background: url(img/menu-s.png) no-repeat 0px 0px;
 float: left;
 height: 53px;
 padding: 0px 0px 0px 2px;
}
.menu ul li.sel div {
 background: url(img/menu-s.png) no-repeat 100% -106px;
 height: 53px;
 padding: 0px 2px 0px 0px;
}
.menu ul li.sel a {
 background: url(img/menu-s.png) repeat-x 0px -53px;
 height: 53px;
 line-height: 53px;
 display: block;
 padding: 0px 31px 0px 32px;
 color: #ffffff;
 text-decoration: none;
 text-shadow: rgba(0,0,0,1) 1px 1px 0, rgba(120,41,169,0.22) -1px -1px 0,
              rgba(120,41,169,0.22) -1px 1px 0, rgba(120,41,169,0.22) 1px -1px 0;
}

/* LangSelection */
.lang {
  height: 21px;
  width: 30px;
  padding: 15px 26px 17px 16px;
  float: left;
  background: url(img/arr2.png) no-repeat 53px 24px;
  position: relative;
}
.lang:hover .lang_box {
  display: block;
}
.lang_box {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  background: #2f385b url(img/arr2.png) no-repeat 53px 24px;
  padding-bottom: 12px;
  z-index: 100;
  border-radius: 0px 0px 8px 8px;
  -moz-border-radius: 0px 0px 8px 8px;
  -khtml-border-radius: 0px 0px 8px 8px;
}
.lang_box a {
  height: 21px;
  width: 30px;
  padding: 15px 26px 5px 16px;
  display: block;
}


.lang img {
  height: 21px;
  width: 30px;
}
.lang_rus {
  background: url(img/flag.png) no-repeat 0px 0px;
}
.lang_eng {
  background: url(img/flag.png) no-repeat 0px -21px;
}


      /* middle */
      #mid {
        background: url(img/mid_bg.jpg) no-repeat 50% 0px;
        min-height: 452px !important;
        height: auto !important;
        overflow: hidden;
      }
      #mid p {
        line-height: 20px;
        padding: 0px 0px 19px 0px;
      }
      #mid b {
        font-weight: bold;
      }
      #about {
        padding: 84px 190px 0px 52px;
      }
      #contacts {
        padding: 84px 52px 50px 52px;
      }
      #contacts h1,
      #about h1 {
        width: 226px;
        float: left;
        padding: 0px 0px 0px 0px;
      }
      /*#contacts p,*/
      #about p {
        padding-left: 260px;
      }
      #contacts {
        /*background: url(img/pic-contacts.jpg) no-repeat 713px 90px;*/
        min-height: 133px;
        background: none !important;
      }
      .fon_contacts {
        position: absolute;
        top: 60px; /*90px*/
        right: 122px;
      }
      #contacts .contacts_block {
        /*width: 626px;
        padding-left: 260px;*/
      }


      .contacts_item {
       padding: 0px 0px 25px 0px;
      }
      .contacts_item .contacts_foto {
        float: left;
       /* margin-left: 80px;*/
        margin-top: 5px;
      }
      .contacts_item h2 {
        font-family: 'Tahoma', helvetica, sans-serif;
        /*font-family: 'metabookc';*/
        font-size: 23px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #4c4c4c;
        padding-bottom: 12px;
        padding-left: 150px;
      }
      #contacts .contacts_item p {
        padding-left: 150px;
        /*padding-right: 100px;*/
      }

#projects {
  padding: 31px 44px 0px 35px;
}
#projects h1 {
  font-size: 18px;
  color: #7f7287;
  padding: 0px 0px 25px 0px;
  margin-left: 15px;
}
.products {
  width: 882px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.products .jCarouselLite {
    float: left;
    left: -5000px;
    position: relative;
    padding: 0px 0px 0px 17px;
    visibility: hidden;
}

.products .prev,
.products .next {
  height: 42px;
  width: 42px;
  position: absolute;
  padding: 0px 0px 0px 0px;
  margin: 320px 0px 0px 0px;
  cursor: pointer;
}
.products .prev {
  background: url(img/arr.png) no-repeat 0px -42px;
   left: 0;
   margin-left: -7px;
}
.products .next {
  background: url(img/arr.png) no-repeat -42px -42px;
  right: 0;
  /*margin-right: -77px;*/
}
.products .prev.disabled {
  background: url(img/arr.png) no-repeat 0px 0px;
  cursor: default !important;
}
.products .next.disabled {
  background: url(img/arr.png) no-repeat -42px 0px;
  cursor: default !important;
}

.products ul {
 padding: 0px 0px 0px 0px;
}
.products ul li {
  height: 336px;
  width: 260px;
  margin: 0px 17px 0px 0px;
  background: #f2f2f2;
  position: relative;
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -khtml-border-radius: 8px 8px 8px 8px;
}
.products ul li img {
  position: relative;
  border-radius: 8px 8px 0px 0px;
  -moz-border-radius: 8px 8px 0px 0px;
  -khtml-border-radius: 8px 8px 0px 0px;
}
.products .descr {
 padding: 10px 16px 11px 18px;
text-align: left;}
.products a {
  font-family: 'Arial', helvetica, sans-serif;
  font-size: 14px;
  text-decoration: none;
}
.products h2 {
  /*font-family: 'metabookc';*/
  font-size: 14px;
  color: #4a4c4b;
  text-transform: uppercase;
  letter-spacing: 0px;
  padding-bottom: 1px;
  margin-left: -2px;
  font-weight: bold;
}
.products p {
  color: #616161;
  padding: 0px 0px 2px 0px !important;
  line-height: 18px !important;
}
.products .more {
  bottom: 11px;
  right: 18px;
  display: block;
  position: absolute;
}

/* projects description */
.loc_eng #timetobehero,
.loc_rus #timetobehero {
  background: url(img/pic/ttbh_desc.png) no-repeat 690px 45px;
}
.loc_rus #heaven {
  background: url(img/pic/descr-heaven.png) no-repeat 690px 45px;
}
.loc_eng #heaven {
  background: url(img/pic/descr-heaven-en.png) no-repeat 690px 45px;
}
.loc_eng #heaven2,
.loc_rus #heaven2 {
  background: url(img/pic/website_icon_world_of_heaven.png) no-repeat 680px 45px;
}
.loc_eng #carnage,
.loc_rus #carnage {
  background: url(img/pic/descr-carnage.png) no-repeat 550px 95px;
  padding-right: 370px;
}
.loc_rus #begin {
  background: url(img/pic/descr-begin.png) no-repeat 690px 45px;
}
.loc_eng #begin {
  background: url(img/pic/descr-begin-en.png) no-repeat 690px 45px;
}

.descr_item {
  padding: 0px 271px 0px 17px;
  min-height: 420px;
}
.descr_item .status {
  /*font-family: 'metabookc';*/
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #7F7287;
  font-size: 18px;
  padding: 0px 0px 20px 0px;
  margin-left: -2px;
}
.descr_item .status a {
  text-decoration: none;
}
.descr_item h2 {
  color: #4A4C4B;
  /*font-family: 'metabookc';*/
  font-size: 29px;
  letter-spacing: 1px;
  padding-bottom: 1px;
  text-transform: uppercase;
  margin-left: -2px;
}
.descr_item .link {
  display: block;
  font-family: 'Arial', helvetica, sans-serif;
  font-size: 14px;
  text-decoration: none;
  padding: 0px 0px 4px 0px;
}
.descr_item .link a {
  text-decoration: none;
}

/* Vacancies */
.vacancies h2 {
  font-size: 23px !important;
  padding-bottom: 10px;
}
.vacancies h3 {
  color: #555555;
  /*font-family: 'metabookc';*/
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: none;

  padding: 0px 0px 5px 0px;
  margin: 0px 0px 0px 0px;
}
.vacancies ul {
  padding: 0px 0px 10px 0px;
  margin: 0px 0px 0px 0px;
}
.vacancies ul li {
  background: url(img/arr3.png) no-repeat 2px 2px;
  padding: 0px 0px 5px 20px;
  margin: 0px 0px 0px 0px;
  line-height: 15px;
}
.vacancies .contacts_item p {
    padding-left: 150px !important;
}
.vacancies .descr_item {
    min-height: 420px;
    padding: 0 0 0 17px !important;
}


/* footer */
#foot {
  background: url(img/foot_bg.png) no-repeat 50% 0px;
  height: 60px;
}
.foot {
  font-family: Arial, helvetica, sans-serif;
  font-size: 14px;
  color: #ffffff;
}
.foot a {
  color: #ffffff;
}
.foot .l {
  float: left;
  padding: 21px 0px 0px 42px;
}
.foot .r {
  float: right;
  padding: 21px 42px 0px 0px;
}





