#active-actions {
	text-align: center;
	margin: 0 auto 1em;
}

#active-actions ul {
	margin-top: 1em;
}

#active-actions li {
	background: url('http://img.blutbad.ru/i/char_brune.gif') no-repeat;
	display: inline-block;
	*display: inline;
	height: 25px;
	*margin: 0 .2em;
	vertical-align: top;
	width: 40px;
	*zoom: 1;
}
/*
#active-actions img {
	cursor: pointer;
	height: 35px;
	width: 35px;
}*/

.table-list .img {
	width: 120px;
}

.description ul img,
.description ul span {
	vertical-align: middle;
}

.description ul img {
	height: 12px;
	width: 12px;
}

.img img {
	padding: 2px;
}

.action-row-on .img img {
	background: url('http://img.blutbad.ru/i/slot_b03.gif') 50% 50%;
}

a.toggle-off {
	color: red;
}

a.toggle-on {
	color: green;
}
#active-actions img {
  cursor: pointer;
  /*height: 35px;
  width: 35px;*/
}

#active-actions li {
	background: url('http://img.blutbad.ru/i/char_brune.gif') no-repeat;
	display: inline-block;
	*display: inline;
	height: 25px;
	*margin: 0 .2em;
	vertical-align: top;
	width: 40px;
	*zoom: 1;
}