.menu {
  z-index: 100;
  position: absolute;
  left: 0px;
  top: 0px;
  visibility: hidden;
  cursor:pointer;
}
a.menuItem {
  border: 1px solid black;
  background-color: #818380;
  padding: 2px;
  color: #272727;
  display: block;
  font-weight: bold;
}

a.menuItem2 {
  border: 2px solid #410000;
  background-color: #C25656;
  padding: 1px;
  color: #272727;
  display: block;
  font-weight: bold;
}

DIV.MoveLine{ width: 108px;height: 7px; size: 2px;font-size:2px; position: relative;overflow:hidden;}
IMG.MoveLine{ width:108px;height: 7px;border:0px solid;position:absolute;left:0px;top:0px }

.maptd {width:15px;height:15px}