.table-list .bids {
	text-align: center;
}

.table-list .bids table {
	margin: 0 auto;
}

.actions-table {
	float: right;
}

.table-list .stats {
	text-align: center;
	width: 16px;
}

.table-list .actions li {
	text-align: center;
}

.no-result {
	font-weight: bold;
	margin-top: 1em;
	text-align: center;
}