.contacts-groups {
	margin-right: 1em;
}

.add-col .button {
	*width: 80px;
}

.table-list {
	margin-bottom: 1em;
	width: auto;
}

.table-list .actions {
	text-align: right;
	white-space: nowrap;
	width: 1%;
	width: 40px;
	*width: 50px;
}

.table-list .group-title {
	cursor: move;
	text-align: left;
}

.table-list .actions img, .table-list .group-title img {
	cursor: pointer;
}

.memo-table {
	width: 100%;
}

.memo-table .buttons {
	padding-left: 1em;
	width: 1%;
}

.memo-table .buttons .button {
	margin-bottom: 1em;
	width: 90px;
}

#win2 table td {
	vertical-align: top;
}

textarea.txtmemo {
	background-image: url('http://img.blutbad.ru/i/contacts/back.gif');
	font-weight: bold;
	color: #554fa6;
}

.wh16{
	width:16px;
	height:16px;
	border:0;
}

 .thlist th {   font-weight: normal;    }