h1, h2, h3, h4 {
color: #FDCFA0;
font-size: 12px;
font-weight: bold;
margin-bottom: 1em;
text-decoration: none;
}
#left-bl td {
text-align: left;
vertical-align: middle;
font-size: 11px;
}

#login-form .label {
padding-right: .2em;
text-align: right;
}
#login-form td {
padding: 1px 0;
}
#login-form .label {
text-align: right;
}
input.password, input.text, textarea {
border: 1px solid #404040;
padding: 1px;
}
input, select, textarea {
font-size: 1em;
font-family: Verdana, sans-serif;
}

#menu {
color: #FBD5C2;
font-size: 12px;
margin-bottom: 10px;
}

#menu a {
margin: 0 .67em;
font-size: 12px;
font-weight: bold;
}

#menu-col {
/*height: 44px;*/
text-align: center;
}

.cont-block {
color: #FFC;
font-size: 11px;
text-align: left;
width: 200px;
}

.block-content {
border: 1px solid #71818D;font-size: 14px;text-align:justify;background-color: #313030;padding: 5px;
}

.block-panel {
border: 1px solid #71818D; padding: 10px;text-align: right;
}
.block-panel td{
color: #FFC;
}


.block-panel-br {
padding-bottom: 10px;
background-color: #000;
}

#menu a:hover {
text-decoration: underline;
}
.bkl {
 margin-left: 150px;
}
.bkr {
 margin-right: 150px;
}

.content {
padding-right: 200px;
padding-left: 200px;
}