hr { height: 1px; }



body {
	background-image: url(http://img.blutbad.ru/i/temple/back.jpg);
	font-size: 11px;
}

a,
a:visited {
	color: #0000AA;
	font-weight: bold;
	text-decoration: none;
}
#animals {
text-align: center;
}
#animals a {
border: 1px solid;
border-color: #FFF #666 #666 #FFF;
float: left;
padding: 3px;
}

.inv-view-col .inv-container {
margin: 0 auto;
}

.inv-view-col .nick .name {
cursor: default;
}

.inv-view-col {
text-align: center;
}

.inv-view-col .location {
font-size: .9em;
}

#tabs .ui-tabs {
padding: 0px;
}
#tabs .ui-widget-header {
border-bottom: 1px solid #8B8B8B;
color: #FFF;
font-weight: bold;
}
#tabs .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
border: 1px solid #71818D;
background: #92A2AF;
font-weight: bold;
}
 .ui-state-hover{
border: 1px solid #71818D;
background: #92A2AF;
font-weight: bold;
}
#tabs .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
color: #FFF;
}
#tabs .ui-block {
border-left: 0px solid #71818D;
border-right: 0px solid #71818D;
border: 0px solid #71818D;
padding: 0px;
background-color: #DEE2E7;
}
#tabs a, a:visited {
color: #00A;
font-weight: normal;
text-decoration: none;
}



.tabpage {
border: 1px solid #8B8B8B;
border-top: 0px solid #8B8B8B;
}
#tabs .ui-tabs .ui-tabs-nav {
min-width: 328px;
}


/*#tabs .ui-state-hover {
background: #CCD5DB;
}*/

#tabs .uinf {
width: 328px;
}
#more td {
padding: .5em;
text-align: center;
}
#gifts li {
display: inline-block;
margin: .5em;
vertical-align: bottom;
cursor: pointer;
}




























.tt {
    margin: 10px 0 0 0;
}

.tt.hr {
	border-top: 1px solid #556775;
	padding-top: 5px;
}

.letop p { margin:0; padding:0;}
.pb0 {padding-bottom:0 !important;}
ul.ll { list-style:none; background:#DEE2E7; margin:0; padding:0;}
ul.ll li {clear:both; margin:0; padding:2px; height:35px;}
ul.ll li p {* margin-top:10px; }
ul.bgn {background:none; width:350px;}
a.tabb {text-decoration: none; font-weight: normal; color: #404040;}
.cfff {color:#fff;}

.obrz{
	padding: 0 20px 10px 0;
	width: 253px;
}

.obrz p{
    width:245px;
    text-align:center;
    vertical-align:bottom;
    height:18px;
    padding:0;
    margin:0;
}

#sss{
	background-color: #DEE2E7;
    border: 1px solid #657583;
	left: 50%;
    position: fixed;
    _position: absolute;
}

#sss .dark {
    background-color: #92a2af;
    color: #FFFFFF;
	cursor:move;
	padding: 2px;
}

#sss .titlebar {
	border-bottom: 1px solid #657583;
	height: 14px;
	position: relative;
	text-align: center;
}

#sss .titlebar .close {
	position: absolute;
	right: 3px;
	top: 3px;
}

#sss .content {
	padding-top: .5em;
}

#sss .inner {
	padding: 0 .5em;
	margin-bottom: .5em;
}

#sss .presenter {
	border-top: 1px solid #657583;
	padding-top: .5em;
}

#sss .img {
	margin-bottom: .5em;
	text-align: center;
}

#sss .presenter div {
	font-size: .8em;
	margin-top: .2em;
}

.m0 {margin:0 !important;}
ul.hauto li { height:auto !important; vertical-align:top; margin:0; padding:0;}

ul.hauto li p {
	margin-left: 45px;
	margin-top: 0;
	padding: 0;
}

.posit {
	margin: 0 auto;
	width: 245px;
}



body {
	background-image: url(http://img.blutbad.ru/i/temple/back.jpg);
	font-size: 11px;
}

a,
a:visited {
	color: #0000AA;
	font-weight: bold;
	text-decoration: none;
}

.top-row {
	background-color: #D9E4ED;
	width: 100%;
}

.top-row img {
	vertical-align: top;
}

.top-row .l-img {
	background: url('http://img.blutbad.ru/i/menu/3.gif') repeat-x;
	width: 100%;
}

#user-search-col {
	vertical-align: middle;
}

#user-search {
	background-color: #92A2AF;
	border: 1px solid #657583;
	height: 24px;
	*height: 26px;
	padding: 4px 1em 0;
	*padding-top: 2px;
	white-space: nowrap;
}

#user-search label,
#user-search input {
	vertical-align: middle;
}

#user-search label {
	color: #FFFFFF;
	font-weight: bold;
	margin-right: .5em;
}

.char-view-col {
	text-align: center;
}

.char-view-col .char-container {
	margin: 0 auto;
}

/*.char-items img {
	cursor: pointer;
}*/

.char-view-col .nick .name {
	cursor: default;
}

.char-view-col .location {
	font-size: .9em;
}

.characteristics-col {
	padding-top: 0;
	padding-right: 0;
	width: 350px;
}

.characteristics-col table {
	background-color: #DEE2E7;
	width: 100%;
}

.characteristics-col th {
	background-color: #92A2AF;
	color: #FFFFFF;
	font-size: 11px;
	padding: .3em;
}

.characteristics-col td {
	padding: .1em .3em;
}

#characteristics td {
	border: 1px solid #B7C2C8;
	width: 50%;
}

#state td {
	padding: 0.3em 0.5em;
	vertical-align: middle;
}

#state td {
	width: 100%;
}

#state .img {
	vertical-align: top;
	width: 35px;
}

#characteristics td.right {
	text-align: right;
}

#state img {
	height: 35px;
	width: 35px;
}

#additional td {
	padding: .5em;
	text-align: center;
}

/*
 * Round tabs
 */
.round-tabs .ui-tabs-nav {
	white-space: nowrap;
}

.round-tabs .ui-tabs-nav li {
	display: inline-block;
	*display: inline;
	padding: 0 14px;
	position: relative;
	*zoom: 1;
}

.round-tabs .ui-tabs-nav a {
	background-color: #DEE2E7;
	color: #404040;
	display: inline-block;
	*display: inline;
	font-weight: normal;
	height: 18px;
	line-height: 18px;
	*zoom: 1;
}

.round-tabs .ui-tabs-nav .ui-tabs-selected a {
	background-color: #92A2AF;
	color: #FFFFFF;
}

.round-tabs .ui-tabs-nav .l,
.round-tabs .ui-tabs-nav .r {
	height: 18px;
	position: absolute;
	top: 0;
	width: 14px;
}

.round-tabs .ui-tabs-nav .l {
	background-image: url(http://img.blutbad.ru/i/design/ln.gif);
	left: 0;
}

.round-tabs .ui-tabs-nav .ui-tabs-selected .l {
	background-image: url(http://img.blutbad.ru/i/design/la.gif);
}

.round-tabs .ui-tabs-nav .r {
	background-image: url(http://img.blutbad.ru/i/design/rn.gif);
	right: 0;
}

.opera9 .round-tabs .ui-tabs-nav .r,
.opera10 .round-tabs .ui-tabs-nav .r {
	right: -14px;
}

.round-tabs .ui-tabs-nav .ui-tabs-selected .r {
	background-image: url(http://img.blutbad.ru/i/design/ra.gif);
}

.round-tabs .ui-tabs-hide {
	display: none;
}
/*
 * end: Round tabs
 */

#troubles li {
	margin-top: 1em;
}

#troubles img {
	float: left;
	height: 35px;
	width: 35px;
}

#troubles p {
	color: #FF0000;
	font-size: 11px;
	font-weight: bold;
	margin-left: 45px;
}

#animals {
	text-align: center;
}

#animals li {
	float: left;
	margin: 0 0 1em 10px;
}

#animals a {
	border: 1px solid;
	border-color: #FFFFFF #666666 #666666 #FFFFFF;
	float: left;
	padding: 3px;
}

#animals .delete {
	cursor: pointer;
	margin-bottom: -1px;
}

.img-block {
	background-color: #DEE2E7;
	margin-top: 1em;
	text-align: center;
}

.img-block .caption {
  background-color: #92A2AF;
  color: #FFF;
  font-weight: bold;
  padding: 0.3em;
  text-align: center;
  margin: -12px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.img-block li {
	display: inline-block;
	*display: inline;
	margin: .5em;
	vertical-align: bottom;
	*zoom: 1;
}

.img-block .date-time,
.img-block .size {
	font-size: .9em;
}

.img-block .delete {
	cursor: pointer;
	height: 11px;
	width: 11px;
}

#awards img,
#images img {
	cursor: pointer;
}

#gifts img.big {
	cursor: pointer;
}

#bottom-tabs {
	margin-top: 1em;
}

.captioned-block {
	background-color: #DEE2E7;
}

#bottom-tabs .captioned-block {
	font-size: 1.1em;
}

#form .title {
	color: #556775;
	font-weight: bold;
}

.captioned-block .caption {
	background-color: #92A2AF;
	color: #FFFFFF;
	font-weight: bold;
	padding: .3em;
	text-align: center;
}

.captioned-block .content {
	/*padding: 1em;*/
}

.adate {
	color: #209020;
}

.adate3 {
	background-color: #B0B0B0;
	color: #202020;
}

.date {
	color: #209020;
	font-family: Courier;
}

.err {
	color: #FF0000;
	font-weight: bold;
}

.ui-dialog {
	border: 1px solid #657583;
}

.ui-dialog .ui-dialog-titlebar {
	border-bottom: 1px solid #657583;
	padding-bottom: 0;
}

.ui-dialog .ui-dialog-titlebar-close {
	top: 2px;
}

#img-dialog {
	padding: 0;
}

#img-dialog .inner {
	padding: 5px;
}

#img-dialog .inner .img {
	text-align: center;
}

#img-dialog .inner .content {
	padding-top: .5em;
}

#img-dialog .inner .presenter {
	border-top: 1px solid #657583;
	margin-top: .5em;
	padding-top: .5em;
}

#img-dialog .inner .from-user {
	font-weight: bold;
}

#img-dialog .inner .valid-till {
	font-size: .8em;
}

#img-dialog .nick {
	font-size: 1em;
}

#img-dialog .nick .name {
	cursor: default;
}

#tooltip.tooltip-gift {
	min-width: 150px;
	max-width: 400px;
}

#tooltip.tooltip-gift .body {
	overflow: hidden;
}
