html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
body{
    background-color: #000;
}

table.h100 {
	height: 100%
}
tr.h100 {
	height: 100%
}
td.h100 {
	height: 100%
}
table.w100 {
	width: 100%
}

td.top_left {
	width: 50%; background: url(http://img.blutbad.ru/i/main/ind/top_left.jpg) no-repeat right top
}
td.top_right {
	width: 50%; background: url(http://img.blutbad.ru/i/main/ind/top_right.jpg) no-repeat left top
}
td.middle_left table {
	background: url(http://img.blutbad.ru/i/main/ind/middle_left.jpg) no-repeat right top
}
td.middle_right table {
	background: url(http://img.blutbad.ru/i/main/ind/middle_right.jpg) no-repeat left top
}

tr.login {
	background: url(http://img.blutbad.ru/i/main/ind/login.jpg) no-repeat left top; height: 80px
}

td.top_center {
	background: url(http://img.blutbad.ru/i/main/ind/flash.jpg); overflow: hidden
}

td.top_center_s {
	background: url(http://img.blutbad.ru/i/main/ind/flash1.jpg); overflow: hidden
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#menu a{
  font-size: 14px;
  font-weight: bold;
}

#malinks td{
  text-align: center;
}

#left-table {
  margin: 0 0px 0px 10px;
  width: 540px;
}

.content-block {
  color: #FFC;
  font-size: 11px;
  text-align: left;
  width: 212px;
}

#right-col td {
  text-align: left;
  vertical-align: middle;
}
.content-block .t {
  background: url('http://img.blutbad.ru/i/main/ind/topline-sm.png') no-repeat;
  height: 34px;
}
table th, table td {
    vertical-align: top;
}
td {
    vertical-align: top;
}

#right-col td {
  text-align: left;
  vertical-align: middle;
}
.content-block .ml {
  background-image: url('http://img.blutbad.ru/i/main/leftbar.png');
}
.content-block .ml, .content-block .mr {
  background-repeat: repeat-y;
  width: 13px;
}

#right-col td {
  text-align: left;
  vertical-align: middle;
}
.content-block .mm {
  background-color: #4D3C65;
  background: url('http://img.blutbad.ru/i/main/ind/mbar.png');
  padding: 0 6px 15px;
}

#right-col td {
  text-align: left;
  vertical-align: middle;
}
.content-block .mr {
  background-image: url('http://img.blutbad.ru/i/main/ind/rightbar.png');
  background-position: 100% 0;
}
.content-block .ml, .content-block .mr {
  background-repeat: repeat-y;
  width: 13px;
}

.content-block .b {
  background: url('http://img.blutbad.ru/i/main/ind/buttbar.png') no-repeat;    /*downline-sm.gif*/
  height: 24px;
}

#left-table .t {
  background-image: url('http://img.blutbad.ru/i/main/ind/topline.png');
}

.label {
  vertical-align: middle;
  padding-right: .2em;
  text-align: right;
}

#footer-col {
 text-align: center;
}

#footer {
  background: url('http://img.blutbad.ru/i/main/ind/back-line.gif') repeat-x;
  color: #6F6F6F;
  margin: 0 auto;
  margin-top: 11px;
  padding-top: 11px;
  width: 797px;
}

.bottom-desc img.rate {
  float: left;
  height: 64px;
  margin: 0 4px 0 0;
  width: 64px;
}

.copyright {
  color: #FFD5A0;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.bottom-desc {
  font-size: 7pt;
  line-height: 1.2em;
  padding: 0px 0px 5px;
  text-align: left;
}

#rate ul {
  list-style: disc;
  padding-left: 20px;
  margin: 0px 0px 0px 0px;
  font-weight: bold;
}

.invisible{  display: none;}

#news-list .new {
  color: #0C0;
  font-size: 12px;
  font-weight: bold;
}
#menu .marked {color: #D5D51F;}
#menu .marked:hover {color: yellow;}


/* General Style */
a:link {text-decoration:none; color:#CAC7C5;}
a:active {text-decoration:none; color:#4D0000;}
a:visited {text-decoration:none; color:#CAC7C5;}
a:hover {text-decoration:none; color:#B3B3B3;}

td, body {font-family:verdana,arial,helvetica; font-size:8pt; color:#C0C0C0;}
form {padding:0px;margin:0px;}
input,textarea,select {vertical-align:middle; font-size:8pt; font-family:verdana,arial,helvetica;}
.copy {font-size:7pt;}

a.noun:link {text-decoration:none; color:#50648B}
a.noun:active {text-decoration:none; color:#50648B}
a.noun:visited {text-decoration:none; color:#50648B}
a.noun:hover {text-decoration:none; color:#FFFFFF}
.mframe1 {padding:2 10 30 10px;}
hr {color:#586786;height:1px;}
label {cursor:pointer;cursor:hand}

.blocktitle {font-family:Verdana,Sans-Serif;color:#7BA5A8;font-size:13px;font-weight:bold; padding-left:22px; background: url('http://img.blutbad.ru/i/main/ind/19.gif') no-repeat 5px 2px;}

.menut0 {background:#435381;border-top:1px solid #FFFFFF;border-right:1px solid #FFFFFF;}
.menut {padding:2 3 3 15px;background:url('http://img.blutbad.ru/i/main/ind/10.jpg');border-top:1px solid #FFFFFF;border-right:1px solid #FFFFFF;border-bottom:4px solid #FFFFFF;}
.mframe {padding:2 0 30 30px;}
.bannerTable {width:468;height:60;background:url('http://img.blutbad.ru/i/main/ind/10.jpg');border-top:1px solid #FFFFFF;border-left:1px solid #FFFFFF;border-bottom:4px solid #FFFFFF;}

.menu1 {font-weight:bold;font-size:8pt;font-family:Arial,Sans-Serif;}
a.menu1:link {text-decoration:none; color:#D14935}
a.menu1:active {text-decoration:none; color:#D14935}
a.menu1:visited {text-decoration:none; color:#D14935}
a.menu1:hover {text-decoration:none; color:#000000}
/* ------------- */


#uNetRegF{text-align:left;}
input[type=submit] {*overflow: visible; *padding:0 7px;}
.uMenuV{z-index:5; text-align:left;}
input[type=text], input[type=password], textarea, iframe#mchatIfm2{box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; *padding:3px 0px !important;}
.myBtnLeft img, .myBtnRight img, .myBtnLeftA img, .myBtnRightA img, .myBtnRight + td input, .myBtnRightA + td input { display: block }
.myBtnCenter, .myBtnCenterA { line-height:19px !important }

#login-container, #password-container, #search-container {
  background: url(http://img.blutbad.ru/i/main/ind/auth_input.jpg) 0 0 no-repeat;
  height: 21px;
  margin-left: 5px;
  padding: 5px;
  width: 125px;
}

input.auth-input, #search-container input {
  background: url(http://img.blutbad.ru/i/main/ind/auth_input.jpg) -5px -5px no-repeat;
  border: 0;
  -moz-box-shadow: none;
  color: #271200;
  font-weight: bold;
  height: 20px;
  outline: none;
  padding: 2px 4px;
  width: 115px;
}
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #5E5959 inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #271200;
    background: url(http://img.blutbad.ru/i/main/ind/auth_input.jpg) -5px -5px no-repeat;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: #A88C42,0 0 0 50px white inset;
    -webkit-text-fill-color: #271200;
}
input.auth-input:hover, input.auth-input:focus, #search-container input:hover, #search-container input:focus {
  background-position: -5px -36px;
}

input.auth-input::-webkit-input-placeholder,
#search-container input::-webkit-input-placeholder
{
	color: #753700;
}

.event-current{
  background-color: #2B210F;
  padding: 1px;
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid #3A3838;
}
