.greetings {
	font-size: 1.2em;
}

.replicas {
	margin: 0;
	padding: 0 0 0 1.4em;
}

.replicas li { 
	background:  url('http://img.carnage.ru/i/quest/dialog.gif') no-repeat 0 2px;
	margin: .7em 0;
	padding: 1px 0 1px 18px;
}

.replicas li a {
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.quests {
	margin-top: 1em;
}

.quests ul {
	/*list-style: square;
	margin: 0 2.5em;*/
}

.quests ul li {
	font-size: 14px;
	margin: .5em 0;
}

.deal-items {
	margin-top: 1em;
}

.deal-items .section-title {
	font-size: .9em;
	font-weight: bold;
	margin-bottom: 1em;
}

.deal-items li {
	display: inline-block;
	*display: inline;
	margin: 0 .5em .5em 0;
	vertical-align: middle;
	*zoom: 1;
}

.deal-items li.needed {
	color: #FF0000;
}

.deal-items li img {
	vertical-align: middle;
}

.deal-items li.needed img {
	filter: alpha(opacity=50);
	opacity: .5;
}

.highlight,
.replicas li.highlight{
	background-color: #FFF0AA;
}

.action-highlight {
	background: #FFF0AA;
}

input.button-highlight {
	background: #FFF0AA;
}

.flash-container {
	background: url('http://img.carnage.ru/i/minigames/match3_rama.png') no-repeat;
	height: 300px;
	margin: 0 auto;
	padding: 12px 11px;
	width: 700px;
}