/*
 * jQuery UI CSS Framework 1.8.17
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */

/* Layout helpers
----------------------------------*/
#tabs .ui-helper-hidden { display: none; }
#tabs .ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
#tabs .ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
#tabs .ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
#tabs .ui-helper-clearfix:after { clear: both; }
#tabs .ui-helper-clearfix { zoom: 1; }
#tabs .ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
#tabs .ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
#tabs .ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
#tabs .ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


/*
 * jQuery UI CSS Framework 1.8.17
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 *
 */


/* Component containers
----------------------------------*/


#tabs .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Segoe UI, Arial, sans-serif; font-size: 1em; }
/*.ui-widget-content { border: 1px solid #8e846b; background: #DEE2E7   50% top repeat-x; color: #383838; }
*/
/*#tabs .ui-widget-content li a { color: #383838; }*/

#tabs .ui-widget-header { border-bottom: 1px solid #71818D;
/*background: #817865 url(../images/ui-bg_gloss-wave_45_817865_500x100.png) 50% 50% repeat-x;
 color: #ffffff;
 font-weight: bold;*/ }
#tabs .ui-widget-header ui-corner-top li a { color: #404040;text-decoration: none; }
/*#tabs li a:hover { color: #A50B0B;text-decoration: none; }*/
#tabs .ui-widget-header ui-corner-top ui-state-active li a { color: #A50B0B; }

#tabs .ui-state-hover a, .ui-state-hover a:hover { color: #381f00; text-decoration: none; }
#tabs .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #71818D; background: #DEE2E7; font-weight: bold; color: #000000; }
#tabs .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #A50B0B; text-decoration: none; }
#tabs .ui-widget :active { outline: none; }

/* Interaction states
----------------------------------*/
#tabs .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  cursor: pointer; border: 1px solid #949494; background: #CCD5DB; font-weight: bold; color: #4c3000;
  }
#tabs .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {  color: #404040; text-decoration: none;  }
#tabs .ui-state-hover, #tabs .ui-widget-content .ui-state-hover, #tabs .ui-widget-header .ui-state-hover, #tabs .ui-state-focus, #tabs .ui-widget-content .ui-state-focus, #tabs .ui-widget-header .ui-state-focus {
  border: 1px solid #919191;  font-weight: bold; color: #381f00;
  }

/* Interaction Cues
----------------------------------*/
#tabs .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #eeb420; background: #fff9e5 url(../images/ui-bg_gloss-wave_90_fff9e5_500x100.png) 50% top repeat-x; color: #1f1f1f; }
#tabs .ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #1f1f1f; }
#tabs .ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #ffb73d; background: #d34d17 url(../images/ui-bg_diagonals-medium_20_d34d17_40x40.png) 50% 50% repeat; color: #ffffff; }
#tabs .ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #ffffff; }
#tabs .ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #ffffff; }
#tabs .ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
#tabs .ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
#tabs .ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }

/* Icons
----------------------------------*/

/* states and images */
#tabs .ui-icon { width: 16px; height: 16px; background-image: url(../images/ui-icons_d19405_256x240.png); }
#tabs .ui-widget-content .ui-icon {background-image: url(../images/ui-icons_d19405_256x240.png); }
#tabs .ui-widget-header .ui-icon {background-image: url(../images/ui-icons_fadc7a_256x240.png); }
#tabs .ui-state-default .ui-icon { background-image: url(../images/ui-icons_3d3d3d_256x240.png); }
#tabs .ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(../images/ui-icons_bd7b00_256x240.png); }
#tabs .ui-state-active .ui-icon {background-image: url(../images/ui-icons_eb990f_256x240.png); }
#tabs .ui-state-highlight .ui-icon {background-image: url(../images/ui-icons_ed9f26_256x240.png); }
#tabs .ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(../images/ui-icons_ffe180_256x240.png); }



/* Misc visuals
----------------------------------*/

/* Corner radius */
#tabs .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; -khtml-border-top-left-radius: 5px; border-top-left-radius: 5px; }
#tabs .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; -khtml-border-top-right-radius: 5px; border-top-right-radius: 5px; }

#tabs .ui-tabs {position: relative; /*padding: .2em; */zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
#tabs .ui-tabs .ui-tabs-nav {min-width: 525px; margin: 0; margin-bottom: 0px; padding: 0.2em 0em 0; }
#tabs .ui-tabs .ui-tabs-nav li {/*display: inline-block;*/ list-style: none; float: left; position: relative; top: 1px; padding: 0.2em 0.0em 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; margin-right: 5px;}
#tabs .ui-tabs .ui-tabs-nav li a { float: left; padding: 2.5px 11px; text-decoration: none; }
#tabs .ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0px; padding-bottom: 1px; }
#tabs .ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: pointer; }
#tabs .ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
/*.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 1.4em; background: none; }
*/#tabs .ui-tabs .ui-tabs-hide { display: none !important; }
