/* General Style */
a:link {text-decoration:none; color:#CAC7C5;}
a:active {text-decoration:none; color:#4D0000;}
a:visited {text-decoration:none; color:#CAC7C5;}
a:hover {text-decoration:none; color:#B3B3B3;}

td, body {font-family:verdana,arial,helvetica; font-size:8pt; color:#C0C0C0;}
form {padding:0px;margin:0px;}
input,textarea,select {vertical-align:middle; font-size:8pt; font-family:verdana,arial,helvetica;}
.copy {font-size:7pt;}

a.noun:link {text-decoration:none; color:#50648B}
a.noun:active {text-decoration:none; color:#50648B}
a.noun:visited {text-decoration:none; color:#50648B}
a.noun:hover {text-decoration:none; color:#FFFFFF}
.mframe1 {padding:2 10 30 10px;}
hr {color:#586786;height:1px;}
label {cursor:pointer;cursor:hand}

.blocktitle {font-family:Verdana,Sans-Serif;color:#7BA5A8;font-size:13px;font-weight:bold; padding-left:22px; background: url('http://img.blutbad.ru/i/main/19.gif') no-repeat 5px 2px;}

.menut0 {background:#435381;border-top:1px solid #FFFFFF;border-right:1px solid #FFFFFF;}
.menut {padding:2 3 3 15px;background:url('http://img.blutbad.ru/i/main/10.jpg');border-top:1px solid #FFFFFF;border-right:1px solid #FFFFFF;border-bottom:4px solid #FFFFFF;}
.mframe {padding:2 0 30 30px;}
.bannerTable {width:468;height:60;background:url('http://img.blutbad.ru/i/main/10.jpg');border-top:1px solid #FFFFFF;border-left:1px solid #FFFFFF;border-bottom:4px solid #FFFFFF;}

.menu1 {font-weight:bold;font-size:8pt;font-family:Arial,Sans-Serif;}
a.menu1:link {text-decoration:none; color:#D14935}
a.menu1:active {text-decoration:none; color:#D14935}
a.menu1:visited {text-decoration:none; color:#D14935}
a.menu1:hover {text-decoration:none; color:#000000}
/* ------------- */

/* Menus */
ul.uz, ul.uMenuRoot {list-style: none; margin: 0 0 0 0; padding-left: 0px;}
li.menus {margin: 0; padding: 0 0 0 17px; background: url('http://img.blutbad.ru/i/main/20.gif') no-repeat; margin-bottom: .6em;}
/* ----- */

/* Site Menus */
.uMenuH li {float:left;padding:0 5px;}


.uMenuV .uMenuItem {font-weight:normal;}
.uMenuV li a:link {text-decoration:none; color:#50648B;}
.uMenuV li a:active {text-decoration:none; color:#50648B}
.uMenuV li a:visited {text-decoration:none; color:#50648B}
.uMenuV li a:hover {text-decoration:none; color:#FFFFFF}

.uMenuV .uMenuItemA {font-weight:bold;}
.uMenuV a.uMenuItemA:link {text-decoration:none; color:#D14935}
.uMenuV a.uMenuItemA:visited {text-decoration:none; color:#D14935}
.uMenuV a.uMenuItemA:hover {text-decoration:none; color:#FFFFFF}
.uMenuV .uMenuArrow {position:absolute;width:10px;height:10px;right:0;top:3px;background:url('/.s/img/wd/1/ar1.gif') no-repeat 0 0;}
.uMenuV li {margin: 0; padding: 0 0 0 17px; background: url('http://img.blutbad.ru/i/main/20.gif') no-repeat; margin-bottom: .6em;}
/* --------- */

/* Module Part Menu */
.catsTd {padding: 0 0 6px 17px; background: url('http://img.blutbad.ru/i/main/20.gif') no-repeat;}
.catName {font-family:verdana,Tahoma,Arial,Sans-Serif;font-size:11px;}
.catNameActive {font-family:verdana,Tahoma,Arial,Sans-Serif;font-size:11px;}
.catNumData {font-size:7pt;color:#D8D5D5;}
.catDescr {font-size:7pt; padding-left:10px;}
a.catName:link {text-decoration:none; color:#50648B;}
a.catName:visited {text-decoration:none; color:#50648B;}
a.catName:hover {text-decoration:none; color:#FFFFFF;}
a.catName:active {text-decoration:none; color:#50648B;}
a.catNameActive:link {text-decoration:none; color:#D14935;}
a.catNameActive:visited {text-decoration:none; color:#D14935;}
a.catNameActive:hover {text-decoration:none; color:#FFFFFF;}
a.catNameActive:active {text-decoration:none; color:#D14935;}
/* ----------------- */

/* Entries Style */
.eBlock {border:1px solid #262628;}
.eTitle {font-family:Verdana,Arial,Sans-Serif;font-size:13px;font-weight:bold;color:#7BA5A8; padding: 0 0 0 21px; background: url('http://img.blutbad.ru/i/main/21.gif') no-repeat;}
.eTitle a:link {text-decoration:none; color:#D14935;}
.eTitle a:visited {text-decoration:none; color:#D14935;}
.eTitle a:hover {text-decoration:none; color:#FFFFFF;}
.eTitle a:active {text-decoration:none; color:#D14935;}

.eText {text-align:justify; padding:5px;border-top:1px dashed #EFEFEF;}

.eDetails {background:#141414;color:#586786;padding-bottom:5px;padding-top:3px;text-align:left;font-size:7pt;}
.eDetails1 {background:#141414;color:#586786;padding-bottom:5px;padding-top:3px;text-align:left;font-size:8pt;}
.eDetails2 {background:#141414;color:#586786;padding-bottom:5px;padding-top:3px;text-align:left;font-size:8pt;}

.eRating {font-size:7pt;}

.eAttach {margin: 16px 0 0 0; padding: 0 0 0 15px; background: url('http://img.blutbad.ru/i/main/22.gif') no-repeat 0px 0px;}
/* --------------- */

/* Entry Manage Table */
.manTable {}
.manTdError {color:#FF0000;}
.manTd1 {}
.manTd2 {}
.manTd3 {}
.manTdSep {}
.manHr {}
.manTdBrief {}
.manTdText {}
.manTdFiles {}
.manFlFile {}
.manTdBut {}
.manFlSbm {}
.manFlRst {}
.manFlCnt {}
/* ------------------ */

/* Comments Style */
.cAnswer {color:#F4F5F7;padding-left:15px;padding-top:4px;font-style:italic;}

.cBlock1 {background:url('http://img.blutbad.ru/i/main/10.jpg');border:1px solid #233047;}
.cBlock2 {background:url('http://img.blutbad.ru/i/main/10.jpg');border:1px solid #233047;}
/* -------------- */

/* Comments Form Style */
.commTable {background:url('http://img.blutbad.ru/i/main/10.jpg');border:1px solid #233047;}
.commTd1 {color:#7BA5A8;font-weight:bold;padding-left:5px;}
.commTd2 {padding-bottom:2px;}
.commFl {width:100%;color:#FFFFFF;background:#03111A;border:1px solid #233047;}
.smiles {background:#03111A;border:1px solid #233047;}
.commReg {padding: 10 0 10 0px; text-align:center;}
.commError {color:#FF0000;}
.securityCode {}
/* ------------------- */

/* News/Blog Archive Menu */
.archUl {list-style: none; margin:0; padding-left:0;}
.archLi {padding: 0 0 3px 10px; background: url('http://img.blutbad.ru/i/main/23.gif') no-repeat 0px 4px;}
.archActive {color:#7BA5A8;}
a.archLink:link {text-decoration:underline; color:#7BA5A8;}
a.archLink:visited {text-decoration:underline; color:#7BA5A8;}
a.archLink:hover {text-decoration:none; color:#D8D5D5;}
a.archLink:active {text-decoration:none; color:#D8D5D5;}
/* ---------------------- */

/* News/Blog Archive Style */
.archiveCalendars {text-align:center;color:#B5C4E1;}
.archiveDateTitle {font-weight:bold;color:#7BA5A8;padding-top:15px;}
.archEntryHr {width:250px;color:#DDDDDD;}
.archiveeTitle li {margin-left: 15px; padding: 0 0 0 15px; background: url('http://img.blutbad.ru/i/main/24.gif') no-repeat 0px 2px; margin-bottom: .6em;}
.archiveEntryTime {width:65px;font-style:italic;}
.archiveEntryComms {font-size:9px;color:#C3C3C3;}
a.archiveDateTitleLink:link {text-decoration:none; color:#FFFFFF}
a.archiveDateTitleLink:visited {text-decoration:none; color:#FFFFFF}
a.archiveDateTitleLink:hover {text-decoration:underline; color:#FFFFFF}
a.archiveDateTitleLink:active {text-decoration:underline; color:#FFFFFF}
.archiveNoEntry {text-align:center;color:#B5C4E1;}
/* ------------------------ */

/* News/Blog Calendar Style */
.calMonth {}
.calWday {color:#FFFFFF; background:#233047; width:18px;}
.calWdaySe {color:#010A11; background:#50648B; width:18px;}
.calWdaySu {color:#010A11; background:#50648B; width:18px; font-weight:bold;}
.calMday {color:#7BA5A8;background:url('http://img.blutbad.ru/i/main/10.jpg');border:1px solid #233047;}
.calMdayA {color:#000000;background:#D14935; font-weight:bold;}
.calMdayIs {color:#FFFFFF;background:url('http://img.blutbad.ru/i/main/10.jpg');font-weight:bold;border: 1px solid #D14935;}
.calMdayIsA {border:1px solid #FFFFFF; background:#233047;font-weight:bold;}
a.calMonthLink:link,a.calMdayLink:link {text-decoration:none; color:#FFFFFF;}
a.calMonthLink:visited,a.calMdayLink:visited {text-decoration:none; color:#FFFFFF;}
a.calMonthLink:hover,a.calMdayLink:hover {text-decoration:underline; color:#FFFFFF;}
a.calMonthLink:active,a.calMdayLink:active {text-decoration:none; color:#FFFFFF;}
/* ------------------------ */

/* Poll styles */
.pollBut {width:110px;}

.pollBody {padding:7px; margin:0px; background:#000000;}
.textResults {background:#FFFFFF}
.textResultsTd {background:#010A11}

.pollNow {background:#FFFFFF}
.pollNowTd {background:#010A11}

.totalVotesTable {}
.totalVotesTd {background:#010A11}
/* ---------- */

/* User Group Marks */
a.groupModer:link,a.groupModer:visited,a.groupModer:hover {color:yellow;}
a.groupAdmin:link,a.groupAdmin:visited,a.groupAdmin:hover {color:pink;}
a.groupVerify:link,a.groupVerify:visited,a.groupVerify:hover {color:#99CCFF;}
/* ---------------- */

/* Other Styles */
.replaceTable {background: #03111A;height:100px;width:300px;border:1px solid #233047;}
.replaceBody {background:url('http://img.blutbad.ru/i/main/10.jpg');}

.legendTd {font-size:7pt;}
/* ------------ */

/* ===== forum Start ===== */

/* General forum Table View */
.gTable {background:url('http://img.blutbad.ru/i/main/16.jpg') top repeat-x;width:98%;margin-left:1%;margin-right:1%;}
.gTableTop {padding:2px;height:45px; background:url('http://img.blutbad.ru/i/main/17.jpg') left top no-repeat;font-family:Verdana,Sans-Serif;color:#BCD8F2;font-size:13px;font-weight:bold; padding-left:120px;padding-top:20px;}
.gTableSubTop {padding:2px;background:url('http://img.blutbad.ru/i/main/26.gif') center;height:20px;font-size:10px;}
.gTableBody {padding:2px;background:#000000;border:1px solid #161616;}
.gTableBody1 {padding:2px;background:#000000;border:1px solid #161616;}
.gTableBottom {padding:2px;background:url('http://img.blutbad.ru/i/main/10.jpg');border:1px solid #161616;}
.gTableLeft {padding:2px;background:url('http://img.blutbad.ru/i/main/10.jpg');border:1px solid #161616;color:#7BA5A8}
.gTableRight {padding:2px;background:url('http://img.blutbad.ru/i/main/10.jpg');border:1px solid #161616;color:#7BA5A8;}
.gTableError {padding:2px;background:url('http://img.blutbad.ru/i/main/10.jpg');border:1px solid #161616;color:#FF0000;}
/* ------------------------ */

/* Forums Styles */
.forumNameTd,.forumLastPostTd {padding:2px;background:#000000;border:1px solid #161616;}
.forumIcoTd,.forumThreadTd,.forumPostTd {padding:2px;background:url('http://img.blutbad.ru/i/main/10.jpg');border:1px solid #161616;}
.forumLastPostTd,.forumArchive {padding:2px;font-size:7pt;}

a.catLink:link {text-decoration:none; color:#BCD8F2;}
a.catLink:visited {text-decoration:none; color:#BCD8F2;}
a.catLink:hover {text-decoration:none; color:#FFFFFF;}
a.catLink:active {text-decoration:none; color:#BCD8F2;}

.lastPostGuest,.lastPostUser,.threadAuthor {}
.archivedForum{font-size:7pt;color:#FF0000;}
/* ------------- */

/* forum Titles & other */
.forum {font-size:9pt;}
.forumDescr,.forumModer {color:#CCCCCC;font-size:7pt;}
.forumViewed {font-size:9px;}
a.forum:link, a.lastPostUserLink:link, a.forumLastPostLink:link, a.threadAuthorLink:link {text-decoration:none; color:#D14935;}
a.forum:visited, a.lastPostUserLink:visited, a.forumLastPostLink:visited, a.threadAuthorLink:visited {text-decoration:none; color:#D14935;}
a.forum:hover, a.lastPostUserLink:hover, a.forumLastPostLink:hover, a.threadAuthorLink:hover {text-decoration:none; color:#FFFFFF;}
a.forum:active, a.lastPostUserLink:active, a.forumLastPostLink:active, a.threadAuthorLink:active {text-decoration:none; color:#D14935;}
/* -------------------- */

/* forum Navigation Bar */
.forumNamesBar {padding-bottom:7px;font-size:7pt;}
.forumBarKw {font-weight:normal;}
a.forumBarA:link {text-decoration:none; color:#D14935;}
a.forumBarA:visited {text-decoration:none; color:#D14935;}
a.forumBarA:hover {text-decoration:none; color:#FFFFFF;}
a.forumBarA:active {text-decoration:none; color:#D14935;}
/* -------------------- */

/* forum Fast Navigation Blocks */
.fastNav,.fastSearch,.fastLoginForm {font-size:7pt;}
/* ---------------------------- */

/* forum Fast Navigation Menu */
.fastNavMain {background:#435381;color:#FFFFFF;}
.fastNavCat {background:#E7EEF8;}
.fastNavCatA {background:#E7EEF8;color:#0000FF}
.fastNavForumA {color:#0000FF}
/* -------------------------- */

/* forum Page switches */
.pagesInfo {background:#03111A;padding-right:10px;font-size:7pt;}
.switches {background:#233047;}
.switch {background:url('http://img.blutbad.ru/i/main/10.jpg');width:15px;font-size:7pt;}
.switchActive {background:#D14935;font-weight:bold;color:#000000;width:15px}
a.switchDigit:link,a.switchBack:link,a.switchNext:link {text-decoration:none; color:#D14935;}
a.switchDigit:visited,a.switchBack:visited,a.switchNext:visited {text-decoration:none; color:#D14935;}
a.switchDigit:hover,a.switchBack:hover,a.switchNext:hover {text-decoration:none; color:#FFFFFF;}
a.switchDigit:active,a.switchBack:active,a.switchNext:active {text-decoration:none; color:#D14935;}
/* ------------------- */

/* forum Threads Style */
.threadNametd,.threadAuthTd,.threadLastPostTd {padding:2px;padding:2px;background:#000000;border:1px solid #161616;}
.threadIcoTd,.threadPostTd,.threadViewTd {padding:2px;background:url('http://img.blutbad.ru/i/main/10.jpg');border:1px solid #161616;}
.threadLastPostTd {padding:2px;font-size:7pt;}
.threadDescr {color:#CCCCCC;font-size:7pt;}
.threadNoticeLink {font-weight:bold;}
.threadsType {padding:2px;background:#03111A;height:20px;font-weight:bold;font-size:7pt;color:#FFFFFF;padding-left:40px;}
.threadsDetails {padding:2px;background:#000000;border:1px solid #161616;height:20px;color:#FEFEFE;}
.forumOnlineBar {padding:2px;background:#000000;border:1px solid #161616;height:20px;color:#FEFEFE;}

a.threadPinnedLink:link {text-decoration:none; color:#D14935;}
a.threadPinnedLink:visited {text-decoration:none; color:#D14935;}
a.threadPinnedLink:hover {text-decoration:none; color:#FFFFFF;}
a.threadPinnedLink:active {text-decoration:none; color:#D14935;}

.threadPinnedLink,.threadLink {font-weight:bold;}
a.threadLink:link {text-decoration:none; color:#D14935;}
a.threadLink:visited {text-decoration:none; color:#D14935;}
a.threadLink:hover {text-decoration:none; color:#FFFFFF;}
a.threadLink:active {text-decoration:none; color:#D14935;}

.postpSwithces {font-size:7pt;}
.thDescr {font-weight:normal;}
.threadFrmBlock {font-size:7pt;text-align:right;}
/* ------------------- */

/* Posts View */
.postTable {background:#002F3C}
.postPoll {background:url('http://img.blutbad.ru/i/main/10.jpg');text-align:center;}
.postFirst {background:url('http://img.blutbad.ru/i/main/10.jpg');}
.postRest1 {background:url('http://img.blutbad.ru/i/main/10.jpg');}
.postRest2 {background:url('http://img.blutbad.ru/i/main/10.jpg');}
.postSeparator {height:2px;background:#D14935;}

.postTdTop {background:url('http://img.blutbad.ru/i/main/26.gif') center;height:20px;font-size:10px;}
.postBottom {background:#000000;height:17px;}
.postUser {font-weight:bold;}
.postTdInfo {background:url('http://img.blutbad.ru/i/main/10.jpg');text-align:center;padding:5px;}
.postRankName {margin-top:5px;}
.postRankIco {margin-bottom:5px;margin-bottom:5px;}
.reputation {margin-top:5px;}
.signatureHr {margin-top:20px;color:#CCCCCC;}
.posttdMessage {background:#000000; padding: 10px;}

.postPoll {padding:5px;}
.pollQuestion {text-align:center;font-weight:bold;} 
.pollButtons,.pollTotal {text-align:center;}
.pollSubmitBut,.pollreSultsBut {width:140px;font-size:7pt;}
.pollSubmit {font-weight:bold;}
.pollEnd {text-align:center;height:30px;}

.codeMessage {background:#03111A;font-size:9px;}
.quoteMessage {background:#03111A;font-size:9px;}

.signatureView {font-size:7pt;}
.edited {padding-top:30px;font-size:7pt;text-align:right;color:#CCCCCC;}
.editedBy {font-weight:bold;font-size:8pt;}

.statusBlock {padding-top:3px;}
.statusOnline {color:#FFFF00;}
.statusOffline {color:#FFFFFF;}
/* ---------- */

/* forum AllInOne Fast Add */
.newThreadBlock {background: #F9F9F9;border: 1px solid #B2B2B2;}
.newPollBlock {background: #F9F9F9;border: 1px solid #B2B2B2;}
.newThreadItem {padding: 0 0 0 8px; background: url('http://img.blutbad.ru/i/main/27.gif') no-repeat 0px 4px;}
.newPollItem {padding: 0 0 0 8px; background: url('http://img.blutbad.ru/i/main/27.gif') no-repeat 0px 4px;}
/* ----------------------- */

/* Post Form */
.queryField, .loginField {background:url('http://img.blutbad.ru/i/main/10.jpg');color:#7BA5A8;border:1px solid #233047;margin:1px;}

.pollBut, .loginButton, .searchSbmFl, .commSbmFl, .signButton {font-size:7pt;background: #D14935;color:#010A11;border:1px outset #233047;}

.codeButtons {font-size:7pt;background: #D14935;color:#010A11;border:1px outset #233047;}
.codeCloseAll {font-size:7pt;background: #D14935;color:#010A11;border:1px outset #233047;font-weight:bold;}
.postNameFl,.postDescrFl {background:#03111A;border:1px solid #233047;width:400px;color:#FFFFFF;}
.postPollFl,.postQuestionFl {background:#03111A;border:1px solid #233047;width:400px;color:#FFFFFF;}
.postResultFl {background:#03111A;border:1px solid #233047;width:50px;color:#FFFFFF;}
.postAnswerFl {background:#03111A;border:1px solid #233047;width:300px;color:#FFFFFF;}
.postTextFl {background:#03111A;border:1px solid #233047;width:550px;height:150px;color:#FFFFFF;}
.postUserFl {background:#03111A;border:1px solid #233047;width:300px;color:#FFFFFF;}

.pollHelp {font-weight:normal;font-size:7pt;padding-top:3px;}
.smilesPart {padding-top:5px;text-align:center}
/* --------- */

/* ====== forum End ====== */

#uNetRegF{text-align:left;}
input[type=submit] {*overflow: visible; *padding:0 7px;}
.uMenuV{z-index:5; text-align:left;}
input[type=text], input[type=password], textarea, iframe#mchatIfm2{box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; *padding:3px 0px !important;}
.myBtnLeft img, .myBtnRight img, .myBtnLeftA img, .myBtnRightA img, .myBtnRight + td input, .myBtnRightA + td input { display: block }
.myBtnCenter, .myBtnCenterA { line-height:19px !important }



.b-mail-button_green .b-mail-button__inner{background:#E0E9EE;background:-webkit-gradient(linear,0 0,0 100%,from(#86ACCA),to(#E0E9EE));background:-webkit--webkit-linear-gradient(top,#86ACCA,#E0E9EE);background:-webkit--moz-linear-gradient(top,#86ACCA,#E0E9EE);background:-webkit--o-linear-gradient(top,#86ACCA,#E0E9EE);background:-webkit--ms-linear-gradient(top,#86ACCA,#E0E9EE);background:-webkit-linear-gradient(to bottom,#86ACCA,#E0E9EE);background:-moz--webkit-linear-gradient(top,#86ACCA,#E0E9EE);background:-moz--moz-linear-gradient(top,#86ACCA,#E0E9EE);background:-moz--o-linear-gradient(top,#86ACCA,#E0E9EE);background:-moz--ms-linear-gradient(top,#86ACCA,#E0E9EE);background:-moz-linear-gradient(to bottom,#86ACCA,#E0E9EE);background:-o--webkit-linear-gradient(top,#86ACCA,#E0E9EE);background:-o--moz-linear-gradient(top,#86ACCA,#E0E9EE);background:-o--o-linear-gradient(top,#86ACCA,#E0E9EE);background:-o--ms-linear-gradient(top,#86ACCA,#E0E9EE);background:-o-linear-gradient(to bottom,#86ACCA,#E0E9EE);background:-webkit-linear-gradient(top,#86ACCA,#E0E9EE);background:-moz-linear-gradient(top,#86ACCA,#E0E9EE);background:-o-linear-gradient(top,#86ACCA,#E0E9EE);background:-ms-linear-gradient(top,#86ACCA,#E0E9EE);background:linear-gradient(to bottom,#86ACCA,#E0E9EE)}
.b-mail-button_green:hover .b-mail-button__inner,.b-mail-button_green:active .b-mail-button__inner{background:-webkit-gradient(linear,0 0,0 100%,from(rgba(255,255,255,0)),to(rgba(255,255,255,.25))),-webkit-gradient(linear,0 0,0 100%,from(#86ACCA),to(#E0E9EE));background:-webkit--webkit-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-webkit--webkit-linear-gradient(top,#86ACCA,#E0E9EE));background:-webkit--moz-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-webkit--moz-linear-gradient(top,#86ACCA,#E0E9EE));background:-webkit--o-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-webkit--o-linear-gradient(top,#86ACCA,#E0E9EE));background:-webkit--ms-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-webkit--ms-linear-gradient(top,#86ACCA,#E0E9EE));background:-webkit-linear-gradient(to bottom,rgba(255,255,255,.25),rgba(255,255,255,0),-webkit-linear-gradient(to bottom,#86ACCA,#E0E9EE));background:-moz--webkit-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-moz--webkit-linear-gradient(top,#86ACCA,#E0E9EE));background:-moz--moz-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-moz--moz-linear-gradient(top,#86ACCA,#E0E9EE));background:-moz--o-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-moz--o-linear-gradient(top,#86ACCA,#E0E9EE));background:-moz--ms-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-moz--ms-linear-gradient(top,#86ACCA,#E0E9EE));background:-moz-linear-gradient(to bottom,rgba(255,255,255,.25),rgba(255,255,255,0),-moz-linear-gradient(to bottom,#86ACCA,#E0E9EE));background:-o--webkit-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-o--webkit-linear-gradient(top,#86ACCA,#E0E9EE));background:-o--moz-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-o--moz-linear-gradient(top,#86ACCA,#E0E9EE));background:-o--o-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-o--o-linear-gradient(top,#86ACCA,#E0E9EE));background:-o--ms-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-o--ms-linear-gradient(top,#86ACCA,#E0E9EE));background:-o-linear-gradient(to bottom,rgba(255,255,255,.25),rgba(255,255,255,0),-o-linear-gradient(to bottom,#86ACCA,#E0E9EE));background:-webkit-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-webkit-linear-gradient(top,#86ACCA,#E0E9EE));background:-moz-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-moz-linear-gradient(top,#86ACCA,#E0E9EE));background:-o-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-o-linear-gradient(top,#86ACCA,#E0E9EE));background:-ms-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-ms-linear-gradient(top,#86ACCA,#E0E9EE));background:linear-gradient(to bottom,rgba(255,255,255,.25),rgba(255,255,255,0),linear-gradient(to bottom,#86ACCA,#E0E9EE))}
.b-mail-button_green .b-mail-button__inner .b-mail-button__text{color:#333}

.b-mail-button_blue .b-mail-button__inner{background:#E0E9EE;background:-webkit-gradient(linear,0 0,0 100%,from(#86ACCA),to(#E0E9EE));background:-webkit--webkit-linear-gradient(top,#86ACCA,#E0E9EE);background:-webkit--moz-linear-gradient(top,#86ACCA,#E0E9EE);background:-webkit--o-linear-gradient(top,#86ACCA,#E0E9EE);background:-webkit--ms-linear-gradient(top,#86ACCA,#E0E9EE);background:-webkit-linear-gradient(to bottom,#86ACCA,#E0E9EE);background:-moz--webkit-linear-gradient(top,#86ACCA,#E0E9EE);background:-moz--moz-linear-gradient(top,#86ACCA,#E0E9EE);background:-moz--o-linear-gradient(top,#86ACCA,#E0E9EE);background:-moz--ms-linear-gradient(top,#86ACCA,#E0E9EE);background:-moz-linear-gradient(to bottom,#86ACCA,#E0E9EE);background:-o--webkit-linear-gradient(top,#86ACCA,#E0E9EE);background:-o--moz-linear-gradient(top,#86ACCA,#E0E9EE);background:-o--o-linear-gradient(top,#86ACCA,#E0E9EE);background:-o--ms-linear-gradient(top,#86ACCA,#E0E9EE);background:-o-linear-gradient(to bottom,#86ACCA,#E0E9EE);background:-webkit-linear-gradient(top,#86ACCA,#E0E9EE);background:-moz-linear-gradient(top,#86ACCA,#E0E9EE);background:-o-linear-gradient(top,#86ACCA,#E0E9EE);background:-ms-linear-gradient(top,#86ACCA,#E0E9EE);background:linear-gradient(to bottom,#86ACCA,#E0E9EE)}
.b-mail-button_blue:hover .b-mail-button__inner,.b-mail-button_blue:active .b-mail-button__inner{background:-webkit-gradient(linear,0 0,0 100%,from(rgba(255,255,255,0)),to(rgba(255,255,255,.25))),-webkit-gradient(linear,0 0,0 100%,from(#86ACCA),to(#E0E9EE));background:-webkit--webkit-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-webkit--webkit-linear-gradient(top,#86ACCA,#E0E9EE));background:-webkit--moz-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-webkit--moz-linear-gradient(top,#86ACCA,#E0E9EE));background:-webkit--o-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-webkit--o-linear-gradient(top,#86ACCA,#E0E9EE));background:-webkit--ms-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-webkit--ms-linear-gradient(top,#86ACCA,#E0E9EE));background:-webkit-linear-gradient(to bottom,rgba(255,255,255,.25),rgba(255,255,255,0),-webkit-linear-gradient(to bottom,#86ACCA,#E0E9EE));background:-moz--webkit-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-moz--webkit-linear-gradient(top,#86ACCA,#E0E9EE));background:-moz--moz-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-moz--moz-linear-gradient(top,#86ACCA,#E0E9EE));background:-moz--o-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-moz--o-linear-gradient(top,#86ACCA,#E0E9EE));background:-moz--ms-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-moz--ms-linear-gradient(top,#86ACCA,#E0E9EE));background:-moz-linear-gradient(to bottom,rgba(255,255,255,.25),rgba(255,255,255,0),-moz-linear-gradient(to bottom,#86ACCA,#E0E9EE));background:-o--webkit-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-o--webkit-linear-gradient(top,#86ACCA,#E0E9EE));background:-o--moz-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-o--moz-linear-gradient(top,#86ACCA,#E0E9EE));background:-o--o-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-o--o-linear-gradient(top,#86ACCA,#E0E9EE));background:-o--ms-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-o--ms-linear-gradient(top,#86ACCA,#E0E9EE));background:-o-linear-gradient(to bottom,rgba(255,255,255,.25),rgba(255,255,255,0),-o-linear-gradient(to bottom,#86ACCA,#E0E9EE));background:-webkit-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-webkit-linear-gradient(top,#86ACCA,#E0E9EE));background:-moz-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-moz-linear-gradient(top,#86ACCA,#E0E9EE));background:-o-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-o-linear-gradient(top,#86ACCA,#E0E9EE));background:-ms-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-ms-linear-gradient(top,#86ACCA,#E0E9EE));background:linear-gradient(to bottom,rgba(255,255,255,.25),rgba(255,255,255,0),linear-gradient(to bottom,#86ACCA,#E0E9EE))}
.b-mail-button_blue .b-mail-button__inner .b-mail-button__text{color:#333}

.b-mail-button_gray .b-mail-button__inner{background:#A2A2A2;background:-webkit-gradient(linear,0 0,0 100%,from(#F3EEEE),to(#A2A2A2));background:-webkit--webkit-linear-gradient(top,#F3EEEE,#A2A2A2);background:-webkit--moz-linear-gradient(top,#F3EEEE,#A2A2A2);background:-webkit--o-linear-gradient(top,#F3EEEE,#A2A2A2);background:-webkit--ms-linear-gradient(top,#F3EEEE,#A2A2A2);background:-webkit-linear-gradient(to bottom,#F3EEEE,#A2A2A2);background:-moz--webkit-linear-gradient(top,#F3EEEE,#A2A2A2);background:-moz--moz-linear-gradient(top,#F3EEEE,#A2A2A2);background:-moz--o-linear-gradient(top,#F3EEEE,#A2A2A2);background:-moz--ms-linear-gradient(top,#F3EEEE,#A2A2A2);background:-moz-linear-gradient(to bottom,#F3EEEE,#A2A2A2);background:-o--webkit-linear-gradient(top,#F3EEEE,#A2A2A2);background:-o--moz-linear-gradient(top,#F3EEEE,#A2A2A2);background:-o--o-linear-gradient(top,#F3EEEE,#A2A2A2);background:-o--ms-linear-gradient(top,#F3EEEE,#A2A2A2);background:-o-linear-gradient(to bottom,#F3EEEE,#A2A2A2);background:-webkit-linear-gradient(top,#F3EEEE,#A2A2A2);background:-moz-linear-gradient(top,#F3EEEE,#A2A2A2);background:-o-linear-gradient(top,#F3EEEE,#A2A2A2);background:-ms-linear-gradient(top,#F3EEEE,#A2A2A2);background:linear-gradient(to bottom,#F3EEEE,#A2A2A2)}
.b-mail-button_gray:hover .b-mail-button__inner,.b-mail-button_gray:active .b-mail-button__inner{background:-webkit-gradient(linear,0 0,0 100%,from(rgba(255,255,255,0)),to(rgba(255,255,255,.25))),-webkit-gradient(linear,0 0,0 100%,from(#F3EEEE),to(#A2A2A2));background:-webkit--webkit-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-webkit--webkit-linear-gradient(top,#F3EEEE,#A2A2A2));background:-webkit--moz-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-webkit--moz-linear-gradient(top,#F3EEEE,#A2A2A2));background:-webkit--o-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-webkit--o-linear-gradient(top,#F3EEEE,#A2A2A2));background:-webkit--ms-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-webkit--ms-linear-gradient(top,#F3EEEE,#A2A2A2));background:-webkit-linear-gradient(to bottom,rgba(255,255,255,.25),rgba(255,255,255,0),-webkit-linear-gradient(to bottom,#F3EEEE,#A2A2A2));background:-moz--webkit-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-moz--webkit-linear-gradient(top,#F3EEEE,#A2A2A2));background:-moz--moz-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-moz--moz-linear-gradient(top,#F3EEEE,#A2A2A2));background:-moz--o-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-moz--o-linear-gradient(top,#F3EEEE,#A2A2A2));background:-moz--ms-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-moz--ms-linear-gradient(top,#F3EEEE,#A2A2A2));background:-moz-linear-gradient(to bottom,rgba(255,255,255,.25),rgba(255,255,255,0),-moz-linear-gradient(to bottom,#F3EEEE,#A2A2A2));background:-o--webkit-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-o--webkit-linear-gradient(top,#F3EEEE,#A2A2A2));background:-o--moz-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-o--moz-linear-gradient(top,#F3EEEE,#A2A2A2));background:-o--o-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-o--o-linear-gradient(top,#F3EEEE,#A2A2A2));background:-o--ms-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-o--ms-linear-gradient(top,#F3EEEE,#A2A2A2));background:-o-linear-gradient(to bottom,rgba(255,255,255,.25),rgba(255,255,255,0),-o-linear-gradient(to bottom,#F3EEEE,#A2A2A2));background:-webkit-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-webkit-linear-gradient(top,#F3EEEE,#A2A2A2));background:-moz-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-moz-linear-gradient(top,#F3EEEE,#A2A2A2));background:-o-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-o-linear-gradient(top,#F3EEEE,#A2A2A2));background:-ms-linear-gradient(top,rgba(255,255,255,.25),rgba(255,255,255,0),-ms-linear-gradient(top,#F3EEEE,#A2A2A2));background:linear-gradient(to bottom,rgba(255,255,255,.25),rgba(255,255,255,0),linear-gradient(to bottom,#F3EEEE,#A2A2A2))}
.b-mail-button_gray .b-mail-button__inner .b-mail-button__text{color:#333}

.b-mail-button_yellow .b-mail-button__inner{background:#FFEFEF;background:-webkit-gradient(linear,0 0,0 100%,from(#FFEFEF),to(#FF9494));background:-webkit--webkit-linear-gradient(top,#FFEFEF,#FF9494);background:-webkit--moz-linear-gradient(top,#FFEFEF,#FF9494);background:-webkit--o-linear-gradient(top,#FFEFEF,#FF9494);background:-webkit--ms-linear-gradient(top,#FFEFEF,#FF9494);background:-webkit-linear-gradient(to bottom,#FFEFEF,#FF9494);background:-moz--webkit-linear-gradient(top,#FFEFEF,#FF9494);background:-moz--moz-linear-gradient(top,#FFEFEF,#FF9494);background:-moz--o-linear-gradient(top,#FFEFEF,#FF9494);background:-moz--ms-linear-gradient(top,#FFEFEF,#FF9494);background:-moz-linear-gradient(to bottom,#FFEFEF,#FF9494);background:-o--webkit-linear-gradient(top,#FFEFEF,#FF9494);background:-o--moz-linear-gradient(top,#FFEFEF,#FF9494);background:-o--o-linear-gradient(top,#FFEFEF,#FF9494);background:-o--ms-linear-gradient(top,#FFEFEF,#FF9494);background:-o-linear-gradient(to bottom,#FFEFEF,#FF9494);background:-webkit-linear-gradient(top,#FFEFEF,#FF9494);background:-moz-linear-gradient(top,#FFEFEF,#FF9494);background:-o-linear-gradient(top,#FFEFEF,#FF9494);background:-ms-linear-gradient(top,#FFEFEF,#FF9494);background:linear-gradient(to bottom,#FFEFEF,#FF9494)}
.b-mail-button_yellow.b-mail-button_disabled .b-mail-button__inner{background:#eee;background:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#eee));background:-webkit--webkit-linear-gradient(top,#fff,#eee);background:-webkit--moz-linear-gradient(top,#fff,#eee);background:-webkit--o-linear-gradient(top,#fff,#eee);background:-webkit--ms-linear-gradient(top,#fff,#eee);background:-webkit-linear-gradient(to bottom,#fff,#eee);background:-moz--webkit-linear-gradient(top,#fff,#eee);background:-moz--moz-linear-gradient(top,#fff,#eee);background:-moz--o-linear-gradient(top,#fff,#eee);background:-moz--ms-linear-gradient(top,#fff,#eee);background:-moz-linear-gradient(to bottom,#fff,#eee);background:-o--webkit-linear-gradient(top,#fff,#eee);background:-o--moz-linear-gradient(top,#fff,#eee);background:-o--o-linear-gradient(top,#fff,#eee);background:-o--ms-linear-gradient(top,#fff,#eee);background:-o-linear-gradient(to bottom,#fff,#eee);background:-webkit-linear-gradient(top,#fff,#eee);background:-moz-linear-gradient(top,#fff,#eee);background:-o-linear-gradient(top,#fff,#eee);background:-ms-linear-gradient(top,#fff,#eee);background:linear-gradient(to bottom,#fff,#eee)}
.b-mail-button_yellow:not(.b-mail-button_disabled):hover .b-mail-button__inner,.b-mail-button_yellow:not(.b-mail-button_disabled):active .b-mail-button__inner{background:-webkit-gradient(linear,0 0,0 100%,from(rgba(217,255,124,0)),to(rgba(217,255,124,.25))),-webkit-gradient(linear,0 0,0 100%,from(#FFEFEF),to(#FF9494));background:-webkit--webkit-linear-gradient(top,rgba(217,255,124,.25),rgba(217,255,124,0),-webkit--webkit-linear-gradient(top,#FFEFEF,#FF9494));background:-webkit--moz-linear-gradient(top,rgba(217,255,124,.25),rgba(217,255,124,0),-webkit--moz-linear-gradient(top,#FFEFEF,#FF9494));background:-webkit--o-linear-gradient(top,rgba(217,255,124,.25),rgba(217,255,124,0),-webkit--o-linear-gradient(top,#FFEFEF,#FF9494));background:-webkit--ms-linear-gradient(top,rgba(217,255,124,.25),rgba(217,255,124,0),-webkit--ms-linear-gradient(top,#FFEFEF,#FF9494));background:-webkit-linear-gradient(to bottom,rgba(217,255,124,.25),rgba(217,255,124,0),-webkit-linear-gradient(to bottom,#FFEFEF,#FF9494));background:-moz--webkit-linear-gradient(top,rgba(217,255,124,.25),rgba(217,255,124,0),-moz--webkit-linear-gradient(top,#FFEFEF,#FF9494));background:-moz--moz-linear-gradient(top,rgba(217,255,124,.25),rgba(217,255,124,0),-moz--moz-linear-gradient(top,#FFEFEF,#FF9494));background:-moz--o-linear-gradient(top,rgba(217,255,124,.25),rgba(217,255,124,0),-moz--o-linear-gradient(top,#FFEFEF,#FF9494));background:-moz--ms-linear-gradient(top,rgba(217,255,124,.25),rgba(217,255,124,0),-moz--ms-linear-gradient(top,#FFEFEF,#FF9494));background:-moz-linear-gradient(to bottom,rgba(217,255,124,.25),rgba(217,255,124,0),-moz-linear-gradient(to bottom,#FFEFEF,#FF9494));background:-o--webkit-linear-gradient(top,rgba(217,255,124,.25),rgba(217,255,124,0),-o--webkit-linear-gradient(top,#FFEFEF,#FF9494));background:-o--moz-linear-gradient(top,rgba(217,255,124,.25),rgba(217,255,124,0),-o--moz-linear-gradient(top,#FFEFEF,#FF9494));background:-o--o-linear-gradient(top,rgba(217,255,124,.25),rgba(217,255,124,0),-o--o-linear-gradient(top,#FFEFEF,#FF9494));background:-o--ms-linear-gradient(top,rgba(217,255,124,.25),rgba(217,255,124,0),-o--ms-linear-gradient(top,#FFEFEF,#FF9494));background:-o-linear-gradient(to bottom,rgba(217,255,124,.25),rgba(217,255,124,0),-o-linear-gradient(to bottom,#FFEFEF,#FF9494));background:-webkit-linear-gradient(top,rgba(217,255,124,.25),rgba(217,255,124,0),-webkit-linear-gradient(top,#FFEFEF,#FF9494));background:-moz-linear-gradient(top,rgba(217,255,124,.25),rgba(217,255,124,0),-moz-linear-gradient(top,#FFEFEF,#FF9494));background:-o-linear-gradient(top,rgba(217,255,124,.25),rgba(217,255,124,0),-o-linear-gradient(top,#FFEFEF,#FF9494));background:-ms-linear-gradient(top,rgba(217,255,124,.25),rgba(217,255,124,0),-ms-linear-gradient(top,#FFEFEF,#FF9494));background:linear-gradient(to bottom,rgba(217,255,124,.25),rgba(217,255,124,0),linear-gradient(to bottom,#FFEFEF,#FF9494))}
.b-mail-button_yellow .b-mail-button__inner .b-mail-button__text{color:#333}.b-mail-button_disabled,.b-mail-button_disabled:hover,.b-mail-button_disabled:active{opacity:.5!important;-ms-filter:'alpha(opacity=50)';cursor:default!important}
.b-mail-button_disabled .b-mail-button__inner,.b-mail-button_disabled:hover .b-mail-button__inner,.b-mail-button_disabled:active .b-mail-button__inner{background-position:0 0!important}
.b-mail-button_button.b-mail-button_disabled .b-mail-button__inner{-webkit-box-shadow:none!important;box-shadow:none!important}
.b-mail-button_disabled.b-mail-button_button:active .b-mail-button__text{top:0}
.b-mail-button_33px .b-mail-button__inner{font-size: 11px;padding: 2px 10px 2px;font-weight: bold;}

.b-mail-button_filter-selected .b-mail-button__text,.b-mail-button_filter-selected:hover .b-mail-button__text{color:#000!important}
.b-mail-button_filter-selected .b-mail-button__inner{background-color:#FDEEAC;background:#FDEEAC;background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#FDEEAC),color-stop(100%,#FEF6D6));background:-moz-linear-gradient(top,#FDEEAC 0%,#FEF6D6 100%);background:-o-linear-gradient(top,#FDEEAC 0%,#FEF6D6 100%);background:linear-gradient(top,#FDEEAC 0%,#FEF6D6 100%);-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.4);box-shadow:inset 0 1px 3px rgba(0,0,0,.4)}
.b-mail-button_button{cursor: pointer;position:relative;outline:0;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;user-select:none;margin:0}
.b-mail-button_button:after{content:" ";position:absolute;top:0;bottom:0;right:0;left:0;background:rgba(0,0,0,0);display:block}
.b-mail-button_button .b-mail-button__text{cursor: pointer; color:#000;text-shadow:0 1px 0 rgba(255,255,255,.5);-webkit-user-select:none;-moz-user-select:none;user-select:none}
.b-mail-button_button .b-mail-button__inner{display:-moz-inline-box;display:inline-block;overflow:hidden;text-align:center;vertical-align:middle;border:1px solid #5D5D5D;border-color:#5D5D5D;-webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box}@media all and (resolution=0){.b-mail-button_button .b-mail-button__inner{display:table-cell}}
.b-mail-button_button:focus{-webkit-box-shadow:0 0 3px 1px rgba(255,229,131,1);box-shadow:0 0 3px 1px rgba(255,229,131,1)}
.b-mail-button_button:active .b-mail-button__inner{border:1px solid rgba(150,150,150,.7);-webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,.4);box-shadow:inset 0 1px 3px rgba(0,0,0,.4)}
.b-mail-button_button:active .b-mail-button__text{position:relative;top:1px}
.b-mail-button_button .b-input-file__input__file{bottom:-2px;right:-2px}
.b-mail-button_button .b-mail-button__button{top:0;left:0;font:0/0 a;z-index:1;/*height:100%;*/margin:0;padding:0;vertical-align:top;outline:0;cursor:pointer;/*text-indent:-9999px;*/border:0;background:url("//yandex.st/mail/neo2/_/La6qi18Z8LwgnZdsAr1qy1GwCwo.gif");opacity:1}
/*.b-mail-button_button .b-mail-button__button{position:absolute;top:0;left:0;font:0/0 a;z-index:1;width:100%;height:100%;margin:0;padding:0;vertical-align:top;outline:0;cursor:pointer;text-indent:-9999px;border:0;background:url("//yandex.st/mail/neo2/_/La6qi18Z8LwgnZdsAr1qy1GwCwo.gif");opacity:1}*/
.b-mail-button_button .b-mail-button__button::-moz-focus-inner{border:none}

#login-container, #password-container, #search-container {
  background: url(http://img.blutbad.ru/i/main/auth_input.jpg) 0 0 no-repeat;
  height: 21px;
  margin-left: 5px;
  padding: 5px;
  width: 125px;
}

input.auth-input, #search-container input {
  background: url(http://img.blutbad.ru/i/main/auth_input.jpg) -5px -5px no-repeat;
  border: 0;
  -moz-box-shadow: none;
  color: #271200;
  font-weight: bold;
  height: 20px;
  outline: none;
  padding: 2px 4px;
  width: 115px;
}
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #5E5959 inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #271200;
    background: url(http://img.blutbad.ru/i/main/auth_input.jpg) -5px -5px no-repeat;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: #A88C42,0 0 0 50px white inset;
    -webkit-text-fill-color: #271200;
}
input.auth-input:hover, input.auth-input:focus, #search-container input:hover, #search-container input:focus {
  background-position: -5px -36px;
}

input.auth-input::-webkit-input-placeholder,
#search-container input::-webkit-input-placeholder
{
	color: #753700;
}
