/** {
    font-family: Arial,Verdana,Helvetica,sans-serif;
    margin: 0px; padding: 0px;
    font-size: 12px;
}
body {
    margin: 10px;
    background-color: #ffffff; color:  #000000;
}
img.info { border: 1px dotted black; margin: 2px 0 0 5px; }
img.pics { border: 2px solid white; }
img.vote { border: 0px dotted black; margin: 0; padding: 0; }
form {
    margin: 0;
    padding: 0;
}
small { font-size: 10px; }*/
/*=== razmetka begin===*/
.wrapperMain {
    width: 970px;
}
.wrapperOneCol {
    width: 955px;
    /*background-color: #d6d5d6;*/
}
.leftMain {
     vertical-align: top;
     width: 280px;
     float: left;
     margin-top: 15px;
     border: 0px solid green;
}
.contentMain {
    width: 690px;
    float: left;
    border: 0px solid red;
}
.wrapper{
    width: 955px;
    margin-top: 10px;
    border: 0px solid yellow;
}
.left {
     vertical-align: top;
     width: 280px;
     float: left;
     /*margin-top: 15px;*/
     border: 0px solid green;
}
.content1 {
    width: 660px;
    margin: 0 0 0 15px;
    /*padding: 0 5px;*/
    float: left;
    border: 0px solid red;
    background-color: #d6d5d6;
}
/*=== razmetka end===*/
/*======mail begin==========*/
.EditLetterArea {
    margin: 10px 0;
    padding: 10px;
    border-top: 1px dotted #000000;
}
#LettersArea{/*
    padding: 5px;
    margin: 1px;
    border: 1px dotted #000000;*/
}
/*
#FolderHeader{
    text-align: center;
    margin: 0;
    padding: 10px;
}*/
#FolderOperations {
    text-align: left;
    margin: 0;
    padding: 0 10px 10px;
}
#ContactsHeader {
    text-align: center;
    margin: 0;
    padding: 10px;
}
/*.ReadLetter {
   border-top: 1px dotted #000000;
}
.LetterBody {
    overflow: auto;
    height: 100px;
    border: 1px solid black;
    margin: 5px 0;
}*/
.ReadLetterHeader {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}
.LetterList {
    overflow: auto;
    margin: 5px 0;
    height: 100px;
    border-bottom: 1px dotted #000000;
}
.NewFolderAndLetter {
    text-align: center;
    margin: 0;
    padding: 5px;
}
.LettersDiv {
    border: 1px dotted #000000;
}
.ChatLetterArea {
    overflow-y: scroll;
    height: 200px;
    /*border: 1px dotted #000000; #d6d5d6;*/
    /*padding: 15px;*/
    margin: 15px 0;
}
/*---- img -----*/
/*img.listOpenClose, img.listNo {
    border: 0;
    margin-right: 2px;
    cursor: pointer;
}
img.listNo {
    cursor: default;
}*/
/*======mail end============*/
/*======opros begin============*/
.otvet {
    padding: 0;
    margin: 0 0 15px 0;
    background-color: #d6d5d6;
}
.otvet div {
     padding: 5px; 
      /*margin: 5px;*/
      border: 0px solid red;
}
.otvet div table {
    border-spacing: 0;
    border-collapse: collapse;
    /*margin: 5px 0 10px 0;*/
}
.otvet div table tr td { padding: 1px 1px 0 0;}
/*======opros end============*/
/*======blog begin============*/

#BlogArea {
/*    margin:5px 0;
}
#AddPostArea {
    margin:5px 0;
    border-top: 0px dotted black;
    padding: 5px 0;
}
.PostBody {
   margin: 10px 0;
   padding: 5px;
   background-color: #d6d5d6;
}
.PostCell,.PostCellMain {
    border: 1px solid gray;
    padding: 5px;
    margin: 10px 0;
}*/
/*
.PostCell{
    width: 945px;
}*/
/*======blog end============*/
/*======= album, photoes begin */
.AlbumCell, #AddAlbumArea {
    border-top: 1px dotted black;
    padding: 15px 0 0;
    margin: 0 0 15px 0;
}
.OdnoPhoto {
    float: left;
}
.EditAlbum, .AlbumTagsArea{
    margin: 5px 0;
    padding: 0;
}
.UploadForms {
    margin: 5px 0;
}
.NewCommentPhoto {
    margin: 5px 0;
    padding: 5px;
    border: 1px dotted #000000;
}
.AlbumPreview {
    float: left;
    width: 130px;
    margin: 5px;
}
table.lastPhotoChanged {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}
/*======= album, photoes end */
/*====comments begin=====*/
.justComment {
    border: 1px dotted black;
}
.Comments {
    background-color: #d6d5d6;
    width: 500px;
}
.CommentDiv {
    margin: 5px 0;
    width: 500px;
}
/*===== comments end =====*/
/*===== oprosi begin ======*/
.Group {
    padding: 5px;
    margin: 5px 0 15px 5px;
    border: 1px dotted black;
}
/*====== oprosi end =======*/
/*==== survey begin========
.SurveyGroup {
    padding: 0;
    border: 0px solid black;
    width: 270px;
}
#SurveyAnswer, #SurveyResults {
    margin:  0;
    padding: 0;
}
.RaznieOprosi{
    margin: 10px 0;
    padding: 5px;
    border-bottom: 1px dotted lightgray;
}
*/
/*====== survey end========*/
/*=====favorites page begin ======*/
.tagsSearch {
    padding: 5px;
    margin:  0 0 15px 0;
    /*border: 0px dotted #000000;
    width: 270px;*/
    background-color: #d6d5d6;
}
.tagsSearchMain {
    padding: 5px;
    margin:  0;
    border: 0px solid red;
    /*width: 245px;*/
    background-color: #d6d5d6;
/*    margin-bottom: 15px;*/
    height: 28px;
    float: right;
}
.tagsSearch div {
    margin: 5px 0;
    border: 0px solid red;
}
.leftSubBlock
{
background-color: #d6d5d6;
border: 0px solid red;
}
.leftSubBlock div.inner {
    padding: 5px;
    border: 0px solid red;
}
/*=====favorites page end ======*/
/*====== info begin ==========*/
#CurrentUserBody {
    margin: 10px 0;
}
/*======================*/
/*======= general =======*/
.tagsCloud {
    margin: 0 0 15px 0;
    /*width: 270px;*/
    padding: 5px;
    border: 0px dotted #000000;
    background-color: #d6d5d6;
}
/*=======================*/

a { /*color: #000000; */}
a.n_u { text-decoration: none; }
/*input
{
background: #ffffff;
border: 1px solid #000000;
padding: 2px;
margin: 0px;
}

input.ch
{
background: #ffffff;
border: 0px solid #000000;
padding: 2px;
margin: 0px;
}
*/
hr {
    color: #ffffff;
    background-color: #ffffff;
    height: 0px;
    margin: 15px 0px;
    padding: 0px;
    border: 1px solid #ffffff;
}

.login {
    margin: 0 0 10px 0;
    font-weight: bold;
    height: 35px;
}
ul.horizon, ul.tiny {
    margin: 5px 0;
}
ul.horizon  li, ul.tiny li{
	 display: inline;
	 float: left;
  }
ul.horizon  li a, ul.tiny li a {
     display: block;
	padding: 5px 5px;
	margin: 0px 5px;
	text-decoration: none;
	color: #000000;
	border: 0px solid #000000;
  }
ul.horizon  li.clear a {
     display: inline;
	padding: 5px 0px;
	margin: 0px 5px;
	text-decoration: underline;
	color: #000000;
	border: 0px solid #000000;
  }
ul.tiny li a { padding: 2px; font-size: 10px; }
ul.tiny li a { margin: 2px; }
/*ul.horizon  li a:hover, ul.tiny a:hover {
	background-color: #000000;
	color: white;
}
ul.horizon  li.clear a:hover {
    background-color: #ffffff;
    color: #000000;

}*/
ul.simple li {
    list-style-type: none;
    margin: 3px;
}
ul { margin-left: 5px; list-style-type: none; }
ul li { margin-bottom: 5px; }
.clear {
    clear: both;
}

table.info {
    border-collapse: collapse;
}
table.info tr td { padding: 2px 10px 2px 0; margin: 0; }
table.brd {
	border-spacing: 0;
	border-collapse: collapse;
        width: 100%;
}
table.brd tr td {
  padding: 2px;
  border: 1px solid black;
}
table.wide { width: 100%; }
table.bcollapse  { border-collapse: collapse; }
table tr th { text-align: center; font-weight: bold; }
table tr td { padding: 2px; }

table.eqtd { width: 100%;  }
table.eqtd tr td { width: 20%; /*background-color: #eeeeee;*/ padding: 2px;  border: 1px solid #000000; }

table.MainPicComments {
    width: 100%;
    /*width: 690px;
    float: left;
    border: 0px solid red;*/
}
table.MainPicComments tr td{
    vertical-align: top; background-color: #d6d5d6;
    padding: 5px;
}

table.eqtd1 { width: 100%; margin-top: 5px; }
table.eqtd1 tr td { padding: 1px; width: 20%; /*background-color: #eeeeee;*/ padding: 2px; font-weight: bold; }

table.window {
 background-color: #000000;
 width: 620px;
 color: #ffffff;
}
table.innerwindow {
 background-color: #ffffff;
 width: 100%;
 color: #000000;
 
}
.insideWinHeader { font-weight: bold; color: blue; text-align: center; }
table.innerwindow tr td { padding: 2px 5px ; }

table.wideBlackBorder {
    border-collapse: collapse;
    border-spacing: 0;
    width: 98%;
    margin: 2px auto;
}
table.wideBlackBorder td {
    border: 1px solid #000000;
}
.vert_otstup {
    margin: 15px 0;
}
.vert_otstup p { margin: 5px 0; }
.top_menu { padding: 5px 0 0 0; }
/*======================= text styles ======= */
.center {
text-align: center;
}
.centre {
    margin: 0 auto;
}
.middle {
    vertical-align: middle; text-align: center;
}
.bold {
    font-weight: bold;
}
.darkred { color: darkred; }
.error {
    border: 0px solid red;
    margin: 5px 0;
    background-color: #e8d5d8;
    width: 955px;
    text-align: center;
    color: darkred;
}

.message {
    border: 0px solid green;
    margin: 5px 0;
    background-color: #CAE0C9;
    width: 955px;
    text-align: center;
    font-size: 11px;
    color: green;
}

.error div, .message div {
   padding:5px;
   font-size: 11px;
}
.smallTitle, .smallTitle a{
    font-size: 10px;
    padding-bottom: 10px;
}
.infoTitle {
    font-weight: bold;
    padding: 5px 0;
}
.noTitle {
    font-weight: bold;
    font-style: italic;
    padding: 5px 0;
}
/*========================== tree list ================*/
ul.tree { margin: 0 0 0 15px; padding: 0;}
ul.tree li { list-style-type: none; }
ul.tree li.left, ul.tree li.down, ul.tree li.no {
    padding: 0 0 0 10px; margin:0;
    background-repeat: no-repeat;
    background-position: 0 8px;
    border: 0px solid red;
  }
ul.tree li.left {
   background-image: url('pic/left.gif'); 
  }
ul.tree li.down {
    background-image: url('pic/down.gif'); 
  }
ul.tree li.no {
    background-image: url('pic/no.gif'); 
  }
/*=========================tree list end ============*/
.topPadding {
    margin-top: 10px;
}
/*== pager begin==*/
.pager li{
border:0; margin:0; padding:0;
float:left;
font-size:10px;
list-style:none;
}
.pager li a {
display:block;
border:solid 1px #ddd;
margin-right:2px;
padding:3px 6px;
color: #000000;
text-decoration:none;
}
.pager .previous-off,
.pager .next-off {
color:#000000;
font-weight:bold;
padding:3px 4px;
}
.pager li.next a,
.pager li.previous a {
border:solid 1px #ffffff;
}
.pager li.current a {
border:solid 1px #000000;
}
.pager .active{
color:#000000;
font-weight:bold;
padding:4px 6px;
}
/*== pager end ==*/
/*==== vote begin ==== */
.VoteBar {
height: 12px;
background-color: #909090; border: solid 1px #b0b0b0;
}

.VoteBarMax {
height: 12px;
background-color: #ff0000; border: solid 1px #ffb0b0;
}
.VoteMax {
color: red; 
}
.Vote {
color: #000000;
}
.VoteBar, .VoteBarMax, .VoteMax, .Vote
{
    border:solid 0px red;
}
/*=== vote end ======*/
.news
{
    width: 100%;
}
div.autocomplete_suggestions {
background-color: white;
border: 1px solid black;
position: absolute;
top:0px;
left:0px;
z-index: 1;
overflow: hidden;
}

div.autocomplete_suggestions div {
cursor: default;
padding: 0px 3px;
}

div.autocomplete_suggestions div.autocomplete_current {
background-color: black;
color: white;
}



div.hint {
position: absolute;
top:0px;
left:0px;
z-index: 99;
background: #F0F9BB;
border: 1px solid black;
}

div.popups {
position: absolute;
top:0px;
left:0px;
z-index: 99;
background: white;
border: 1px solid black;
overflow: hidden;
display:none;
}

div.window {
position: absolute;
top:0px;
left:0px;
z-index: 1;
overflow: hidden;
}

div.letters_check {
width: 250px;
position: absolute;
right: 30px;
top: 5px;
}

div.letters_check_area {
position:absolute;
top:0px;
left:0px;
width: 250px;
padding: 10px;
border: 1px dotted #000000;
background-color: white;
}

div.letters_check_popup {
position: absolute;
top:0px;
left:0px;
width: 250px;
padding: 10px;
border-left: 1px dotted #000000;
border-right: 1px dotted #000000;
border-bottom: 1px dotted #000000;
background-color: white;
overflow: hidden;
}

table tr.row_odd td  { background-color: #dee2e7; }
table tr.row_even td { background-color: #c5ced5; }